@use "../../customs" as *;

.about {
    &-content {
        h3 {
            margin-bottom: rem-calc(4);

            &:not(:first-of-type) {
                margin-top: rem-calc(32);
            }
        }

        a {
            @include text-link;
        }
    }

    &-spotify {
        display: flex;
        gap: rem-calc(80);
        margin-bottom: rem-calc(80);

        @include container;

        @include phablet {
            margin-bottom: rem-calc(120);
        }

        @include tablet {
            margin-bottom: rem-calc(160);
        }
    }
}
