@use "../../customs" as *;

.about {
    &-content {
        h3 {
            margin-bottom: rem-calc(8);

            @include poppins-title;
            @include underline;
            @extend %as-h5;

            &:not(:first-of-type) {
                margin-top: rem-calc(32);
            }
        }

        a {
            @include text-link;
        }

        div p:not(:last-child) {
            margin-bottom: rem-calc(16);
        }
    }

    &-spotify {
        padding: rem-calc(48 0 80);

        @include phablet {
            padding: rem-calc(60 0 120);
        }

        @include tablet {
            padding: rem-calc(80 0 160);
        }

        &-container {
            display: flex;
            gap: rem-calc(80);
            flex-direction: column;

            @include container;

            @include tablet {
                flex-direction: row;
            }
        }
    }
}
