@use "../../customs" as *;

.blog {
    &-container {
        @include container;

        > ul {
            display: flex;
            flex-direction: column;

            > li {
                &:not(:last-of-type) {
                    border-bottom: 1px solid $smoke-color;

                    > a {
                        padding-bottom: rem-calc(24);
                    }
                }

                &:not(:first-of-type) {
                    > a {
                        padding-top: rem-calc(24);
                    }
                }

                > a {
                    @include blog-card;
                }
            }
        }

        > a {
            margin-top: rem-calc(64);
            margin-left: auto;

            @include primary-button;
        }
    }
}
