@use "../../customs" as *;

.blog {
    &posts {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1.25em;

        li {
            a {
                @include blog-card;
            }
        }
    }
}

.back-btn {
    margin: 3em 3em 0 auto;
    margin-left: auto;
    margin-right: 3em;

    @include primary-button;

    i {
        margin-right: 0.5em;
    }
}
