@use "../../customs" as *;

.form-info {
    padding-top: rem-calc(48);

    @include phablet {
        padding-top: rem-calc(60);
    }

    @include tablet {
        padding-top: rem-calc(80);
    }

    &-container {
        display: flex;
        gap: rem-calc(64);
        flex-direction: column;

        @include container;

        @include phablet {
            gap: rem-calc(32);
        }

        @include tablet {
            flex-direction: row;
        }

        @include laptop {
            gap: rem-calc(48);
        }

        @include desktop {
            gap: rem-calc(64);
        }

        > form {
            flex: 50%;
        }

        > section {
            flex: 50%;
        }
    }
}
