@use "../../customs" as *;

.vertical-line-short {
    border-radius: $low-radius;
    display: table;
    margin: 0 auto;
    height: 48px;
    width: 3px;
    background: linear-gradient(145deg, $white-color, $secondary-color);
}

.vertical-line-long {
    border-radius: $low-radius;
    display: table;
    margin: 0 auto;
    height: 64px;
    width: 3px;
    background: linear-gradient(145deg, $white-color, $secondary-color);
}
