@use "../../customs" as *;

.vertical-line-long {
    margin: rem-calc(24) auto rem-calc(48);
    height: rem-calc(80);
}

.vertical-line-short {
    margin: rem-calc(48) auto;
    height: rem-calc(48);
}

.vertical-line-long,
.vertical-line-short {
    border-radius: $low-radius;
    display: table;
    opacity: 0.5;
    width: rem-calc(4);
    background: linear-gradient(
        145deg,
        transparent,
        $secondary-color,
        transparent
    );
}
