@use "../../customs" as *;

.portfolio {
    $portfolio: &;

    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: rem-calc(48);

        @include container;

        > div {
            display: flex;
            flex-direction: column;

            &:has(img) {
                #{$portfolio}-btns {
                    margin-top: auto;
                }
            }

            #{$portfolio}-img {
                display: block;
                border: 2px $snow-color solid;
                border-radius: $medium-radius;
                margin-bottom: rem-calc(32);
                overflow: hidden;
                z-index: 1;

                @include smooth-trans;

                &:hover {
                    opacity: 0.7;
                    border-color: $link-color;

                    @include smooth-trans;
                }
            }

            #{$portfolio}-info {
                padding: rem-calc(8 24);
                border-left: 2px solid $smoke-color;
                border-right: 2px solid $smoke-color;
                min-height: rem-calc(250);
                display: flex;
                flex-direction: column;
                margin-bottom: rem-calc(32);

                > h3 {
                    display: inline;

                    @include poppins-title;

                    @include fluid-typing(18, 21);

                    > span {
                        margin-right: rem-calc(16);
                        color: $secondary-color;
                        font-weight: 600;
                        display: inline;

                        @include fluid-typing(16, 18);
                    }
                }

                > p {
                    margin: rem-calc(16 0 28);

                    @include fluid-typing(16, 18);
                }

                .tools {
                    display: flex;
                    align-items: center;
                    margin-top: auto;

                    > span {
                        margin-right: rem-calc(16);
                        color: $secondary-color;
                        font-weight: 600;
                        display: inline;
                    }

                    > ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: rem-calc(4);

                        > li {
                            background: linear-gradient(
                                145deg,
                                $primary-color,
                                $dark-color
                            );
                            border-radius: $low-radius;
                            padding: rem-calc(2 12);
                            width: fit-content;
                            color: $smoke-color;
                            white-space: nowrap;

                            @include fluid-typing(10, 11);
                        }
                    }
                }
            }

            #{$portfolio}-btns {
                display: flex;
                gap: rem-calc(16);

                .btn {
                    &-dark,
                    &-light {
                        i {
                            margin-right: rem-calc(8);
                            font-size: rem-calc(18);
                        }
                    }

                    &-dark {
                        @include dark-button;
                    }

                    &-light {
                        @include light-button;
                    }
                }
            }
        }
    }
}
