@use "../../customs" as *;

.portfolio {
    $portfolio: &;

    &-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem-calc(48 32);

        @include container;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        > div {
            display: flex;
            flex-direction: column;
            scroll-margin-top: rem-calc(100);

            @include phablet {
                scroll-margin-top: rem-calc(130);
            }

            &:has(img) {
                img {
                    aspect-ratio: 16/9;
                }

                #{$portfolio}-btns {
                    margin-top: auto;
                }
            }

            &:has(img[alt*="404"]) {
                #{$portfolio}-img {
                    pointer-events: none;
                }
            }

            #{$portfolio}-img {
                display: block;
                border: 2px $snow-color solid;
                border-radius: $medium-radius;
                margin-bottom: rem-calc(24);
                overflow: hidden;
                z-index: 1;

                > [data-gatsby-image-wrapper] {
                    width: 100%;
                    height: 100%;
                    display: block;
                }

                @include smooth-trans;

                @include phablet {
                    margin-bottom: rem-calc(32);
                }

                &:hover {
                    opacity: 0.7;
                    border-color: $link-color;
                }
            }

            #{$portfolio}-info {
                padding: rem-calc(8 24);
                border-left: 2px solid $smoke-color;
                border-right: 2px solid $smoke-color;
                min-height: rem-calc(250);
                display: flex;
                flex-direction: column;
                margin-bottom: rem-calc(24);

                @include phablet {
                    margin-bottom: rem-calc(32);
                }

                > h3 {
                    display: inline;

                    @include poppins-title;

                    @include fluid-typing(20, 21);

                    > span {
                        margin-right: rem-calc(16);
                        color: $secondary-color;
                        font-weight: 600;
                        display: inline;

                        @extend %as-medium;
                    }
                }

                > p {
                    margin: rem-calc(16 0 28);

                    @extend %as-medium;
                }

                .tools {
                    display: flex;
                    align-items: center;
                    margin-top: auto;

                    > span {
                        margin-right: rem-calc(16);
                        color: $secondary-color;
                        font-weight: 600;
                        display: inline;
                    }

                    > ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: rem-calc(4);

                        > li {
                            background: linear-gradient(
                                145deg,
                                $primary-color,
                                $dark-color
                            );
                            border-radius: $low-radius;
                            padding: rem-calc(2 12);
                            width: fit-content;
                            color: $smoke-color;
                            white-space: nowrap;

                            @include fluid-typing(10, 11);
                        }
                    }
                }
            }

            #{$portfolio}-btns {
                display: flex;
                gap: rem-calc(16);

                .btn {
                    &-dark,
                    &-light {
                        > svg {
                            font-size: rem-calc(18);
                        }
                    }

                    &-dark {
                        @include dark-button;
                    }

                    &-light {
                        @include light-button;
                    }
                }
            }
        }
    }
}
