@use "sass:color";

@use "../../customs" as *;

.call-back {
    color: $tel-color;
    font-weight: 500;

    @include smooth-trans;

    &:hover {
        color: color.adjust($tel-color, $lightness: -5%);
    }
}

.contact-us {
    @include text-link;
}

.notes-call {
    display: flex;
    gap: rem-calc(24);
    flex-direction: column;

    @include container($mb: rem-calc(80));

    @include phablet {
        flex-direction: row;
        margin-bottom: rem-calc(120);
    }

    @include tablet {
        margin-bottom: rem-calc(160);
    }

    > section {
        flex: 50%;

        @include phablet {
            flex: 55%;
        }
    }

    > form {
        flex: 50%;

        @include phablet {
            flex: 55%;
        }
    }
}
