@use "../../customs" as *;

// TODO: dit hieronder moet naar pages/prices

.call-back {
    color: #1ca111;
    font-weight: 500;

    @include smooth-trans;

    &:hover {
        color: #187710;
    }
}

.contact-us {
    @include text-link;
}

.notes-call {
    display: flex;
    gap: rem-calc(24);
    flex-direction: column;

    @include container($mb: rem-calc(80));

    @include phablet {
        flex-direction: row;
        margin-bottom: rem-calc(120);
    }

    @include tablet {
        gap: rem-calc(64);
        margin-bottom: rem-calc(160);
    }

    > section {
        flex: 50%;

        @include phablet {
            flex: 55%;
        }
    }

    > form {
        flex: 50%;

        @include phablet {
            flex: 55%;
        }
    }
}
