@use "../../customs" as *;

.services {
    $services: &;

    &-overview {
        #{$services}-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;

            @include container;

            > div {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 1em;
                min-width: 325px;
                border-radius: $low-radius;
                outline: 2px solid $primary-color;
                background: linear-gradient(145deg, $white-color, $smoke-color);

                @include box-shadow;

                > h3 {
                    font-weight: 600;

                    small {
                        font-size: 75%;
                        color: $secondary-color;
                    }

                    @include fluid-typing(21, 23);
                }

                > hr {
                    border: 2px solid $lightgrey-color;
                    border-radius: 5px;
                    width: 100%;
                    margin: 1.5em 0;
                }

                > p {
                    margin: 0 0 3em;
                }

                > a {
                    margin-top: auto;

                    @include primary-button($width: 100%);
                }
            }
        }
    }

    &-detail {
        #{$services}-container {
            @include container;

            #{$services}-content {
                max-width: 80ch;

                h3 {
                    font-family: $poppins-font;
                    margin-bottom: rem-calc(24);
                    letter-spacing: normal;

                    @include underline;

                    @include fluid-typing(28, 32);
                }

                h4 {
                    @include fluid-typing(20, 22);
                }

                ol {
                    text-decoration-color: $secondary-color;
                    list-style-type: decimal;
                    margin-inline-start: 1em;

                    li {
                        padding-left: 0.5em;
                        margin-bottom: 0.75em;
                    }
                }

                ul {
                    list-style: none;

                    li {
                        margin-bottom: 0.75em;
                        display: flex;

                        &::before {
                            content: "\203B";
                            color: $secondary-color;
                            font-weight: bold;
                            font-size: rem-calc(16);
                            margin-right: rem-calc(8);
                        }
                    }
                }
            }

            #{$services}-buttons {
                display: flex;
                flex-wrap: wrap;
                margin-top: rem-calc(80);
                gap: rem-calc(24);

                > a {
                    @include primary-button;

                    &:nth-of-type(1) {
                        @include primary-button(2);
                    }
                }
            }
        }
    }
}
