@use "../../customs" as *;

.services {
    $services: &;

    &-overview {
        #{$services}-container {
            display: flex;
            flex-wrap: wrap;
            gap: rem-calc(24);

            @include container;

            > div {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: rem-calc(20);
                min-width: rem-calc(320);
                border-radius: $low-radius;
                outline: 2px solid $primary-color;
                background: linear-gradient(145deg, $white-color, $smoke-color);

                > h3 {
                    font-weight: 900;

                    @include fluid-typing(20, 22);

                    small {
                        color: $secondary-color;
                    }
                }

                > hr {
                    border: 2px solid $lightgrey-color;
                    border-radius: 5px;
                    width: 100%;
                    margin: rem-calc(16 0);

                    @include phablet {
                        margin: rem-calc(24 0);
                    }
                }

                > p {
                    margin-bottom: rem-calc(48);
                }

                > a {
                    margin-top: auto;

                    @include primary-button($width: 100%);
                }
            }
        }
    }

    &-detail {
        #{$services}-container {
            @include container;

            #{$services}-content {
                max-width: 80ch;

                h3 {
                    margin-bottom: rem-calc(24);

                    @include poppins-title;
                    @include underline;
                    @include fluid-typing(23, 28);
                }

                h4 {
                    @include fluid-typing(19, 22);
                }

                ol {
                    text-decoration-color: $secondary-color;
                    list-style-type: decimal;
                    margin-inline-start: rem-calc(16);

                    li {
                        padding-left: rem-calc(8);
                        margin-bottom: rem-calc(12);
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(12);

                    li {
                        display: flex;

                        &::before {
                            content: "\203B";
                            color: $secondary-color;
                            font-weight: bold;
                            font-size: rem-calc(16);
                            margin-right: rem-calc(8);
                        }
                    }
                }
            }

            #{$services}-buttons {
                display: flex;
                flex-wrap: wrap;
                margin-top: rem-calc(60);
                gap: rem-calc(24);

                @include phablet {
                    margin-top: rem-calc(80);
                }

                > a {
                    gap: rem-calc(12);

                    @include primary-button;

                    &:nth-of-type(1) {
                        @include primary-button(2);
                    }
                }
            }
        }
    }
}
