@use "../../customs" as *;

.services {
    $services: &;

    &-overview {
        #{$services}-container {
            display: flex;
            flex-wrap: wrap;
            gap: rem-calc(24);

            @include container;

            > div {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: rem-calc(300);
                border-radius: $low-radius;
                outline: 2px solid $primary-color;
                background: linear-gradient(145deg, $white-color, $smoke-color);
                position: relative;

                @include mobile {
                    min-width: rem-calc(375);
                }

                > h3 {
                    font-weight: 900;
                    padding: rem-calc(16 20);
                    border-bottom: 4px solid $lightgrey-color;
                    color: $white-color;
                    background: linear-gradient(
                        145deg,
                        rgba($primary-color, 0.825),
                        rgba($dark-color, 0.825)
                    );

                    @include fluid-typing(21, 23);

                    small {
                        color: $secondary-color;
                    }
                }

                > div {
                    padding: rem-calc(20);
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    > hr {
                        border: 2px solid $lightgrey-color;
                        border-radius: 5px;
                        width: 100%;
                        margin: rem-calc(16 0);

                        @include phablet {
                            margin: rem-calc(24 0);
                        }
                    }

                    > p {
                        margin-bottom: rem-calc(48);
                        z-index: 1;
                    }

                    > a {
                        margin-top: auto;

                        @include primary-button($width: 100%);
                    }
                }

                > svg {
                    position: absolute;
                    height: 10em;
                    width: 10em;
                    bottom: 50%;
                    left: 50%;
                    transform: translate(-50%, 50%);
                    opacity: 0.375;
                    color: $snow-color;
                    z-index: 0;
                }
            }
        }
    }

    &-detail {
        #{$services}-container {
            @include container;

            #{$services}-content {
                max-width: 80ch;

                h3 {
                    margin-bottom: rem-calc(24);

                    @include poppins-title;
                    @include underline;
                    @include fluid-typing(19, 24);
                }

                h4 {
                    @include fluid-typing(18, 22);
                }

                > ol {
                    text-decoration-color: $secondary-color;
                    list-style-type: decimal;
                    margin-inline-start: rem-calc(16);

                    li {
                        padding-left: rem-calc(8);
                        margin-bottom: rem-calc(12);
                    }
                }

                > ul {
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(12);

                    li {
                        display: flex;

                        &::before {
                            content: "\203B";
                            color: $secondary-color;
                            font-weight: bold;
                            font-size: rem-calc(16);
                            margin-right: rem-calc(8);
                        }
                    }
                }

                > hr {
                    margin: rem-calc(48 0);
                    border: 0.5px solid $lightgrey-color;
                }

                > p {
                    background: linear-gradient(
                        145deg,
                        $primary-color,
                        $dark-color
                    );
                    color: $white-color;
                    padding: rem-calc(12);
                    outline: 2px solid $primary-color;
                    border-radius: $medium-radius;

                    a {
                        display: block;
                        margin-top: rem-calc(24);
                        margin-left: auto;

                        @include primary-button(3, 100%);
                    }
                }
            }

            #{$services}-buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 80ch;
                margin-top: rem-calc(48);
                gap: rem-calc(24);

                > a {
                    &:nth-child(1) {
                        @include primary-button;
                    }

                    &:nth-child(2) {
                        @include primary-button(2);
                    }
                }
            }

            #{$services}-watermark {
                > svg {
                    position: fixed;
                    width: fit-content;
                    height: fit-content;
                    max-height: 15em;
                    max-width: 15em;
                    right: max(24px, calc((100vw - #{rem-calc($layout)}) / 2));
                    top: 25%;
                    opacity: 0.25;
                    z-index: -1;
                    color: rgba($snow-color, 0.625);

                    @include mobile {
                        max-height: 20em;
                        max-width: 20em;
                    }

                    @include desktop {
                        max-height: 25em;
                        max-width: 25em;
                    }
                }
            }
        }
    }
}
