@use "../../customs" as *;

.topics {
    &-container {
        @include container;

        > ul {
            display: flex;
            flex-direction: column;
            gap: rem-calc(16);

            li {
                a {
                    background: linear-gradient(
                        to right,
                        $tissue-color,
                        $smoke-color
                    );
                    padding: rem-calc(16);
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(8);
                    border-width: 2px;
                    border-style: solid;
                    border-radius: $medium-radius;

                    > h3 {
                        @extend %as-h4;

                        span {
                            font-weight: bold;
                        }
                    }

                    > p {
                        @extend %as-medium;
                    }

                    &:hover {
                        border-color: $link-color;
                        transform: scale(1.0125);

                        h3 {
                            color: $link-color;
                        }
                    }
                }
            }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        > a {
            margin-top: rem-calc(64);
            margin-left: auto;

            @include primary-button($flexed: true);
        }
    }
}
