@use '../customs' as *;

.about {
  h3 {
    font-family: $right-font;
    margin-bottom: 0.375em;

    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }

  a {
    font-weight: 500;

    @include textLink;
  }
}
