@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.overtitle {
  font-family: $spec-font;
  font-size: 1.5em;
}

.about-text {
  font-size: 1em;
  font-family: $extra-font;
  font-weight: 500;
}

@media (max-width: 768px) {
  .overtitle {
    font-size: 1.3em;
  }

  .about-text {
    font-size: 0.8em;
  }
}
