@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';


.overtitle {
  font-family: $right-font;
  font-size: 1.5em;
}

.about-text {
  @include fontslg;
}

@media (max-width: 768px) {
  .overtitle {
    font-size: 1.25em;
  }

  .about-text {
    @include fontsmb;
  }
}
