@use '../customs' as *;

.actual {
  &-container {
    @include smoothTrans;
  }

  &-wrapper {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-text {
    text-align: center;
    max-width: 550px;

    h4 {
      @include fluidTyping(20, 24);
    }

    > p {
      margin: 1em 0;

      > a {
        @include textLink;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2em 0.75em;
      margin: 2.5em 0 0;

      @include mobile {
        margin: 2em 0 0;
      }

      > li > a {
        @include topicButton;
      }
    }
  }
}
