@use '../customs' as *;

.blog {
  &posts {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @include phablet {
      gap: 2.5em;
    }

    @include mobile {
      width: 100%;
      gap: 2em;
    }

    li {
      a {
        @include blogCard;
      }
    }
  }
}

.back-btn {
  margin: 3em 3em 0 auto;
  margin-left: auto;
  margin-right: 3em;

  @include primaryButton;

  @include tablet {
    margin: 3em 2em 0 auto;
  }

  @include mobile {
    max-width: 100%;
    margin: 3em 0 0 auto;
  }

  i {
    margin-right: 0.5em;
  }
}
