@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.posts {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
  margin-top: 3%;
}

.excerpt {
  font-family: $para-font;
  font-weight: bold;
}

.post {
  margin: 1rem 0;
  a {
    background: linear-gradient(to right, $fourth-color, #f2f2f2);
    color: $textbase-color;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    border: 5px solid $fourth-color;
    border-radius: 10px;
    overflow: auto;

    &:hover {
      opacity: 0.7;
      color: $link-color;
      border: 5px solid $link-color;
      @include smoothtrans;
    }
  }

  h4 {
    font-family: $spec-font;
    font-weight: 50;
    color: $primary-color;
  }

  .bloggepost {
    color: $link-color;
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1%;
    margin-left: 0.5%;
  }

  .contsubtext {
    color: $primary-color;
    display: block;
    font-family: $extra-font;
    font-weight: bold;
    margin-top: 2%;
    font-size: 0.75em;
  }

  img {
    // height:100%;
    width: 17%;
    float: right;
    border: 3px solid $fourth-color;
    border-radius: 25px;
    margin-left: 2%;
  }
}
