@import '../configs/globals';

.call-form {
  background-color: #f5f5f5;
  border: 3px solid rgba($base-color, 33%);
  border-radius: $medium-radius;
  padding: 2em;

  @include boxShadow;

  > h3 {
    font-family: $right-font;
    color: $primary-color;
  }

  > hr {
    width: 3em;
    border: 3px solid $third-color;
    border-radius: 1px;
    margin: 1em 0 2em;
  }

  > label {
    display: block;
    color: rgba($primary-color, 75%);
    font-weight: 500;
    margin-bottom: 0.5em;

    > span {
      color: $secondary-color;
    }

    &:not(:first-of-type) {
      margin-top: 1em;
    }
  }

  input,
  textarea {
    padding: 0.375em 0.675em;

    background: transparent;
    color: $primary-color;

    border-bottom: 1.5px solid $spec-color;

    @include smoothTrans;
  }

  input:focus,
  textarea:focus {
    border-color: $link-color;

    @include smoothTrans;
  }

  textarea {
    resize: vertical;
  }

  select {
    width: 100%;
    display: block;
    color: $primary-color;
    padding: 0.25em 2em 0.25em 1em;
    margin: 0.75em 0 1em;
    box-sizing: border-box;
    border-radius: $low-radius;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ff990095%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(145deg, $fourth-color 0%, #f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    @include smoothTrans;

    &:focus {
      box-shadow: 0 0 0 2px -moz-mac-focusring;
      outline: none;
    }
  }

  button {
    margin: 2em 0 0 auto;

    @include primaryButton;
  }
}
