@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.formwrapper {
  background-color: #f5f5f5;
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 2px solid $super-color;
  border-radius: 2.5px;
  padding: 35px 50px 20px 50px;
  width: 100%;
  margin: 10px 0px;
}

// .rcpth {
//   margin: 100px;
// }

#call-form {
  .terugbel {
    font-size: 1.25em;
    font-weight: bolder;
    color: $primary-color !important;
    font-family: $right-font;
  }

  .thick {
    margin: 1.75% 0 5% 0;
    padding: 0;
    width: 6%;
    border: 3px solid $third-color;
    border-radius: 1px;
    @include shadow;
  }

  ul {
    list-style: none;
  }

  .fillareaone {
    display: flex;
    justify-content: space-between;

    li {
      width: 30%;
    }
  }

  .fillareatwo {
    width: 65%;
  }

  li {
    padding: 10px;
    list-style: none;
    // margin: 10px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  // --- // --- // -- // -- //

  .choosing {
    background-color: $secondary-color;
    display: block;
    width: 100%;
    font-size: 16px;
    // font-weight: bolder;
    color: $primary-color;
    padding: 0.25em 1.5em 0.25em 0.9em;
    box-sizing: border-box;
    margin-top: 5%;
    margin-left: 1%;
    margin-bottom: 2%;
    border: 3px solid $secondary-color;
    border-radius: 0.5em;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, $fourth-color 0%, #f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    @include smoothtrans;
  }

  .choosing:hover {
    border-color: $link-color;
    @include smoothtrans;
  }
  .choosing:focus {
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: $spectext-color;
    outline: none;
    @include smoothtrans;
  }
  .choosing option {
    font-weight: normal;
  }

  // --- // --- // -- // -- //

  label {
    display: block;
    color: $fifth-color;
    margin-top: 2%;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-weight: 700;
    @include smoothtrans;

    &:hover {
      color: $spectext-color;
      @include smoothtrans;
    }
  }

  input,
  textarea {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 4%;
    margin-bottom: 5%;

    border: none;
    background: transparent;
    color: $primary-color;
    font-size: 16px;
    border-radius: 10px;
    @include smoothtrans;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 5px 7px $very-color;
    background-color: $very-color;
    transition: all 0.5s ease-in-out;
    outline: none;
    border: none;
    color: $link-color !important;
    @include smoothtrans;
  }

  textarea {
    height: 75px;
    resize: vertical;
  }
}

.textarea {
  border-bottom: 2.5px solid #dadada3a;
}

.recaptcha {
  float: right;
  margin-right: -1.5%;
  margin-top: -175px;
  transform: scale(0.8);
}

.callbtn {
  float: right;
  font-family: $alata-font;
  text-transform: uppercase;
  padding: 12.5px 50px;
  background: transparent;
  color: white;
  background-color: $primary-color;
  font-weight: bolder;
  font-size: 12.5px;
  letter-spacing: 2px;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  margin-right: 1%;
  @include smoothtrans;
  margin-top: -75px;
  @include shadow;

  &:hover {
    // color: $secondary-color;
    @include smoothtrans;
    background-color: $button-hover;
    border: 3px solid $link-color;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  #call-form {
    // input,
    // textarea {
    //   font-size: 0.675em !important;
    // }

    label {
      margin-top: 3%;
    }

    textarea {
      height: 100px !important;
    }
  }

  .thick {
    margin-bottom: 12.5% !important;
    margin-top: 5% !important;
    width: 20% !important;
  }

  .formwrapper {
    width: 97% !important;
    margin: 0 auto;
    padding: 25px;
    border-width: 1px;
  }

  .choosing {
    width: 85% !important;
  }

  #call-form {
    .fillareaone {
      display: flex;
      flex-direction: column;

      li {
        width: 100%;
      }
    }
  }

  .recaptcha {
    margin-top: -15px;
    position: static;
    margin-right: -6%;
  }

  .callbtn {
    padding: 12.5px 25px;
    margin-right: 2.5%;
    margin-top: 15px;
    letter-spacing: 1.5px;
    font-size: 11px;
  }

  .fillareatwo {
    width: 100% !important;
  }
}
