@import '../configs/globals';

.desktop-menu {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(to bottom, $white-color, rgba($white-color, 50%));
  height: 90px;
  z-index: 7;
  border-top: 7.5px solid $secondary-color;
  border-bottom: 1px solid rgba($white-color, 100%);

  .logo {
    padding-top: 0.25em;
    width: 225px;

    @include mobile {
      width: 175px;
      padding-top: 0.5em;
    }
  }

  > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include container;

    > ul {
      display: flex;
      align-items: center;
      gap: 1em;

      @include tablet {
        display: none;
      }

      > li {
        > a {
          color: #535252;
          font-family: $right-font;
          font-size: 1.5em;

          opacity: 0.75;

          @include smoothTrans;

          &:hover {
            @include smoothTrans;
            color: $textbase-color;
          }

          > span {
            color: $secondary-color;
          }

          &.whapp {
            font-size: 1.75em;

            @include smoothTrans;

            &:hover {
              color: #1ca111;
            }
          }

          &.active-page {
            color: $secondary-color;
            text-shadow: -1px 1px 0 $textbase-color, 1px 1px 0 $textbase-color,
              1px -1px 0 $textbase-color, -1px -1px 0 $textbase-color;

            @include smoothTrans;

            &:hover {
              color: $spec-color;
            }

            .dots {
              color: white;
            }
          }
        }
      }
    }
  }

  .hamburger {
    display: none;

    @include tablet {
      display: block;
    }
  }
}
