@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.sayin {
  font-size: 0.9em;
  text-align: end;
  padding-right: 7.5%;

  span {
    font-weight: 700;
  }
}

.mini {
  display: block;
  width: 70px;
  margin: 0 auto;
  // opacity: 0.9;
}

.collab {
  text-align: right;

  p {
    margin-bottom: 20px;
  }
}

.hr {
  background: $secondary-color;
  height: 10px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.mailfoot {
  color: #74aece;
}

.telfoot {
  color: #1ca111;
}

.info {
  h4 {
    font-weight: bold;
    font-size: 16px;

    .amsterdam {
      color: red;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $link-color;
    }
  }

  p {
    color: $fifth-color;
    font-family: $poppins-font;
    font-size: 0.9em;
  }

  li {
    padding-left: 20px;
  }
}

.termscods {
  text-align: center;
  padding-bottom: 15px;
  font-size: 0.7em;
  color: $fifth-color;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #3b5998;
}

#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #dd2a7b;
}

#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #55acee;
}

#li::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #0177b5;
}

#gh::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  background: #24292e;
}

#media {
  text-align: center;
  font-family: $right-font;
  letter-spacing: 1.5px;
}

#address {
  text-align: right;
  font-family: $right-font;
  letter-spacing: 1.5px;
}

#personal {
  font-family: $right-font;
  letter-spacing: 1.5px;
}

#media ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .mini {
    width: 50px;
  }

  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  #media {
    padding-top: 50px;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }

  .info li {
    font-size: 15px !important;
  }

  .info h4 {
    font-size: 14px !important;
  }

  .termscods {
    padding-bottom: 25px;
    font-size: 0.5em;
  }

  .sayin {
    font-size: 0.75em;
    padding-right: 0;
  }
}
