@import '../configs/globals';

.footer {
  @include container;

  blockquote {
    text-align: end;
    padding-right: 2em;
    font-size: 0.95rem;
    margin-bottom: 2em;

    @include mobile {
      padding-right: 0;
    }

    br {
      display: none;

      @include mobile {
        display: block;
      }
    }

    cite {
      display: inline-block;
      font-weight: 500;
      font-style: italic;
      background: $sixth-color;
      padding: 0.5em 1em;
      border-radius: $low-radius;
    }
  }

  hr {
    background: $secondary-color;
    height: 10px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  > a {
    display: block;
    margin: 3em auto 4em;
    text-align: center;
    width: fit-content;

    @include mobile {
      margin: 3em auto 2.5em;
    }
  }

  &-logo {
    width: 75px;

    @include smoothTrans;

    animation: roll 45s infinite;
    transform: rotate(30deg);

    @keyframes roll {
      0% {
        transform: rotate(360deg);
      }

      25% {
        transform: rotate(180deg);
      }

      50% {
        transform: rotate(360deg);
      }

      75% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-around;
    padding: 0 5em;
    margin: 5em 0;
    gap: 3em;

    @include mobile {
      margin: 3.5em 0 2.5em;
      padding: 0;
      flex-direction: column;
    }

    > div {
      flex: 1;
    }

    h5 {
      color: $fifth-color;
      font-family: $poppins-font;
      font-size: 1rem;
      margin-bottom: 0.5em;
    }

    a {
      color: $primary-color;
      font-size: 1.1rem;

      @include smoothTrans;

      &:hover {
        color: $link-color;
      }
    }

    .personal {
      font-family: $right-font;

      .mailfoot {
        color: #74aece;
      }

      .telfoot {
        color: #1ca111;
      }
    }

    .media {
      text-align: center;
      font-family: $right-font;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;

        li {
          &.fb::before {
            background: #4064ad;

            @include footerDot;
          }

          &.ig::before {
            background: #dd2a7b;

            @include footerDot;
          }

          &.tw::before {
            background: #55acee;

            @include footerDot;
          }

          &.li::before {
            background: #0177b5;

            @include footerDot;
          }

          &.gh::before {
            background: #24292e;

            @include footerDot;
          }
        }
      }
    }

    .address {
      text-align: right;
      font-family: $right-font;

      p {
        font-size: 1.1rem;
      }

      .amsterdam {
        color: red;
      }
    }
  }

  .credits {
    text-align: center;
    font-size: 0.825rem;
    color: $fifth-color;
    padding-bottom: 1.75em;
    max-width: 57.5%;
    margin: 0 auto;

    @include mobile {
      font-size: 0.65rem;
      max-width: 100%;
      line-height: 1.3rem;
      letter-spacing: $low-spacing;
    }

    a {
      color: $link-color;
    }

    span {
      color: $secondary-color;
      margin: 0 0.25em;
    }
  }
}
