@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.formwrapper {
  // background-color: #f5f5f5;
  // box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 3px solid $sixth-color;
  // border-bottom: 3px solid $sixth-color;
  // border-radius: 3px;
  padding: 50px;
  padding-left: 75px !important;
  padding-bottom: 30px !important;
  width: 75%;
}

// .rcpth {
//   margin: 100px;
// }

#contact-form {
  ul {
    list-style: none;
    margin-bottom: 30px;
  }

  li {
    padding: 10px;
    // padding-top: 3%;

    &:last-of-type {
      border-bottom: none;
    }
  }

  // --- // --- // -- // -- //

  .choosing {
    background-color: $secondary-color;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    color: $spectext-color;
    // line-height: 1.3;
    padding: 0.7em 1.5em 0.6em 0.9em;
    // margin-left: 5%;
    width: 35%;
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    border: 3px solid $secondary-color;
    border-radius: 0.5em;
    appearance: none;
    // color: black;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, $fourth-color 0%, #f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    @include smoothtrans;
  }

  .choosing:hover {
    border-color: $link-color;
    @include smoothtrans;
  }
  .choosing:focus {
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: $spectext-color;
    outline: none;
    @include smoothtrans;
  }
  .choosing option {
    font-weight: normal;
  }

  // --- // --- // -- // -- //

  label {
    display: block;
    color: $spectext-color;
    margin-top: 1%;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-weight: 700;
  }

  input,
  textarea {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 1%;
    margin-bottom: 3%;
    border: none;

    background: transparent;
    color: $primary-color;
    font-size: 0.9em;

    border-radius: 10px;
    @include smoothtrans;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 5px 7px $very-color;
    background-color: $very-color;
    transition: all 0.5s ease-in-out;
    outline: none;
    border: none;
    color: $link-color !important;
    @include smoothtrans;
  }

  textarea {
    height: 125px !important;
    resize: vertical;
  }
}

.textarea {
  border-bottom: 1.5px solid $fourth-color;
  opacity: 0.75;
  width: 97%;
}

.recaptcha {
  transform: scale(0.9);
  // margin-left: 1.5%;
  display: table;
}

.send {
  margin-top: -75px;
  float: right;
  font-family: $alata-font;
  text-transform: uppercase;
  padding: 12.5px 45px;
  background: transparent;
  color: white;
  background-color: $primary-color;
  font-weight: bolder;
  font-size: 12.5px;
  letter-spacing: 2px;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  margin-right: 1.5%;
  @include smoothtrans;
  @include shadow;

  &:hover {
    // color: $secondary-color;
    background-color: $button-hover;
    @include smoothtrans;
    border: 3px solid $link-color;
    font-weight: bold;
  }
}

.thick {
  margin: 0;
  margin-left: -15px;
  width: 30%;
  border: 3px solid $super-color;
}

.undercol {
  text-decoration: underline;
  text-decoration-color: $secondary-color !important;
}

.contactbox {
  background: linear-gradient(to bottom, #59585885, white);
  color: $primary-color;
  height: 100%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 20%;
  padding-left: 20%;
  border-top: 2.5px solid $secondary-color;
  // font-size: 0.9em;
  text-align: center;
  // margin: 0 auto;
  letter-spacing: 0.5px;
}

.contacttel {
  display: inline-block;
  padding-left: 7.5px;
  font-weight: bold;
  font-size: 0.95em;

  a {
    color: #157a38;
    @include smoothtrans;

    &:hover {
      color: #1f57ad;
      @include smoothtrans;
    }
  }
}

.contactmail {
  display: inline-block;
  padding-left: 7.5px;
  font-weight: bold;
  font-size: 0.95em;

  a {
    color: #5986a1;
    @include smoothtrans;

    &:hover {
      color: #1f57ad;
      @include smoothtrans;
    }
  }
}

.contacticons {
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0.5%;
  background: linear-gradient(to right, #d6d6d6, $secondary-color, #d6d6d6);
  // border-top: 0.5px solid $sixth-color;
  // border-bottom: 0.5px solid $sixth-color;
  @include shadow;
  opacity: 0.8;
}

.socials {
  margin-top: 5%;
  margin-bottom: 0.75%;
  font-size: 0.8em;
}

.fbicon,
.igicon,
.twicon,
.liicon,
.ghicon,
.rssicon,
.patricon,
.waicon,
.skicon,
.spicon {
  margin-right: 1.25%;
  margin-left: 1.25%;
  margin-top: 1.25%;
  padding: 0.5%;
  @include smoothtrans;
  color: white;
}

.fbicon:hover {
  @include smoothtrans;
  color: #4064ad;
  transform: scale(1.25);
}
.igicon:hover {
  @include smoothtrans;
  color: #dd2a7b;
  transform: scale(1.25);
}
.twicon:hover {
  @include smoothtrans;
  color: #55acee;
  transform: scale(1.25);
}
.liicon:hover {
  @include smoothtrans;
  color: #0177b5;
  transform: scale(1.25);
}
.ghicon:hover {
  @include smoothtrans;
  color: #24292e;
  transform: scale(1.25);
}
.rssicon:hover {
  @include smoothtrans;
  color: #fa9b3b;
  transform: scale(1.25);
}
.patricon:hover {
  @include smoothtrans;
  color: #f26451;
  transform: scale(1.25);
}
.waicon:hover {
  @include smoothtrans;
  color: #1ca111;
  transform: scale(1.25);
}
.skicon:hover {
  @include smoothtrans;
  color: #05aae8;
  transform: scale(1.25);
}
.spicon:hover {
  @include smoothtrans;
  color: #1db954;
  transform: scale(1.25);
}

.hrcont {
  width: 200%;
  height: 1px;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 0.75em;
  background: linear-gradient(to left, $fourth-color, white);
  opacity: 0.25;
}

.uniqcol {
  color: $secondary-color;
  font-weight: 500;
}

.contactgev {
  margin-bottom: 4em;
  font-size: 0.95em;
}

.opentijd {
  font-size: 0.9em;
}

.covid {
  font-size: 0.65em;
  color: rgb(224, 68, 68);
  font-style: oblique;
  // font-weight: 700;
}

.menefexgev {
  font-size: 0.85em;
  margin-top: 10em;
}

@media (max-width: 768px) {
  #contact-form {
    input,
    textarea {
      font-size: 0.675em !important;
    }
  }

  .textarea {
    border-bottom: 1.5px solid $fourth-color;
    opacity: 0.5;
    width: 97%;
  }

  .formwrapper {
    width: 100% !important;
    margin: 0 auto;
    padding: 15px;
    padding-left: 25px !important;
    border-width: 2px;
  }

  .recaptcha {
    margin-right: -2%;
    display: table;
    margin-top: -5%;
    float: right;
    margin-bottom: -1%;
  }

  .send {
    padding: 12.5px 27.5px;
    margin-top: 7%;
    margin-right: 2%;
    letter-spacing: 1.5px;
    font-size: 11px;
  }

  .contacticons {
    background: linear-gradient(to right, #c0c0c0, $secondary-color, #c0c0c0);
    box-shadow: 0 0 0 !important;
    opacity: 0.6;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: 2.5%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .socials {
    margin-top: 10%;
    font-size: 0.7em;
  }

  .fbicon,
  .igicon,
  .twicon,
  .liicon,
  .ghicon,
  .rssicon,
  .patricon,
  .waicon,
  .skicon,
  .spicon {
    padding: 1%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .hrcont {
    width: 75%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    height: 0.5px !important;
    // display: none !important;
  }

  .choosing {
    width: 75% !important;
  }

  .thick {
    margin: 0 auto;
  }

  .contactgev {
    margin-bottom: 2em;
    font-size: 0.95em;
  }

  .contacttel {
    margin-top: 1em;
  }

  .contactbox {
    padding: 7.5%;
    padding-top: 12.5% !important;
  }

  .covid {
    font-size: 0.575em;
  }
}
