@import '../index.scss';

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: $para-font;
  margin: 3rem 0;
  font-size: 1.2rem;
}

.contact-form {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  background-color: $third-color;
  width: 70%;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields,
.msg {
  width: 55%;
}

.input-fields .input,
.msg textarea {
  margin: 15px 5px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid $secondary-color;
  border-radius: 3px;
  padding: 5px;
  width: 25%;
}

.msg textarea {
  width: 95%;
  height: 220px;
  resize: none;
}

button {
  background: $secondary-color;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  font-family: $spec-font;
  color: $primary-color;

  &:hover {
    background: $secondary-color;
  }
}

::placeholder {
  color: white;
}

input,
textarea {
  color: $textbase-color;
  line-height: 1.6;
}

select {
  background-color: $primary-color;
  color: white;
  margin: 15px 5px;
  padding: 5px;
  width: 100%;
}

.contact-info {
  padding: 0 0 0 20px;
}

.contact-info p span {
  vertical-align: super;
  font-size: 1.7rem;
  padding-left: 5px;
  color: $primary-color;
  font-weight: bolder;
  font-family: $spec-font;
}

// MEDIA QUERIESSS

@media screen and (max-width: 600px) {
  .contact-form {
    flex-direction: column;
  }
  .msg textarea {
    height: 120px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
