@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.formwrapper {
  background-color: #f5f5f5;
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 2px solid $super-color;
  border-radius: 3px;
  padding: 50px;
  width: 70%;
}

// .rcpth {
//   margin: 100px;
// }

#contact-form {
  ul {
    list-style: none;
    margin-bottom: 30px;
  }

  li {
    padding: 10px;
    // padding-top: 3%;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .choosing {
    background-color: $secondary-color;
  }

  // --- // --- // -- // -- //

  .choosing {
    display: block;
    font-size: 0.8em;
    font-family: $spec-font;
    // font-weight: 100 !important;
    color: $spectext-color;
    // line-height: 1.3;
    padding: 0.7em 1.5em 0.6em 0.9em;
    // margin-left: 5%;
    width: 35%;
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    border: 3px solid $secondary-color;
    border-radius: 0.5em;
    appearance: none;
    // color: black;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, $fourth-color 0%, #f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .choosing:hover {
    border-color: $link-color;
    @include smoothtrans;
  }
  .choosing:focus {
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: $spectext-color;
    outline: none;
  }
  .choosing option {
    font-weight: normal;
  }

  // --- // --- // -- // -- //

  label {
    display: block;
    color: $spectext-color;
    font-family: $spec-font;
    margin-top: 2%;
    letter-spacing: 1px;
    font-size: 0.9em;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 3%;
    border: none;
    resize: vertical;
    background: transparent;
    font-weight: bolder;
    color: $primary-color;
    font-family: $para-font;
    font-size: 0.9em;
    padding-left: 10px;
  }

  textarea {
    height: 100px;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  color: $link-color !important;
}

.textarea {
  border-bottom: 1.5px solid $fourth-color;
}

.send {
  float: right;
  text-transform: uppercase;
  padding: 12.5px 45px;
  background: transparent;
  color: white;
  background-color: $primary-color;
  font-weight: bolder;
  font-size: 12.5px;
  letter-spacing: 2px;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  margin-right: 1.5%;
  @include smoothtrans;

  &:hover {
    // color: $secondary-color;
    @include smoothtrans;
    border: 3px solid $link-color;
  }
}

.thick {
  margin: 0;
  margin-left: -15px;
  width: 50%;
  border: 3px solid $spec-color;
  opacity: 0.7;
}

.contactbox {
  margin-top: 2.5em;
  // margin-left: -10px;
  background: linear-gradient(to bottom, $spec-color, $secondary-color);
  opacity: 0.9;
  margin-left: -15px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 3px;
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 2px solid $super-color;
  font-family: $para-font;
  width: 80%;
  font-size: 0.9em;
  // margin: 0 auto;
}

.contacttel {
  display: inline-block;
  padding-left: 12.5px;
  font-size: 0.9em;
  font-style: oblique;
  color: $textbase-color;
  font-family: $spec-font;
}

.contactmail {
  display: inline-block;
  padding-left: 7.5px;
  font-size: 0.9em;
  font-style: oblique;
  color: $textbase-color;
  font-family: $spec-font;
}

.contactgev {
  font-size: 0.9em;
}

.opentijd {
  font-size: 0.9em;
}

.covid {
  font-size: 0.8em;
  color: red;

  font-style: oblique;
  font-family: $spec-font;
}

.gimmixgev {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .formwrapper {
    width: 97% !important;
    margin: 0 auto;
    padding: 25px;
    border-width: 1px;
  }

  .choosing {
    width: 75% !important;
  }

  .thick {
    margin: 0 auto;
  }

  .contactbox {
    width: 100%;
    border-width: 1px;
    margin-left: 0px;
  }
}
