@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.formwrapper {
  // background-color: #f5f5f5;
  // box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 3px solid $sixth-color;
  // border-bottom: 3px solid $sixth-color;
  // border-radius: 3px;
  padding: 50px;
  padding-left: 75px !important;
  padding-bottom: 30px !important;
  width: 75%;
}

// .rcpth {
//   margin: 100px;
// }

#contact-form {
  ul {
    list-style: none;
    margin-bottom: 30px;
  }

  li {
    padding: 10px;
    // padding-top: 3%;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .choosing {
    background-color: $secondary-color;
  }

  // --- // --- // -- // -- //

  .choosing {
    display: block;
    font-size: 0.65em;
    font-weight: bold;
    color: $spectext-color;
    // line-height: 1.3;
    padding: 0.7em 1.5em 0.6em 0.9em;
    // margin-left: 5%;
    width: 35%;
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 2%;
    border: 3px solid $secondary-color;
    border-radius: 0.5em;
    appearance: none;
    // color: black;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, $fourth-color 0%, #f2f2f2 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }

  .choosing:hover {
    border-color: $link-color;
    @include smoothtrans;
  }
  .choosing:focus {
    box-shadow: 0 0 0 2px -moz-mac-focusring;
    color: $spectext-color;
    outline: none;
  }
  .choosing option {
    font-weight: normal;
  }

  // --- // --- // -- // -- //

  label {
    display: block;
    color: $spectext-color;
    margin-top: 1%;
    letter-spacing: 1px;
    font-size: 0.75em;
    font-weight: 700;
  }

  input,
  textarea {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 1%;
    margin-bottom: 3%;
    border: none;

    background: transparent;
    color: $primary-color;
    font-size: 0.9em;

    border-radius: 10px;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 5px 7px $very-color;
    background-color: $very-color;
    transition: all 0.5s ease-in-out;
    outline: none;
    border: none;
    color: $link-color !important;
  }

  textarea {
    height: 125px !important;
    resize: vertical;
  }
}

.textarea {
  border-bottom: 1.5px solid $sixth-color;
}

.send {
  float: right;
  font-family: $alata-font;
  text-transform: uppercase;
  padding: 12.5px 45px;
  background: transparent;
  color: white;
  background-color: $primary-color;
  font-weight: bolder;
  font-size: 12.5px;
  letter-spacing: 2px;
  border: 3px solid $secondary-color;
  border-radius: 5px;
  margin-right: 1.5%;
  @include smoothtrans;

  &:hover {
    // color: $secondary-color;
    background-color: $button-hover;
    @include smoothtrans;
    border: 3px solid $link-color;
    font-weight: bold;
  }
}

.thick {
  margin: 0;
  margin-left: -15px;
  width: 30%;
  border: 3px solid $super-color;
}

.contactbox {
  background: linear-gradient(to right, #656565, $button-hover);
  color: $sixth-color;
  height: 100%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 20%;
  padding-left: 20%;
  // box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border-bottom: 5px solid $primary-color;
  border-top: 5px solid $primary-color;
  font-size: 0.9em;
  text-align: center;
  // margin: 0 auto;
}

.contacttel {
  display: inline-block;
  padding-left: 7.5px;
  font-weight: bold;
}

.contactmail {
  display: inline-block;
  padding-left: 7.5px;
  font-weight: bold;
}

.contacticons {
  white-space: nowrap;
}

.socials {
  margin-top: 5%;
  margin-bottom: 0.75%;
  font-size: 0.8em;
}

.fbicon,
.igicon,
.twicon,
.liicon,
.ghicon,
.waicon,
.spicon {
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  padding: 0.1%;
}

.fbicon:hover {
  @include smoothtrans;
  color: #4064ad;
}
.igicon:hover {
  @include smoothtrans;
  color: #dd2a7b;
}
.twicon:hover {
  @include smoothtrans;
  color: #55acee;
}
.liicon:hover {
  @include smoothtrans;
  color: #0177b5;
}
.ghicon:hover {
  @include smoothtrans;
  color: #24292e;
}
.waicon:hover {
  @include smoothtrans;
  color: #1ca111;
}
.spicon:hover {
  @include smoothtrans;
  color: #1db954;
}

.hrcont {
  width: 200%;
  height: 1px;
  margin-top: 3em;
  margin-bottom: 2.5em;
  background-color: $primary-color !important;
}

.contactgev {
  margin-top: 1em;
  font-size: 0.95em;
}

.opentijd {
  font-size: 0.95em;
}

.covid {
  font-size: 0.8em;
  color: rgb(255, 64, 64);
  font-style: oblique;
  // font-weight: 700;
}

.gimmixgev {
  font-size: 0.95em;
}

@media (max-width: 768px) {
  .formwrapper {
    width: 100% !important;
    margin: 0 auto;
    padding: 15px;
    padding-left: 25px !important;
    border-width: 2px;
  }

  .send {
    padding: 12.5px 27.5px;
    margin-right: 2%;
    letter-spacing: 1.5px;
    font-size: 11px;
  }

  .contacticons {
    text-align: center;
  }

  .fbicon,
  .igicon,
  .twicon,
  .liicon,
  .ghicon,
  .waicon,
  .spicon {
    padding: 0.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
  }

  .hrcont {
    width: 100%;
    margin-top: 3em;
  }

  .choosing {
    width: 75% !important;
  }

  .thick {
    margin: 0 auto;
  }

  .contacttel {
    margin-top: 1em;
  }

  .contactbox {
    border-width: 5px;
    padding: 7.5%;
  }
}
