@use '../customs' as *;

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  box-shadow: none;
  z-index: 6;
  position: inherit;

  @include mobile {
    height: 32.5px;
    width: 37.5px;
  }

  &:focus {
    outline: none;
  }

  > div {
    width: 100%;
    height: 6px;
    background: $primary-color;

    &:hover {
      background-color: $secondary-color;
    }
  }
}
