header {
  padding: 1rem 0 3rem;
}

// .main-inner {
//   display: flex;
// }

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  margin: 2rem;
}

.logo {
  width: 300px;
  padding: 20px;
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

ul li a {
  color: grey;
  font-size: 1.5rem;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.active-nav-item {
  color: #f0c410;
}
