@import '../configs/globals';

.hero {
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &-image {
    margin: 0 auto;
  }

  &-logo {
    width: 225px;
    height: 225px;

    animation: roll 60s infinite;
    transform: rotate(180deg);

    @include smoothTrans;

    @keyframes roll {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(180deg);
      }

      50% {
        transform: rotate(360deg);
      }

      75% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  &-slogan {
    color: $secondary-color;

    font-family: $right-font;
    font-size: 2.25rem;

    background: linear-gradient(145deg, $primary-color, $button-hover);
    border: 3px solid $primary-color;

    padding: 0.1em 1.25em;
    border-radius: 10px;

    width: fit-content;
    margin: 0 auto;
    text-align: center;

    > span {
      color: $sixth-color;
    }

    @include boxShadow;
  }

  .herospec {
    color: $sixth-color !important;
  }

  .scroll-down {
    position: relative;
    bottom: 75px;
    margin: 0 auto;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid $secondary-color;
    border-right: 5px solid $primary-color;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 1.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  }

  .flexancors {
    margin: 0 auto;

    .scroll-head {
      a {
        color: $third-color;

        &:hover {
          color: $link-color;
        }
      }

      .scrollBtn {
        text-transform: uppercase;
        padding: 12.5px 30px;
        background: transparent;
        color: $primary-color !important;
        background-color: #f2f2f2;
        font-weight: 700;
        font-size: 0.8rem;

        border: 3px solid $spec-color;
        border-radius: 5px;

        @include smoothTrans;
        @include boxShadow;

        &:hover {
          color: $link-color;
          border-color: $link-color;
          background-color: #e9e9e9;
          transform: scale(1.05);
        }
      }
    }
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}
