@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.hero {
  height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .fleximage {
    margin: 0 auto;
  }

  .mini {
    width: 200px;
    height: 250px;
    // opacity: 0.9;
  }

  .ipvtpwriter {
    text-align: center;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 40px;

    span.spechead {
      font-size: 1.5em !important;
    }
  }

  .flexhead {
    // height: 300px;
  }

  .hero-head {
    // text-align: center;
    color: $secondary-color;
    letter-spacing: 5px;
    font-family: $right-font;
    font-size: 2.75em;
    // height: 300px;
    background: linear-gradient(to right, $primary-color, $button-hover);
    border: 3px solid $fifth-color;

    padding: 0.1em 1.25em 0.1em 1.25em;
    border-radius: 10px;

    display: table; /* keep the background color wrapped tight */
    margin: 0 auto;
  }

  .hero-headMB {
    font-size: 0.9em;
    text-align: center;
    color: $secondary-color;
    letter-spacing: 2.5px;
    font-family: $right-font;

    background: linear-gradient(to right, $primary-color, $button-hover);
    border: 3px solid $fifth-color;

    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 10px;

    display: table; /* keep the background color wrapped tight */
    margin: 0 auto;
  }

  .herospec {
    color: $sixth-color !important;
  }

  .scroll-down {
    position: relative;
    top: 175px;
    margin: 0 auto;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid $secondary-color;
    border-right: 5px solid $primary-color;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 1.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  }

  .scroll-downMB {
    position: relative;
    bottom: 45px;
    margin: 0 auto;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 17px;
    height: 17px;
    border-bottom: 5px solid $secondary-color;
    border-right: 5px solid $primary-color;
    transform: translate(-50%, 0) rotate(45deg);
    animation: fade_move_down 1.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  }

  .flexancors {
    margin: 0 auto;
    // display: none;
  }

  .scroll-head,
  .scroll-headMB {
    a {
      color: $third-color;

      &:hover {
        color: $link-color;
      }
    }

    .scrollBtn {
      margin-top: 20em;
      text-transform: uppercase;
      padding: 12.5px 30px;
      background: transparent;
      color: $primary-color !important;
      background-color: #f2f2f2;
      font-weight: bolder;
      font-size: 12.5px;
      letter-spacing: 2px;
      border: 3px solid $spec-color;
      border-radius: 5px;
      @include smoothtrans;

      &:hover {
        color: $link-color;
        @include smoothtrans;
        border: 3px solid $link-color;
        background-color: #e9e9e9;
      }
    }

    .scroll-btnMB {
      text-transform: uppercase;
      padding: 10px 12.5px;
      background: transparent;
      color: $primary-color !important;
      background-color: #f2f2f2;
      font-weight: bolder;
      font-size: 0.7em;
      letter-spacing: 1px;
      border: 3px solid $spec-color;
      border-radius: 5px;
      @include smoothtrans;

      &:hover {
        color: $link-color;
        @include smoothtrans;
        border: 3px solid $link-color;
        background-color: #e9e9e9;
      }
    }
  }
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .hero-head {
    // font-size: 1.25em !important;
    // height: 25px !important;
    display: none !important;
    color: $primary-color !important;
  }

  .fleximage {
    margin: 0 auto;
    height: 75px;
  }

  .mini {
    // width: 125px !important;
    height: 150px !important;
    width: 150px !important;
    margin-top: -25px;
  }

  .ipvtpwriter {
    margin-bottom: 20px;
  }

  .flexhead {
    height: 125px !important;
  }

  .flexancors {
    font-size: 0.825em;
    margin-bottom: 0px !important;
  }

  .scroll-down {
    // bottom: 45px !important;
    // width: 17px !important;
    // height: 17px !important;
    display: none;
  }

  .scroll-head {
    // top: 0px !important;
    display: none;

    .scrollBtn {
      // text-transform: uppercase;
      // padding: 10px 12.5px !important;
      // background-color: #f2f2f2;
      // font-size: 0.7em !important;
      // letter-spacing: 1px;
      // border: 3px solid $spec-color;
      // border-radius: 5px;
      display: none;
    }

    .scroll-btnMB {
      padding: 5px 10px !important;
    }
  }
}

@media (min-width: 769px) {
  .ipvtpwriter {
    display: none;
  }

  .scroll-downMB {
    display: none;
  }

  .scroll-headMB {
    display: none;
  }

  .hero-headMB {
    display: none !important;
  }
}
