@import '../configs/globals';

.hero {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;

  &-image {
    margin: 0 auto;
  }

  &-logo {
    width: 225px;
    height: 225px;

    animation: roll 60s infinite;
    transform: rotate(180deg);

    @include smoothTrans;

    @include mobile {
      width: 175px;
      height: 175px;
    }

    @include compact {
      width: 150px;
      height: 150px;
    }

    @keyframes roll {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(180deg);
      }

      50% {
        transform: rotate(360deg);
      }

      75% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

  &-slogan {
    color: $secondary-color;

    font-family: $right-font;
    font-size: 2.25rem;

    letter-spacing: 0.25rem;

    background: linear-gradient(145deg, $primary-color, $button-hover);
    border: 3px solid $primary-color;

    padding: 0.1em 1.25em;
    border-radius: 10px;

    width: fit-content;
    margin: 0.5em auto;
    text-align: center;

    word-wrap: break-word;

    > span {
      color: $sixth-color;
    }

    @include boxShadow;

    @include mobile {
      font-size: 1.375rem;
      padding: 0.25em;
      letter-spacing: 0.125rem;

      border-left: none;
      border-right: none;
      border-radius: 0;

      @include fullWidth;
    }

    @include compact {
      padding: 0.375em 0;
      font-size: 1.1rem;
    }
  }

  &-cta {
    margin: 2em auto;

    .scroll-down {
      position: relative;

      cursor: pointer;
      bottom: 75px;
      margin: 0 auto;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 25px;
      height: 25px;
      border-bottom: 5px solid $secondary-color;
      border-right: 5px solid $primary-color;
      transform: translate(-50%, 0) rotate(45deg);
      animation: fade-move-down 1.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;

      @include mobile {
        bottom: 50px;
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 2em 0;

    > button {
      @include tertiaryButton;
    }

    > span {
      color: $fifth-color;
      font-weight: bolder;
      opacity: 0.75;
    }
  }
}

@keyframes fade-move-down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}
