@import '../index.scss';

.container {
  padding: 3rem;
}

h1 {
  color: $secondary-color;
}

.content {
  /* unvisited link */
  a {
    color: #0080ff;
    text-decoration: none;
  }

  /* visited link */
  // a:visited {
  //   color: #335533;
  // }

  /* mouse over link */
  a:hover {
    color: #191919;
  }

  /* selected link */
  // a:active {
  //   color: blue;
  // }
}
// sticky footer einde ---
