* {
  font-family: lato;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;

  // sticky footer begin ---
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
// sticky footer einde ---
