@use '../customs' as *;

.maps {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  filter: grayscale(75%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  outline: 3px solid rgba($primary-color, 75%);
  border-radius: $low-radius;
  overflow: hidden;

  height: 200px;
  width: 100%;
  margin-top: 2em;

  @include boxShadow;

  .marker {
    height: 50px;
    width: 50px;
  }
}
