@import '../configs/globals';

.notes {
  background: linear-gradient(145deg, $spec-color, $very-color);
  padding: 2em;
  border-radius: $medium-radius;
  height: 100%;

  @include boxShadow;

  h4 {
    font-family: $right-font;
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  p:not(:last-child) {
    margin-bottom: 1em;
  }
}
