@import '../configs/globals';

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  @include phablet {
    grid-template-columns: 1fr;
  }

  &-img {
    max-height: 100%;
    max-width: 100%;
    border: 2px $fourth-color solid;
    border-radius: 10px;
    z-index: 1;

    @include smoothTrans;
    @include boxShadow;

    &:hover {
      opacity: 0.7;
      border-color: $link-color;

      @include smoothTrans;
    }
  }

  &-info {
    padding: 0.5rem 1rem;
    border: 0.5px solid $secondary-color;
    margin: 2em 0;
    border-bottom: none;
    border-top: none;
    min-height: 300px;

    @include phablet {
      min-height: auto;
    }

    span {
      font-family: $right-font;
      margin-right: 1em;
      color: $secondary-color;
      font-size: 0.9rem;
      display: inline;
    }

    h5 {
      display: inline;
    }

    p {
      font-weight: 300;
      font-size: 0.9rem;
      margin: 1.5em 0 1em;
    }

    p:nth-of-type(2) {
      font-weight: 500;
      margin: 0 0 2em;
    }

    .tools {
      display: flex;
      align-items: center;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;

        li {
          background: linear-gradient(145deg, $primary-color, $button-hover);
          border-radius: $low-radius;
          padding: 0 0.5em;
          color: $sixth-color;
          font-size: 0.85em;
          white-space: nowrap;

          @include mobile {
            font-size: 0.65rem;
          }

          @include boxShadow;
        }
      }
    }
  }

  &-btns {
    display: flex;
    gap: 1em;

    .btn {
      &-dark {
        i {
          margin-right: 0.5em;
          font-size: 1.125em;
        }

        @include darkButton;
      }

      &-light {
        i {
          margin-right: 0.5em;
          font-size: 1.125em;
        }

        @include lightButton;
      }
    }
  }
}
