@import '../configs/globals';

.prices {
  display: flex;
  gap: 1.5em;

  @include mobile {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  @include mobile {
    gap: 2.5em;
  }

  > li {
    padding: 1.5em 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, $spec-color, $secondary-color);
    border-radius: 25px;

    h4 {
      text-align: center;
      text-decoration: underline;
      text-decoration-color: $super-color;
      font-weight: 700;
      font-family: $right-font;
    }

    @include smoothTrans;
    @include boxShadow;

    &:hover {
      transform: scale(1.0125);
      @include smoothTrans;
    }

    .price {
      font-size: 1.6rem;
      text-align: center;
      font-weight: 700;
      opacity: 0.8;
      margin: 0 0 0.5em;

      > span {
        text-decoration: line-through;
        font-size: 0.75rem;
      }

      > sup {
        font-size: 0.7rem;
        font-weight: 500;
        display: block;
        top: 0.5em;
      }

      &-action {
        text-align: center;
        font-size: 0.75em;
        font-weight: bolder;
        opacity: 0.5;
      }

      &-contains {
        text-align: center;
        font-size: 0.75em;
        font-weight: bold;
        margin: 0.25em 0 1em;
        text-decoration: underline;
        text-decoration-color: $super-color;
      }

      &-feat {
        font-size: 0.9rem;
        font-style: italic;
        font-weight: bold;
        color: white;
      }

      &-bold {
        font-weight: 700;
        font-style: oblique;
        background: rgba(245, 245, 245, 0.375);
        border-radius: 2.5px;
      }
    }

    > ul {
      margin-bottom: 2em;

      > li {
        list-style: none;
        text-align: center;
        border-bottom: 1px $spec-color solid;
        padding: 0.875em 0.5em;
        font-size: 0.9em;
      }
    }

    button {
      margin: auto auto 0;
      display: block;

      @include tertiaryButton;

      &:hover {
        transform: scale(1);
      }
    }
  }
}

.callme {
  color: #1ca111;
  font-weight: 500;

  @include smoothTrans;

  &:hover {
    color: #187710;
  }
}
