@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.consbtn {
  background: transparent;
  border: none;
  color: orange;
  padding: 0;
  @include smoothtrans;
  outline: none !important;

  &:hover {
    color: $hover-color;
    @include smoothtrans;
  }
}
