@import '../index.scss';

.container {
  width: 75%;
  // height: auto;
  height: 100%;
  margin: 0 auto;
  background-color: #d0d0d0;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

.quotetext {
  color: white;
}

.content {
  // text-align: center;
  padding: 10px;
  display: flex;

  p {
    width: 100%;
    padding: 2%;
  }
}
