@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.quote-container {
  margin-bottom: 1%;
  background: linear-gradient(to right, white, $fourth-color);
  height: 100%;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.quote-wrapper {
  padding: 1.75%;

  section.services {
    width: 100%;
    margin: 2%;
    padding-right: 0.75% !important;
  }

  .quote-head {
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 10%;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: $right-font;
  }

  .quote-kwali {
    padding-left: 7.5%;
    list-style: none;

    li::before {
      content: '\203B'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
      color: $secondary-color; /* Change the color */
      font-weight: bold; /* If you want it to be bold */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em;
      margin-right: 0.5em; /* Also needed for space (tweak if needed) */
    }
  }

  .quote-text {
    @include fontslg;
    font-size: 0.825em;
    margin-top: 15%;
    width: 90%;

    .quote-Focus {
      font-weight: 700;
      font-size: 1.1em;
    }
  }

  .quote-block {
    min-height: 25%;
  }

  .thick {
    margin: 0;
    padding: 0;
    width: 23%;
    border: 3px solid $third-color;
    border-radius: 1px;
    @include shadow;
  }

  .thin {
    border-color: $secondary-color;
    padding: 0px;
    margin: 0px;
    width: 50%;
    @include shadow;
  }
}

.endline {
  border-width: 5px;
  background: $secondary-color;
  // border-style: dashed;
  opacity: 0.5;
  width: 90%;
}

@media (max-width: 768px) {
  .quote-wrapper {
    padding: 5%;
  }

  section.services {
    width: 100%;
    margin: 2%;
    padding-right: 5% !important;
  }

  .quote-block {
    min-height: 10% !important;
  }

  .quote-container {
    border-width: 1px;
  }

  .quote-head {
    font-size: 1.1em !important;
  }

  .quote-text {
    @include fontsmb;
    margin-top: 10% !important;
  }
}

@media (min-width: 768px) {
  .quote-wrapper {
    padding: 5%;
  }
}

@media (min-width: 1200px) {
  .endline {
    display: none;
  }
}
