@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.quote-container {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 1%;
  background: linear-gradient(to bottom, #f5f5f5, $fourth-color);
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 2px solid $super-color;
  border-radius: 2.5px;
}

.quote-wrapper {
  padding: 3%;

  #services {
    width: 100%;
    margin: 3%;
  }

  .quote-head {
    display: inline-block;
    padding-left: 5%;
    margin-bottom: 7.5%;
    font-family: $extra-font;
    font-weight: bold;
    font-size: 1.5em;
  }

  .quote-kwali {
    padding-left: 7.5%;
  }

  .quote-text {
    @include fontslg;
    margin-top: 15%;
    font-family: $extra-font;
    line-height: 1.7em;
  }

  .thick {
    margin: 0;
    width: 23%;
    border: 3px solid $third-color;
  }

  .thin {
    border: 0.5px solid $secondary-color;
  }
}

.endline {
  border-width: 5px;
  border-color: $primary-color;
  opacity: 0.75;
  border-radius: 25px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .quote-wrapper {
    padding: 5%;
  }

  .quote-container {
    width: 95%;
    border-width: 1px;
  }

  .quote-head {
    font-size: 1.35em !important;
  }

  .quote-text {
    @include fontsmb;
  }
}

@media (min-width: 769px) {
  .endline {
    display: none;
  }
}
