@import '../configs/globals';

.service {
  &-container {
    background: linear-gradient(145deg, $sixth-color, $fourth-color);

    @include fullWidth;
  }

  &-wrapper {
    @include container(0, 4em);

    @include mobile {
      @include container(0, 3em);
    }

    > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      gap: 2em;

      @include laptop {
        flex-wrap: wrap;
      }

      @include mobile {
        flex-direction: column;
      }

      > div {
        flex: 1;

        @include laptop {
          flex: 0 0 45%;
        }

        @include mobile {
          flex: 1;

          &:not(:first-of-type) {
            border-top: 5px solid $spectext-color;
            padding-top: 3em;
            margin-top: 2em;
          }
        }

        span {
          font-weight: 700;
          font-size: 1rem;
        }

        p {
          min-height: 230px;
          max-width: 90%;
          margin: 2em 0;

          @include laptop {
            min-height: 150px;
          }
        }

        ul {
          padding-left: 1em;
          margin-top: 1em;
          list-style: none;
          font-weight: 400;

          li {
            font-size: 0.875rem;

            &::before {
              content: '\203B';
              color: $secondary-color;
              font-weight: bold;
              font-size: 1.25em;
              margin-right: 0.5em;
            }
          }
        }
      }
    }

    > div:nth-child(2) {
      display: flex;
      justify-content: center;
      margin-top: 3em;

      a {
        @include primaryButton;
      }
    }

    .thick {
      width: 25%;
      border: 3px solid $third-color;
    }

    .thin {
      width: 75%;
      border: 1px solid $secondary-color;
      opacity: 0.5;
      margin-bottom: 2em;
    }

    .endline {
      border-width: 5px;
      background: $secondary-color;
      opacity: 0.5;
      display: none;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    gap: 1em;
    min-height: 40px;
    margin-bottom: 1em;

    i {
      font-size: 1.5em;
      color: $secondary-color;
    }

    h4 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
