@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.side-bar {
  height: 100%;
  opacity: 0.95;
  color: black;
  background: linear-gradient(to right, $third-color, white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;

  .menuline {
    margin: 0;
    width: 50%;
    border: 1px solid $secondary-color;
  }

  &.open {
    transform: translateY(0);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    font-size: 1.35rem;
    margin-top: 2.5rem;
    letter-spacing: 3px;
  }

  li {
    margin: -0.6rem;
  }

  a {
    color: $primary-color;
    text-decoration: none;
    font-family: $right-font;
    text-shadow: -5px 0 #cccccc, 0 5px #cccccc, 5px 0 #cccccc, 0 -5px #cccccc;

    &:hover,
    &:active {
      color: $textbase-color;
      text-shadow: -15px 0 $third-color, 0 15px $third-color,
        15px 0 $third-color, 0 -15px $third-color;

      .dots {
        color: $spec-color;
      }
    }

    .dots {
      color: $secondary-color;
      font-size: 50px;
    }

    .wapp {
      font-size: 0.65em;
    }
  }

  .activePage {
    font-size: 1.55em;
    color: $textbase-color;

    text-shadow: -10px 0 $secondary-color, 0 10px $secondary-color,
      10px 0 $secondary-color, 0 -10px $secondary-color;

    .dots {
      color: $third-color;
    }

    @include smoothtrans;
  }
}

@media (min-width: 769px) {
  .side-bar {
    display: none;
  }
}
