@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.slider-info {
  z-index: 1;
  position: absolute;
  background: #fff;
  opacity: 0.9;
  right: 0;
  bottom: -35px;
  font-size: 0.725rem;
  width: 300px;
  border: 2.5px ridge #ffcc00;
  border-radius: 7px;
}

.beschrijving {
  padding: 4%;

  a {
    font-family: $alata-font;
    color: white;
    @include smoothtrans;

    &:hover {
      color: $hover-color;
      @include smoothtrans;
    }
  }

  .project-link {
    position: absolute;
    background: linear-gradient(to left, #ffcc007c, $secondary-color);
    padding: 1.5% 3%;
    border: 1.75px solid $fourth-color;
    border-radius: 5px;
    top: 7%;
    left: 4%;
    font-weight: bold;
    font-size: 1em;
    // color: $primary-color;
    color: $button-hover;
    letter-spacing: 0.75px;
    @include smoothtrans;
    // text-transform: uppercase;
    @include shadow;

    &:hover {
      @include smoothtrans;
      color: #4da3db;
      // background: $fourth-color;
      border-color: #4da3db;
    }
  }

  h5 {
    color: $primary-color;
    font-family: $right-font;
    margin-bottom: 10%;
    margin-top: 1%;
    font-size: 1.5em;
    text-align: right;
  }

  p {
    color: $primary-color;
    text-align: right;
  }

  .geschreven {
    font-size: 0.75em;
    // font-style: oblique;
    // font-weight: 700;
    color: $primary-color;
    text-align: right;

    .technologien {
      background: linear-gradient(to right, $primary-color, $button-hover);
      border-radius: 3px;
      padding: 0.175% 2% 0.175% 2%;
      color: white;
      white-space: nowrap;
      @include shadow;
    }
  }
}

@media (max-width: 768px) {
  .slider-info {
    bottom: -25px;
    right: -50px;
    font-size: 0.65rem;
    width: 65%;
  }

  .beschrijving {
    padding: 3% 5% 0 3%;
    margin-bottom: -7.5px;

    h5 {
      margin-top: 2px;
      font-size: 1.25em;
    }

    p {
      font-size: 0.8em;
    }

    .geschreven {
      font-size: 0.6em;
      margin-top: -2.5%;

      .technologien {
        border-radius: 2.5px;
        padding: 0.175% 1.75% 0.175% 1.75%;
      }
    }

    .project-link {
      top: 7%;
      left: 3%;
      padding: 1.5% 2.5% !important;
      font-size: 0.8em;
      border-width: 1.25px;
      letter-spacing: -0.25px;
    }
  }
}
