@use '../customs' as *;

.smallbio {
  &-container {
    background: linear-gradient(145deg, $spec-color, $white-color);
    opacity: 0.95;

    @include fullWidth;
  }

  &-wrapper {
    @include container(0, 4em);

    @include mobile {
      @include container(0, 3em);
    }

    .thick-hr {
      margin: 0;
      width: 15%;
      border: 3px solid $white-color;
    }

    .thin-hr {
      border: 2px solid $white-color;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;

      i {
        color: $primary-color;
        font-size: 2em;

        @include smoothTrans;

        &:hover {
          color: $link-color;
        }
      }
    }
  }

  &-text {
    margin: 2em 0;
    max-width: 87.5%;

    a {
      @include textLink;
    }

    @include mobile {
      max-width: 100%;
    }
  }
}

.meerover {
  @include primaryButton;
}
