@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.smallbio-container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1%;
  background: linear-gradient(to bottom, white, $secondary-color);
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
  border: 5px solid $fifth-color;
  border-radius: 2.5px;
  opacity: 0.9;
}

.smallbio-wrapper {
  padding: 2% 5%;

  .smallbio-text {
    @include fontslg;
    margin-top: 3%;
    font-family: $extra-font;
    color: $textbase-color;
    opacity: 0.75;
    padding: 10px 0;
  }

  .thick {
    margin: 0;
    width: 10%;
    border: 3px solid $third-color;
  }

  .thin {
    border: 1px solid $spec-color;
  }
}

@media (max-width: 768px) {
  .smallbio-wrapper {
    padding: 5%;
  }

  .smallbio-container {
    width: 90%;
    border: 3px solid $fourth-color;
  }

  .smallbio-text {
    @include fontsmb;
  }
}
// color #d0d0d0;
