@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.spotcont {
  text-align: center;
  background: linear-gradient(to bottom, white, $secondary-color);
  // opacity: 0.85;
  padding: 20px;
  border: 2px $super-color solid;
  border-radius: 7.5px;
  width: inherit;
  @include shadow;
}

.thick {
  margin: 0;
  width: 25%;
  border: 3px solid $primary-color;
  border-radius: 25px;
  @include shadow;
}

.spotext {
  letter-spacing: 0.02em;
  font-size: 0.7em;
  font-weight: 300;
  margin-bottom: 5%;
  color: $textbase-color;
  opacity: 0.75;
}

@media (max-width: 768px) {
  .spotcont {
    border-width: 1px;
  }
}
