@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.spotcont {
  text-align: center;
  background-color: $secondary-color;
  padding: 20px;
  margin: 5px;
  border: 3px $fourth-color solid;
  border-radius: 5px;
}

.spotext {
  font-family: $extra-font;
  letter-spacing: 0.02em;
  font-size: 0.7em;
  line-height: 1.7em;
  font-weight: 500;
  margin-bottom: 5%;
  color: $textbase-color;
  opacity: 0.7;
}
