@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.spotcont {
  text-align: center;
  background: linear-gradient(to bottom, white, $secondary-color);
  // opacity: 0.85;
  padding: 20px;
  margin: 5px;
  border: 3px $super-color solid;
  border-radius: 3px;
}

.spotext {
  font-family: $extra-font;
  letter-spacing: 0.02em;
  font-size: 0.7em;
  line-height: 1.7em;
  font-weight: 500;
  margin-bottom: 5%;
  color: $textbase-color;
  opacity: 0.85;
}

@media (max-width: 768px) {
  .spotcont {
    border-width: 1px;
  }
}
