@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.tlbar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(to bottom, $fourth-color, rgba(255, 255, 255, 0));
  // background: $fourth-color;
  height: 90px;
  z-index: 300;
  border-top: 7.5px solid $secondary-color;
  // border-bottom: 3px solid white;

  &Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem;
  }

  .spacer {
    flex: 1;
  }

  &NavigationItems {
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
    }

    li {
      padding: 0 0.5rem;
    }

    .activePage {
      color: $secondary-color;
      text-shadow:
        -1px 1px 0 $textbase-color,
        1px 1px 0 $textbase-color,
        1px -1px 0 $textbase-color,
        -1px -1px 0 $textbase-color;
      // text-decoration: overline;
      @include smoothtrans;

      &:hover {
        color: $spec-color;
      }

      .dots {
        color: white;
      }
    }

    a {
      color: #535252;
      font-family: $right-font;
      font-size: 1.5em;

      opacity: 0.7;
      @include smoothtrans;

      &:hover {
        @include smoothtrans;
        color: $textbase-color;
      }

      &:active {
        @include smoothtrans;
        color: $secondary-color;
      }

      .dots {
        color: $secondary-color;
      }

      .whapp {
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        margin-left: 15px;
        @include smoothtrans;

        &:hover {
          color: #1ca111;
          @include smoothtrans;
        }
      }
    }
  }
}

@media ($laptop) {
  .tlbarNavigationItems {
    display: none;
  }

  .tlbar {
    &Navigation {
      padding: 0 1.5rem !important;
    }
  }
}

@media ($laptop) {
  .spacer-two {
    flex: 1 100%;
  }
}

@media (min-width: 993px) {
  .tlbarToggleButton {
    display: none;
  }
}
