@import '../customs/imports';
@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.toolbar {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: linear-gradient(to left, $fourth-color, $third-color);
  // background: $fourth-color;
  height: 90px;
  z-index: 300;
  border-top: 5px solid $secondary-color;
  border-bottom: 3px solid $fourth-color;

  &__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
  }

  .spacer {
    flex: 1;
  }

  &_navigation-items {
    ul {
      list-style: none;
      margin: 0;
      display: flex;
      align-items: center;
    }

    li {
      padding: 0 0.7rem;
    }

    .activePage {
      color: $secondary-color;
      text-shadow: -1px 1px 0 $textbase-color, 1px 1px 0 $textbase-color,
        1px -1px 0 $textbase-color, -1px -1px 0 $textbase-color;
      // text-decoration: overline;
      @include smoothtrans;

      &:hover {
        color: $spec-color;
      }

      .dots {
        color: white;
      }
    }

    a {
      color: $primary-color;
      font-family: $right-font;
      font-size: 1.5em;

      opacity: 0.7;

      &:hover {
        @include smoothtrans;
        color: $textbase-color;
      }

      &:active {
        @include smoothtrans;
        color: $secondary-color;
      }

      .dots {
        color: $secondary-color;
      }

      .whapp {
        padding-bottom: 7.5px;

        &:hover {
          color: #1ca111;
          @include smoothtrans;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }

  .toolbar {
    &__navigation {
      padding: 0 1.5rem !important;
    }
  }
}

@media (max-width: 768px) {
  .spacer-two {
    flex: 1 100%;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}

// TODO: Margin weghalen bij desktop

// #topnavbar {
//   width: 100%;
//   background: $third-color;
//   height: 110px;
//   position: fixed;
//   z-index: 2;
//   border-bottom: 3px solid $secondary-color;

//   #brand {
//     float: left;
//     display: block;
//     margin-left: 5%;
//     line-height: 80px;
//     font-weight: bold;
//   }

//   #menu {
//     float: left;
//     right: 5%;
//     position: fixed;
//     margin-top: 0;

//     .whapp {
//       margin-left: 10%;

//       &:hover {
//         color: #1ca111;
//         @include smoothtrans;
//       }
//     }

//     li {
//       padding-left: 30px;
//       display: inline-block;
//       // cursor: none;
//       font-weight: 500;
//       font-size: 1.3rem;
//       padding-top: 6%;
//       line-height: 30px;
//       position: relative;

//       .activePage {
//         color: white;
//         font-size: 1.3em;
//         @include smoothtrans;
//       }

//       a {
//         color: $primary-color;
//         font-family: $spec-font;
//         opacity: 0.7;

//         &:hover {
//           @include smoothtrans;
//           opacity: 1;
//         }
//       }

//       .underline {
//         position: relative;
//       }

//       .underline:after {
//         content: '';
//         position: absolute;
//         width: 0;
//         height: 6px;
//         display: block;
//         margin-top: 5px;
//         left: 0;
//         background: $fourth-color;
//         transition: width 0.5s ease-in-out;
//       }

//       .underline:hover:after {
//         width: 100%;
//         left: 0;
//         background: $spec-color;
//         transition: 0.5s ease-in-out;
//       }
//     }
//   }
// }

// #toggle {
//   position: absolute;
//   right: 50px;
//   top: 30%;
//   font-weight: 300;
//   font-size: 1.1rem;
//   z-index: 2;
//   width: 30px;
//   height: 25px;
//   // cursor: none;
//   float: right;
//   visibility: hidden;
//   opacity: 0;
//   @include smoothtrans;
// }

// .close-btn {
//   position: absolute;
//   right: 16px;
//   font-weight: 300;
//   z-index: 2;
//   // cursor: none;
//   top: -2px;
//   line-height: 80px;
// }

// span.dots {
//   color: $spec-color;
// }

// #resize {
//   z-index: 1;
//   top: 0px;
//   // TODO: DIT MOET BEKEKEN WORDEN "position: fixed" !
//   position: fixed;
//   background: black;
//   width: 100%;
//   height: 100%;
//   // visibility: hidden;
//   opacity: 0;
//   transition: all 1s ease-out;

//   #menu {
//     height: 90px;
//     position: absolute;
//     left: 45%;
//     transform: translateX(-40%);
//     text-align: center;
//     // display: table-cell;
//     vertical-align: center;

//     li {
//       display: block;
//       text-align: center;
//       padding: 10px 0;
//       font-size: 50px;
//       min-height: 50px;
//       font-weight: bold;
//       @include smoothtrans;
//       // cursor: none;

//       &:nth-child(1) {
//         margin-top: 140px;
//       }

//       a {
//         color: $primary-color;
//       }
//     }
//   }
// }

// #resize li:nth-child(1) {
//   margin-top: 140px;
// }

// @media (max-width: 768px) {
//   #toggle {
//     visibility: visible;
//     opacity: 1;
//     margin-top: 6px;
//     margin-right: 4px;
//   }

//   nav {
//     #brand {
//       margin-left: 24px;
//     }

//     #menu {
//       display: none;
//     }
//   }

//   #menu a {
//     font-size: 20px;
//     font-weight: 300;
//   }

//   #resize li span {
//     font-weight: bolder;
//   }
// }

// @media (min-width: 768px) {
//   #resize {
//     // visibility: hidden !important;
//   }
// }
