@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';
@import '../customs/resets';

.line {
  top: 50%;
  margin: auto;
  border-right: 3px solid $secondary-color;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 6s steps(50) 1.5s 1 normal both,
    blinkTextCursor 1300ms steps(60) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 630px;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: $secondary-color;
  }
  to {
    border-right-color: transparent;
  }
}

.tpwriter {
  margin: 0 auto 0;
  letter-spacing: -1px;
  font-size: 2.2em;
  font-family: $poppins-font;
  font-weight: 700;
}

@media (max-width: 768px) {
  .tpwriter {
    display: none;
  }
}
