@import '../customs/functions';
@import '../customs/colors';
@import '../customs/fonts';

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;

  .workimg {
    max-height: 100%;
    max-width: 100%;
    border: 2px $fourth-color solid;
    border-radius: 10px;
    z-index: 1;

    @include smoothtrans;
    @include shadow;

    &:hover {
      opacity: 0.7;
      border-color: $link-color;
      @include smoothtrans;
    }
  }

  .project-info {
    padding: 0.5rem 1rem;
    border: 0.5px solid $secondary-color;
    margin-top: 2em;
    border-bottom: none;
    border-top: none;
    min-height: 250px;

    .project-text {
      letter-spacing: 0.02em;
      line-height: 1.6;
      font-size: 0.8rem;
      font-weight: 300;
    }

    .projectOrg {
      color: $primary-color;
      font-weight: bold;
      font-size: 1rem;
      font-family: $right-font;
    }

    .projectHead {
      font-family: $right-font;
      margin-right: 2%;
      color: $secondary-color;
      font-size: 0.9rem;
    }

    .projectField {
    }

    .technologien {
      background: linear-gradient(to right, $primary-color, $button-hover);
      border-radius: 4px;
      padding: 0.175% 1.5% 0.175% 1%;
      margin: 1% 0 1% 0%;
      color: white;
      font-size: 0.85em;
      white-space: nowrap;
      @include shadow;
    }
  }

  .btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 3% 1% 0;
    margin-bottom: 5%;
    border: 2px solid $fourth-color;
    width: 48%;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: $alata-font;
    @include smoothtrans;
    @include shadow;

    &:hover {
      background: $secondary-color;
      border-color: $primary-color;
      @include smoothtrans;

      .workicon {
        color: $primary-color;
        @include smoothtrans;
      }
    }

    .workicon {
      margin-right: 2%;
      @include smoothtrans;
    }

    &-dark {
      @extend .btn;
      background: $primary-color;
      color: #fff;
      text-align: center;
    }

    &-light {
      @extend .btn;
      background: $fourth-color;
      color: $primary-color;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
  }

  .workimg {
    max-height: 100%;
    max-width: 100%;
  }

  .project-info {
    min-height: 0px !important;
    margin-bottom: 1em;

    .project-text {
      letter-spacing: 0.03em !important;
    }
  }
}
