{
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {},
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
