{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": 0,
    "import/no-absolute-path": 0,
    "global-require": 0,
    // "quote-props": "warn",
    // "semi": "error",
    // "prefer-destructuring": "warn",
    // "react/jsx-one-expression-per-line": "off",
    // "react/destructuring-assignment": 1,
    // "react/jsx-key": 1,
    // "react/display-name": 1,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/accessible-emoji": 0,
    "react/static-property-placement": 0,
    "react/jsx-props-no-spreading": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
