{
  "parser": "babel-eslint",
  "rules": {
    "react/destructuring-assignment": 0,
    "react/jsx-key": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/prop-types": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-closing-tag-location": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-equals-spacing": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-props-no-multi-spaces": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-wrap-multilines": 0,
    "strict": 0,
    "react/display-name": 0,
    "prefer-destructuring": ["error", { "object": false, "array": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ]
}
