@use "./customs" as *;

.cookie {
    $cookie: &;

    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 10;

    &-container {
        background: linear-gradient(145deg, $primary-color, $dark-color);
        opacity: 0.95;
        color: $snow-color;
        border-bottom: 7.5px solid $secondary-color;
        border-top: 7.5px solid $primary-color;
        width: calc(100% - 2.5rem);
        max-width: rem-calc(1200);
        margin: 0 auto;
        padding: rem-calc(24);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -12.5%);
        border-radius: $low-radius;

        #{$cookie}-content {
            > h3 {
                @include fluid-typing(28, 32);
            }

            > p {
                color: $white-color;
                margin: rem-calc(16 0 24);

                @include fluid-typing(16, 18);

                > span {
                    display: block;
                    margin: rem-calc(16 0);

                    @include fluid-typing(15, 17);
                }
            }
        }

        #{$cookie}-btns {
            display: flex;
            justify-content: flex-end;
            gap: rem-calc(16);
            align-items: center;

            #{$cookie}-btn {
                &-accept,
                &-decline {
                    border-radius: $low-radius;
                    padding: rem-calc(8 16);

                    @include smooth-trans;
                }

                &-accept {
                    color: $dark-color;
                    background-color: $secondary-color;

                    &:hover {
                        background-color: $ivory-color;
                    }
                }

                &-decline {
                    font-weight: 300;
                    background: transparent;
                    border: 1px solid #dadada86;
                    color: $secondary-color;

                    &:hover {
                        border-color: $white-color;
                    }
                }
            }
        }
    }
}
