@use "./customs" as *;

.thick-hr {
    border-radius: $low-radius;
    border: 2.5px solid $lemon-color;
}

.thin-hr {
    border-radius: $low-radius;
    border: 5px solid $smoke-color;
}

.lazy-color {
    color: $secondary-color;
}

// Terms & Cods

.terms-conditions,
.privacy-policy {
    h1 {
        margin-bottom: 1em;
    }

    h5 {
        margin-top: 2em;
    }

    p {
        margin: 1em 0;
    }

    a {
        color: $link-color;
    }

    ol,
    ul {
        margin: 1em 0;
        padding-left: 1.5em;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }
}
