@use "./customs" as *;

.page {
    $page: &;

    &-intro {
        @include container($mt: rem-calc(32));

        h1 {
            font-family: $wdxl-font;
            line-height: rem-calc(40);

            &:not(:only-child) {
                margin-bottom: rem-calc(20);
            }

            &::after {
                content: ".";
                color: $secondary-color;
            }
        }

        h2 {
            font-weight: 500;
            font-family: $poppins-font;
            letter-spacing: $low-spacing;
            max-width: 70ch;

            @include fluid-typing(19, 21);
        }

        &.contact {
            h2 {
                display: flex;
                flex-direction: column;
                gap: rem-calc(16);

                span {
                    display: block;
                }
            }
        }

        &.about {
            h1 {
                margin-bottom: 0;
            }
        }

        #{$page}-link {
            @include text-link;
        }

        &.success {
            @include container($mt: rem-calc(32), $mb: rem-calc(64));
        }
    }

    &-docs {
        @include container;

        /* stylelint-disable-next-line no-descending-specificity */
        h1 {
            margin-bottom: rem-calc(24);
            line-height: rem-calc(48);

            @extend %as-h3;
        }

        h5 {
            margin-top: rem-calc(32);
        }

        p {
            margin: rem-calc(16 0);
        }

        a {
            @include text-link;
        }

        ol,
        ul {
            margin: rem-calc(16 0);
            padding-left: rem-calc(20);
        }

        ol {
            list-style-type: decimal;
        }

        ul {
            list-style-type: disc;
        }
    }

    &-offset {
        display: block;
        width: 100%;
        height: rem-calc(85);

        @include phablet {
            height: rem-calc(100);
        }

        @include laptop {
            height: rem-calc(110);
        }

        @include desktop {
            height: rem-calc(115);
        }
    }
}
