@use "./customs" as *;

.page {
    $page: &;

    &-intro {
        @include container($mt: rem-calc(32));

        h1 {
            font-family: $wdxl-font;
            margin-bottom: rem-calc(16);
        }

        h2 {
            font-weight: 500;
            font-family: $poppins-font;
            letter-spacing: $low-spacing;
            max-width: 70ch;

            @include fluid-typing(19, 21);
        }

        &.contact {
            h2 {
                display: flex;
                flex-direction: column;
                gap: rem-calc(16);

                span {
                    display: block;
                }
            }
        }
    }
}
