@use "./customs/" as *;

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Thin.woff2") format("woff2");
    font-weight: 100; /* Thin */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ThinItalic.woff2") format("woff2");
    font-weight: 100; /* Thin */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraLight.woff2") format("woff2");
    font-weight: 200; /* ExtraLight */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200; /* ExtraLight */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Light.woff2") format("woff2");
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-LightItalic.woff2") format("woff2");
    font-weight: 300; /* Light */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400; /* Regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Italic.woff2") format("woff2");
    font-weight: 400; /* Regular */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2");
    font-weight: 500; /* Medium */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600; /* SemiBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600; /* SemiBold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-BoldItalic.woff2") format("woff2");
    font-weight: 700; /* Bold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2");
    font-weight: 800; /* ExtraBold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800; /* ExtraBold */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Black.woff2") format("woff2");
    font-weight: 900; /* Black */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-BlackItalic.woff2") format("woff2");
    font-weight: 900; /* Black */
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "WDXL Lubrifont TC";
    src: url("../fonts/WDXLLubrifontTC-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-weight: 600;
    letter-spacing: $high-spacing;

    @extend %as-h1;

    span {
        color: $secondary-color;
    }
}

h2 {
    @extend %as-h2;
}

h3 {
    @extend %as-h3;
}

h4 {
    @extend %as-h4;
}

h5 {
    @extend %as-h5;
}

h6 {
    @extend %as-h6;
}

h2,
h3 {
    letter-spacing: $extreme-spacing;
    font-family: $wdxl-font;
    font-weight: 900;
}

h4,
h5,
h6 {
    letter-spacing: $medium-spacing;
    font-weight: 600;
    line-height: 1.5;
}

p,
li {
    letter-spacing: $less-spacing;

    @extend %as-p;
}

a {
    text-decoration: none;
    display: inline;

    @include smooth-trans;
}

b,
strong {
    font-weight: 600;
}

strike {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
    text-underline-offset: 0.125em;
    text-decoration-color: $secondary-color;
}

em,
i {
    font-style: italic;
}
