@import './customs/colors';
@import './customs/fonts';
@import './customs/functions';

.gobacktext {
  font-size: 0.9em;
  font-family: $alata-font;
  font-weight: bolder;

  &:hover {
    color: $link-color !important;
    @include smoothtrans;
  }
}

.gobackbtn {
  text-transform: uppercase;
  padding: 12.5px 15px;
  background: transparent;
  color: $primary-color;
  background: linear-gradient(to bottom, $super-color, $fourth-color);
  font-size: 12.5px;
  letter-spacing: 1px;
  border: 2px solid $third-color;
  border-radius: 5px;
  margin-bottom: 2.5%;
  @include smoothtrans;
  @include shadow;

  &:hover {
    color: $link-color !important;
    @include smoothtrans;
    border: 2px solid $link-color;
    filter: brightness(90%);
  }
}

.postcenterit {
  width: 85%;
  margin: 0 auto;
}

.blog-mini {
  height: 80px;
  margin-left: 1%;
  margin-right: 3%;
  float: left;
  display: block;
  border-right: 5px solid $fourth-color;
  border-radius: 1px;
  padding-right: 2.5%;
}

.author-mini {
  height: 35px;
  width: 50px;
}

.nexttologo {
  display: inline-block;
  margin-bottom: 2.5%;
  width: 75%;
}

.thick {
  margin: 0;
  width: 100%;
  border-radius: 25px;
  border: 2.5px solid $spec-color;
}

.thin {
  border: 5px solid $sixth-color;
  width: 100%;
  border-radius: 3px;
  margin: 0;
}

.post-title {
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.25px;
}

.post-subtitle {
  margin-top: 7.5%;
  margin-bottom: 3.5%;
  // font-weight: 700;
  font-size: 1.025em;
  font-weight: 700;
  letter-spacing: 0.35px;

  &::first-letter {
    font-size: 2.5em;
    float: left;
    color: $secondary-color;
    margin-top: -0.35em;
    margin-right: 0.25em;
    text-decoration-color: $fourth-color !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    // text-decoration-style: dotted;
  }
}

.post-date {
  color: $secondary-color;
  font-style: italic;
  white-space: nowrap;
  font-size: 0.6em;
  letter-spacing: 0.5px;
  display: table;
  background: linear-gradient(to right, $primary-color, $fifth-color);
  border: solid 1px $fifth-color;
  border-radius: 3px;
  padding: 0.2% 1% 0.2% 1%;
}

.post-content {
  width: 100%;
  padding-left: 5px;
  @include fontslg;
  letter-spacing: 0.35px !important;

  .paragraphness {
    // .p
    margin-top: 1.75rem;

    u {
      text-decoration-color: $secondary-color;
      text-decoration-thickness: 2px;
    }
  }

  .horizontness {
    // hr
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .boldness {
    // b
    color: $secondary-color;
    font-weight: 500;
  }

  .headoneness {
    // h1
  }
  .headtwoness {
    // h2
  }
  .headthreeness {
    // h3
    margin-top: 1rem;
    font-size: 1.375em;
  }
  .headfourness {
    // h4
    margin-top: 2rem;
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: -1%;
  }
  .headfiveness {
    // h5
    font-size: 0.9em;
    margin-top: 1.5rem;
    font-weight: 700;
  }
  .headsixness {
    // h6
  }

  .orderedlistness {
    // ol
    margin-top: 2.5em;
    padding-left: 25px;
  }

  .listitemness {
    // li
    margin-top: -0.75rem;
    color: $primary-color;
    font-weight: 700;
  }

  .hyperlinkness {
    // a
    font-weight: 500;
  }
}

.post-authorcont {
  float: right;
  display: flex;
  opacity: 0.9;
  border-radius: 5px;
  border: 1.5px solid $secondary-color;
  background: linear-gradient(to bottom, $fifth-color, $button-hover);
  padding: 5px 0px 5px 20px;
  margin-right: 1%;
  @include shadow;
}

.post-author {
  text-align: right;
  color: white;
  font-size: 0.7em;
  line-height: 1.6;
  white-space: nowrap;
}

.post-authorspec {
  color: $spec-color;
  font-weight: 600;
}

.feedlysub {
  vertical-align: middle;
  border: 0;
  margin-top: -4.75%;
  font-size: 0.85em;
  font-weight: 700;

  a {
    color: #93be44;

    &:hover {
      color: #1f57ad;
    }
  }
}

.rsssub {
  border: 0;
  font-weight: 700;
  font-size: 0.85em;
  margin-top: 0.25%;

  a {
    color: #fa9b3b;

    &:hover {
      color: #1f57ad;
    }
  }
}

.imagerss {
  margin-bottom: 0.25%;
}

.blogheadimage {
  margin: 0.5% 3.75% 2% 0.5%;
  display: block;
  border-radius: 15px;
  width: 37.5%;
  float: left;
  // padding: 1%;
  border: 1.5px solid #e9e9e9;
  @include shadow;
}

.img-resize {
  margin: 1.5% 0% 2.5% 3%;
  display: block;
  border-radius: 15px;
  width: 50%;
  float: right;
  border: 1.5px solid #e9e9e9;
  @include shadow;
}

.disqussion {
  width: 100%;
  // margin: 0 auto;
}

@media (max-width: 768px) {
  .gobacktext {
    font-size: 0.8em;
    line-height: 2;
  }

  .gobackbtn {
    margin-bottom: 7.5%;
    margin-top: -3%;
    padding: 10px 12.5px;
  }

  .thin {
    border: 5px solid $sixth-color;
    width: 97% !important;
  }

  .blogheadimage {
    // margin: 0 3% 7% 0;
    display: block;
    border-radius: 0px !important;
    // width: 100%;
    border-top: 1.5px solid $sixth-color;
    border-bottom: 1.5px solid $sixth-color;
    border-right: 0px;
    border-left: 0px;
    @include shadow;
    width: 100vw;

    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: 7%;
    clear: both;
  }

  .img-resize {
    margin: 3.5% 0 8.5% 0;
    display: block;
    border-radius: 15px;
    width: 100%;
    border: 1.5px solid #e9e9e9;
    @include shadow;
  }

  .blog-mini {
    height: 57.5px !important;
  }

  .author-mini {
    height: 23px;
    width: 40px;
  }

  .nexttologo {
    margin-bottom: 2%;
  }

  .postcenterit {
    width: 100%;
  }

  .post-content {
    clear: both;
    width: 97%;
    @include fontsmb;
  }

  .excerpt {
    margin-bottom: 5%;
  }

  .post-title {
    font-size: 0.75em;
  }

  .post-subtitle {
    margin-top: 12.5%;
    font-size: 0.8em;
    margin-bottom: 7.5%;
    letter-spacing: 0.1px;

    &::first-letter {
      font-size: 3em;
      float: left;
      margin-top: -0.1em;
    }
  }

  .post-date {
    color: $secondary-color;
    font-style: italic;
    font-size: 0.55em;
    margin-left: 0%;
    margin-top: -1.5%;
    padding: 0.2% 1.5% 0.2% 1.5%;
  }

  .rsssub {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    font-weight: bold;
    font-size: 0.75em;
  }

  .feedlysub {
    float: right;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 0.75em;
  }

  .disqussion {
    width: 100%;
    // margin: 0 auto;
  }
}
