@import './index.scss';

.posts {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
  margin-top: 3%;
}

.excerpt {
  font-family: $para-font;
  font-weight: bold;
}

.post {
  margin: 1rem 0;

  a {
    background: #e8e8e8;
    color: $textbase-color;
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    border: 2px solid $fourth-color;
    border-radius: 10px;

    &:hover {
      opacity: 0.7;
      color: $link-color;
      border: 2px solid $link-color;
      @include smoothtrans;
    }
  }

  h4 {
    margin-bottom: 0;
    padding: 0 0 0 10px;
    font-family: $spec-font;
    font-weight: 50;
    color: $primary-color;
  }

  p {
    color: $link-color;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0 0 20px;
    margin-top: 1%;
  }
}
