@import './customs/colors';
@import './customs/fonts';
@import './customs/imports';
@import './customs/functions';
@import './customs/resets';

.post-title {
  font-family: $head-font;
  font-size: 2em;
}

.post-subtitle {
  font-family: $spec-font;
  margin-left: 5%;
  margin-top: 7%;
  font-weight: bold;
  font-size: 2em;
}

.nexttologo {
  display: inline-block;
  margin-top: 2%;
}

.post-date {
  color: $secondary-color;
  font-style: italic;
  margin-left: 1%;
  white-space: nowrap;
}

.post-content {
  margin: 5% 5% 0;
  font-family: $extra-font !important;
  opacity: 0.9;
}

.goback {
  color: $link-color;
  font-weight: bold;
}

.gobackextra {
  color: $link-color;
  font-weight: bold;
  text-align: right;
}

.blog-mini {
  height: 100px;
  margin-left: 4%;
  margin-right: 3%;
  float: left;
  display: block;
}

.img-resize {
  padding: 2.5% 0 2.5%;
  margin: 10px 0px;
  width: 75%;
}

@media (max-width: 768px) {
  .nexttologo {
    margin-top: 2%;
  }

  .excerpt {
    margin-bottom: 5%;
  }

  .blog-mini {
    height: 75px !important;
  }

  .post-title {
    font-size: 1.3em;
    // padding-left: 2% !important;
  }

  .post-subtitle {
    margin-top: 10%;
    font-size: 1.5em;
  }

  .post-date {
    color: $secondary-color;
    // padding-left: 12.5% !important;
    font-style: italic;
    font-size: 0.8em;
  }

  .post-content {
    // color: blue;
    margin: 10% 5% 0;
    opacity: 0.9;
    font-size: 0.8em;
  }
}
