@import './index.scss';

.posts {
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding-left: 0;
}

.post {
  margin: 1rem 0;

  a {
    background: #e8e8e8;
    color: $textbase-color;

    color: black;
    display: block;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      background: #d3d3d3;
    }
  }

  h2 {
    margin-bottom: 0;
    padding: 0 0 0 10px;
  }

  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0 0 20px;
  }
}
