@import './configs/globals';

.cookie {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  &-container {
    background: linear-gradient(145deg, $primary-color, $button-hover);
    opacity: 0.95;
    color: $fourth-color;

    border-bottom: 7.5px solid $secondary-color;
    border-top: 7.5px solid $primary-color;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -12.5%);
    border-radius: $low-radius;

    @include mobile {
      transform: translate(-50%, -7.5%);
      max-width: 95%;
    }
  }

  &-content {
    > p {
      color: white;
      margin: 1em 0 1.5em;
      font-size: 0.95rem;
      width: 97.5%;

      @include mobile {
        font-size: 0.925rem;
        width: 100%;
      }

      > span {
        font-size: 0.875rem;
        display: block;
        margin: 1em 0;

        @include mobile {
          font-size: 0.825rem;
        }
      }
    }
  }

  &-btn {
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      align-items: center;

      @include mobile {
        justify-content: flex-start;
      }
    }

    &-accept {
      color: $textbase-color;
      background-color: $secondary-color;
      border-radius: $low-radius;
      padding: 0.5em 1em;

      @include mobile {
        font-size: 0.9rem;
      }
    }

    &-decline {
      font-weight: 300;
      background: transparent;
      border: 1px solid #dadada86;
      border-radius: $low-radius;
      padding: 0.5em 1em;
      color: $secondary-color;

      @include mobile {
        font-size: 0.9rem;
      }
    }
  }
}
