@import './configs/globals';

.cookie {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0 0 0 / 50%);
  z-index: 10;

  &-container {
    background: linear-gradient(145deg, $primary-color, $button-hover);
    opacity: 0.95;
    color: $fourth-color;

    border-bottom: 7.5px solid $secondary-color;
    border-top: 7.5px solid $primary-color;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -12.5%);
    border-radius: $low-radius;

    @include laptop {
      max-width: 95%;
    }

    @include mobile {
      transform: translate(-50%, -7.5%);
    }
  }

  &-content {
    > p {
      color: $white-color;
      margin: 1em 0 1.5em;

      > small {
        display: block;
        margin: 1em 0;
      }
    }
  }

  &-btn {
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      align-items: center;

      @include mobile {
        justify-content: flex-start;
      }
    }

    &-accept {
      color: $textbase-color;
      background-color: $secondary-color;
      border-radius: $low-radius;
      padding: 0.5em 1em;

      @include smoothTrans;

      &:hover {
        background-color: $super-color;
      }
    }

    &-decline {
      font-weight: 300;
      background: transparent;
      border: 1px solid #dadada86;
      border-radius: $low-radius;
      padding: 0.5em 1em;
      color: $secondary-color;

      @include smoothTrans;

      &:hover {
        border: 1px solid $white-color;
      }
    }
  }
}
