@import './index.scss';

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

.collab {
  text-align: right;

  p {
    font-weight: lighter !important;
    margin-bottom: 20px;
  }
}

.hr {
  background: $secondary-color;
  height: 10px;
}

.info {
  h4 {
    font-size: 21px;
    font-weight: bold;

    .amsterdam {
      color: red;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      color: $link-color;
    }
  }

  p {
    color: $fifth-color;
    font-family: $extra-font;
    font-size: 0.85em;
  }

  li {
    font-size: 21px;
    padding-left: 20px;
    font-weight: bold;
  }
}

.termscods {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
  font-size: 0.7em;
  color: $fifth-color;
}

#fb::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background: #3b5998;
}

#ig::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background: #fcaf45;
}

#tw::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background: #55acee;
}

#li::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background: #0177b5;
}

#gh::before {
  display: inline-block;
  content: '';
  border-radius: 100%;
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background: #24292e;
}

#media {
  text-align: center;
  font-family: $spec-font;
  letter-spacing: 1.5px;
}

#address {
  text-align: right;
  font-family: $spec-font;
  letter-spacing: 1.5px;
}

#personal {
  font-family: $spec-font;
  letter-spacing: 1.5px;
}

#media ul {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  #media {
    padding-top: 50px;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}
