@import './index.scss';

#contact-form {
  margin: 7% 1.4%;
  margin-left: -9%;

  ul {
    list-style: none;
    margin-bottom: 40px;
  }

  li {
    padding: 10px;
    // padding-top: 3%;

    &:last-of-type {
      border-bottom: none;
    }
  }

  label {
    display: block;
    color: $fifth-color;
    font-family: $spec-font;
    margin-top: 2%;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 1%;

    margin-bottom: 3%;
    border: none;
    resize: vertical;
    background: transparent;
    font-weight: bolder;
    color: $primary-color;
    font-family: $para-font;
    font-size: 1.1em;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
  color: $link-color !important;
}

.textarea {
  border-bottom: 1.5px solid $secondary-color;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: $primary-color;
  background-color: $fourth-color;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border: 0.5px solid $fifth-color;

  &:hover {
    color: $link-color;
    @include smoothtrans;
    border: 1px solid $link-color;
  }
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}
