@import './index.scss';

#contact-form {
  margin: 5% 1.4%;
  margin-left: -10%;

  ul {
    list-style: none;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  li {
    padding: 10px;

    &:last-of-type {
      border-bottom: none;
    }
  }

  label {
    display: block;
    font-size: 0.9em;
    color: $fifth-color;
    padding-left: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    font-weight: bolder;
  }
}

input:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid $fourth-color;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: $primary-color;
  background-color: $fourth-color;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  border: 0.5px solid $fifth-color;

  &:hover {
    color: $link-color;
    @include smoothtrans;
  }
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}
