@import './index.scss';

.hero {
  height: 100vh;
  width: 61%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;

  .frontpage {
    position: relative;
  }

  h1 {
    letter-spacing: -2px;
    line-height: 58px;
    font-size: 1.5em;
  }

  span {
    display: block;
    padding-bottom: 4%;
  }
}

.scroll-down {
  position: absolute;
  left: 49.2%;
  top: 30%;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid $secondary-color;
  border-right: 5px solid $primary-color;
  transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}
