@import './customs/colors';
@import './customs/fonts';
@import './customs/imports';
@import './customs/functions';
@import './customs/resets';

// TODO: 1. SWIPER color put in swiper scss
// TODO: 2. Push all pages to modules

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: 'green';
}

.hometitles {
  text-align: center;
  padding: 1%;
  text-decoration: underline;
  text-decoration-color: $secondary-color;
  font-family: $head-font;
}

.vertical {
  margin-top: 40px;
  border-left: 5px solid $third-color;
  height: 80px;
  position: absolute;
  left: 50%;
}
