@import './customs/colors';
@import './customs/fonts';
@import './customs/imports';
@import './customs/functions';
@import './customs/resets';

// TODO: 1. SWIPER color put in swiper scss
// TODO: 2. Push all pages to modules

* {
  outline: none;
}

.termscondit,
.privacypol {
  font-size: 0.8em;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;

  /* width */
  ::-webkit-scrollbar {
    width: 7.5px;
  }

  ::-webkit-scrollbar:hover {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    // background: #c19e12;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: $secondary-color;
}

::selection {
  color: black;
  background: $secondary-color;
}

body {
  width: 100%;
  background: white;
  color: #656565;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    @include smoothtrans;
  }
}

.page-title {
  font-family: $head-font;
  font-size: 2.25rem;
}

.page-sub {
  font-family: $extra-font;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 0.9em;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: 'green';
}

.hometitles {
  text-align: center;
  padding: 1%;
  text-decoration: underline;
  text-decoration-color: $secondary-color;
  font-family: $head-font;
  font-size: 1.75em;
}

span.headdots {
  color: $secondary-color;
  font-size: 50px;
  line-height: 1;
}

span.speccol {
  color: $secondary-color;
}

.vertical {
  border-left: 3px solid $secondary-color;
  height: 70px;
  position: absolute;
  left: 50%;
  opacity: 0.5;
  border-radius: 25px;
}

.specvertical {
  border-left: 3px solid $secondary-color;
  height: 100px;
  position: absolute;
  left: 50%;
  opacity: 0.5;
  border-radius: 25px;
}

.ch2-style-light.ch2-icon a svg {
  border: 2px solid $fourth-color !important;
  fill: $secondary-color !important;
  background: $primary-color !important;
}

@media (max-width: 768px) {
  .hometitles {
    font-size: 1.5em;
    margin-top: 3%;
  }

  .page-sub {
    font-size: 0.85em;
  }

  .page-title {
    font-size: 1.75em;
  }

  .specvertical {
    height: 90px;
  }
}
