$primary-color: #656565;
$secondary-color: #f0c410;
$third-color: #c0c0c0;

$textbase-color: #323232;
// $onhover-color: grey;

$head-font: 'Quando', serif;
$para-font: 'Lato', sans-serif;
$spec-font: 'Baloo Bhai', cursive;

// Quando Fonts
@import url('https://fonts.googleapis.com/css?family=Quando&display=swap');

// Lato Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Baloo Bai
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');

* {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-size: 1em;
  line-height: 1.6;
  background: #f5f5f5;
  color: $textbase-color;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto !important;
  float: none !important;
}

header,
footer,
h1,
h2 {
  font-family: $head-font;
}

p,
a {
  font-family: $para-font;
}
