@use "./customs" as *;
@use "base";
@use "cookie";
@use "forms";
@use "globals";
@use "page";
@use "swiper";
@use "typography";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $poppins-font;
    color: $primary-color;
    line-height: 1.6;
    min-width: rem-calc(320);

    &:has(.cookie),
    &:has(#backdrop) {
        overflow: hidden;
    }
}

.menefex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: rem-calc(125);
}

footer {
    flex-shrink: 0;
}

section {
    scroll-margin-top: rem-calc(125);

    &:not(.page-intro, #notes, #about, #spotify, #info) {
        padding: rem-calc(48 0);

        @include phablet {
            padding: rem-calc(60 0);
        }

        @include tablet {
            padding: rem-calc(80 0);
        }

        &:last-child {
            padding-bottom: rem-calc(80);

            @include phablet {
                padding-bottom: rem-calc(120);
            }

            @include tablet {
                padding-bottom: rem-calc(160);
            }
        }
    }

    &#cta {
        scroll-margin-top: rem-calc(250);
    }

    &#services {
        margin: rem-calc(48 0);

        @include phablet {
            margin: rem-calc(60 0);
        }

        @include tablet {
            margin: rem-calc(96 0);
        }
    }
}

[hidden] {
    display: none;
}

small {
    font-size: 75%;
}

/* Width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $secondary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $grey-color;
}

/* Selection */
::selection {
    color: $dark-color;
    background: $secondary-color;
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 5px;
    // transform: translateX(-50%);
    padding: rem-calc(2 8);
    z-index: 1000;
    opacity: 0.5;
    color: $dark-color;
    background-color: $white-color;
    outline: $dark-color 1px solid;
    text-align: center;

    p {
        font-size: rem-calc(12);
        font-weight: bold;
    }
}
