@use "./customs" as *;
@use "cookie";
@use "forms";
@use "globals";
@use "page";
@use "swiper";
@use "typography";

html {
    scroll-behavior: smooth;
}

body {
    font-family: $poppins-font;
    color: $primary-color;
    line-height: 1.6;
    min-width: rem-calc(320);

    &:has(.cookie),
    &:has(#backdrop) {
        overflow: hidden;
    }
}

.menefex {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

section {
    &:only-child {
        margin-bottom: rem-calc(80);

        @include phablet {
            margin-bottom: rem-calc(120);
        }

        @include tablet {
            margin-bottom: rem-calc(160);
        }
    }

    &:not(.page-intro, #notes, #about, #spotify, #info, #blogtemplate) {
        padding: rem-calc(48 0);

        @include phablet {
            padding: rem-calc(60 0);
        }

        @include tablet {
            padding: rem-calc(80 0);
        }

        &:last-child {
            padding-bottom: rem-calc(120);

            @include phablet {
                padding-bottom: rem-calc(180);
            }

            @include tablet {
                padding-bottom: rem-calc(220);
            }
        }
    }

    #cta {
        scroll-margin-top: rem-calc(200);

        @include phablet {
            scroll-margin-top: rem-calc(215);
        }

        @include laptop {
            scroll-margin-top: rem-calc(225);
        }

        @include desktop {
            scroll-margin-top: rem-calc(230);
        }
    }

    &#projects,
    &#services,
    &#biography {
        scroll-margin-top: rem-calc(115);

        @include phablet {
            scroll-margin-top: rem-calc(130);
        }

        @include laptop {
            scroll-margin-top: rem-calc(140);
        }

        @include desktop {
            scroll-margin-top: rem-calc(145);
        }
    }

    &#services {
        margin: rem-calc(96 0);

        @include phablet {
            margin: rem-calc(120 0);
        }

        @include tablet {
            margin: rem-calc(120 0 192);
        }
    }
}

/* Width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $secondary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $primary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: $grey-color;
}

/* Selection */
::selection {
    color: $dark-color;
    background-color: $secondary-color;
}

.grecaptcha-badge {
    visibility: hidden;
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 5px;
    padding: rem-calc(2 8);
    z-index: 1000;
    opacity: 0.5;
    color: $dark-color;
    background-color: $white-color;
    outline: $dark-color 1px solid;
    text-align: center;

    p {
        font-size: rem-calc(12);
        font-weight: bold;
    }
}
