@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import './customs/colors';
@import './customs/fonts';
@import './customs/functions';

* {
  outline: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden !important;
  width: 100%;
  word-wrap: break-word;

  /* width */
  ::-webkit-scrollbar {
    width: 7.5px;
  }

  // ::-webkit-scrollbar:hover {
  //   // width: 15px !important;
  // }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $secondary-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $fifth-color;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: $secondary-color;
}

::selection {
  color: black;
  background: $secondary-color;
}

// progress[value] {
//   -webkit-appearance: none;
//   appearance: none;
// }

// progress[value]::-webkit-progress-bar {
//   background-color: $link-color;
// }

body {
  width: 100%;
  color: #656565;
  font-family: $poppins-font;
}

// Pagina Setup

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.page-title {
  font-family: $right-font;
  font-size: 2.25rem;
}

.page-sub {
  // border-left: 1.5px dotted $secondary-color;
  // padding-left: 12.5px;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 0.9em;
  opacity: 0.9;
}

// Terms & Cods

.termscondit,
.privacypol {
  font-size: 0.75em;
}

// DISQUS TWEAK

#disqus_thread a {
  color: $secondary-color;
  // opacity: 0.95;
}

// RESETS

.whitespace {
  width: 100%;
  height: 75px;
}

.specwhitespace {
  width: 100%;
  height: 50px;
}

.smallwhitespace {
  width: 100%;
  height: 25px;
}

.extrawhitespace {
  width: 100%;
  height: 125px;
}

.clr {
  clear: both;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  @include smoothtrans;

  &:hover {
    text-decoration: none;
    @include smoothtrans;
  }
}

@media (max-width: 768px) {
  .page-sub {
    font-size: 0.85em;
  }

  .page-title {
    font-size: 1.75em;
  }

  .whitespace {
    height: 50px;
  }

  .extrawhitespace {
    height: 100px;
  }

  // .specvertical {
  //   // height: 90px;
  // }
}
