@import './customs/colors';
@import './customs/fonts';
@import './customs/functions';
@import './customs/resets';

.mapwrapper {
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  border: 3px solid $fourth-color;
  @include shadow;
}

@media (max-width: 768px) {
  .mapwrapper {
    // border-width: 3px;
  }
}
