.marker {
  background: url('../logo/Gimmix-mini.svg') no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  user-select: none;
  transform: translate(-50%, -50%);

  &:hover {
    z-index: 1;
  }
}
