@import './customs/imports';
@import './customs/functions';
@import './customs/colors';
@import './customs/fonts';
@import './customs/resets';

.swiper-container {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  border-bottom: 5px solid $secondary-color;
  border-top: 1px solid $third-color;
  border-right: 1px solid $third-color;
  border-left: 1px solid $third-color;
}

.swiper-whole {
  margin: 0 auto;
  width: 750px;
}

.slider-content {
  position: absolute;
  background: #fff;
  opacity: 0.9;
  bottom: 30px;
  right: 20px;
  font-size: 0.7rem;
  width: 43%;
  height: 33%;
  border: 2px ridge $secondary-color;
  border-radius: 7px;
}

.beschrijving {
  padding: 4%;

  a {
    color: $link-color;

    &:hover {
      color: $hover-color;
      text-decoration: underline;
    }
  }

  .project-link {
    position: absolute;
    top: 11%;
    right: 8%;
    font-weight: bolder;
    font-size: 1.1em;
  }

  h5 {
    color: $textbase-color;
    font-family: $spec-font;
  }

  p {
    font-family: $para-font;
    color: $textbase-color;
  }

  // .informatie {
  // padding-top: 2%;
  // }

  .geschreven {
    font-size: 0.9em;
    margin-top: -5px;
    font-style: oblique;
  }
}

.slide1 {
  background: url('../img/projects/Eternitydrum-screen.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide2 {
  background: url('../img/projects/Blackharmony-screen.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide3 {
  // background: url('../img/projects/itwomen.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide4 {
  // background: url('../img/projects/teamwork.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide5 {
  // background: url('../img/projects/visual.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.swiper-button-next {
  filter: hue-rotate(700deg);
}

.swiper-button-prev {
  filter: hue-rotate(700deg);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $secondary-color !important;
}

@media (max-width: 768px) {
  .swiper-container {
    height: 237.5px;
  }

  .swiper-whole {
    width: 90%;
  }

  .slider-content {
    position: absolute;
    bottom: 30px;
    right: 10px;
    font-size: 0.6rem;
    width: 67%;
    height: 55%;
    border: 2px ridge $secondary-color;
  }

  .beschrijving {
    padding: 3%;

    a {
      color: $link-color;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }
    }

    h5 {
      font-size: 1.6em;
    }

    p {
      font-size: 0.9em;
    }

    .geschreven {
      font-size: 0.8em;
    }

    .project-link {
      position: absolute;
      top: 5.5%;
      right: 8%;
      font-size: 1em;
    }
  }
}
