@import './customs/imports';
@import './customs/functions';
@import './customs/colors';
@import './customs/fonts';
@import './customs/resets';

.swiper-container {
  margin: 0 auto;
  width: 950px;
  height: 540px;
  border-radius: 10px 10px 3px 3px;
  background: linear-gradient(to bottom, $super-color, $secondary-color);
  border-bottom: 5px solid $secondary-color;
  border-top: 2px solid $super-color;
  border-right: 2px solid $super-color;
  border-left: 2px solid $super-color;
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
}

.slider-content {
  position: absolute;
  background: #fff;
  opacity: 0.9;
  bottom: 15px;
  right: 15px;
  font-size: 0.725rem;
  width: 375px;
  height: 150px;
  border: 1.5px ridge $secondary-color;
  border-radius: 7px;
}

.beschrijving {
  padding: 3%;

  a {
    font-family: $alata-font;
    color: white;

    &:hover {
      color: $hover-color;
      // text-decoration: underline;
    }
  }

  .project-link {
    position: absolute;
    background: $secondary-color;
    padding: 1% 2%;
    border: 2.5px solid $spec-color;
    border-radius: 5px;
    top: 5%;
    right: 2%;
    font-weight: bolder;
    font-size: 1em;
    color: white;
    letter-spacing: 0.5px;
    @include smoothtrans;
    // text-transform: uppercase;

    &:hover {
      @include smoothtrans;
      color: $link-color;
      // background: $spec-color;
      border-color: $link-color;
    }
  }

  h5 {
    color: $primary-color;
    font-family: $right-font;
    margin-bottom: 5%;
  }

  p {
    color: $primary-color;
  }

  // .informatie {
  // padding-top: 2%;
  // }

  .geschreven {
    font-size: 0.75em;
    margin-top: -5px;
    font-style: oblique;
    font-weight: 700;
    background: linear-gradient(to right, $fifth-color, $primary-color);
    color: white;
    padding: 1% 1.5%;
    border-radius: 4px;
    display: table;
  }
}

.slide1 {
  background: url('https://i.postimg.cc/pXj0DScY/Eternitydrum-screen.png');
  background-size: cover;
  height: 100%;
}

.slide2 {
  background: url('https://i.postimg.cc/fbzBQRzB/Blackharmony-screen.png');
  background-size: cover;
  height: 100%;
}

.slide3 {
  // background: url('../img/projects/itwomen.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide4 {
  // background: url('../img/projects/teamwork.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.slide5 {
  // background: url('../img/projects/visual.jpg') no-repeat 50% 50%;
  background-size: cover;
}

.swiper-button-next {
  filter: hue-rotate(700deg);
}

.swiper-button-prev {
  filter: hue-rotate(700deg);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: $secondary-color !important;
}

@media (max-width: 768px) {
  .swiper-container {
    width: 95%;
    height: 250px;
  }

  // .swiper-slide {
  //   width: 100%;
  //   height: 100%;
  // }

  // .swiper-whole {
  //   width: 90%;
  // }

  .slider-content {
    bottom: 30px;
    right: 10px;
    font-size: 0.65rem;
    width: 225px;
    height: 120px;
  }

  .beschrijving {
    padding: 3%;

    h5 {
      font-size: 1.4em;
    }

    p {
      font-size: 0.8em;
    }

    .geschreven {
      font-size: 0.6em;
      border-radius: 3px;
      padding: 1.5% 1.75%;
    }

    .project-link {
      top: 5%;
      right: 2.5%;
      font-size: 0.9em;
      border-width: 2px;
      letter-spacing: 0px;
    }
  }
}

@media screen and (max-width: 992px) {
}
