$primary-color: #5b5a5a;
$secondary-color: #fc0;

$lemon-color: #f8e491;
$ivory-color: #fdfae9;

$dark-color: #323232;
$black-color: #202020;

$grey-color: #a9a9a9;
$lightgrey-color: #c0c0c0;

$white-color: #fff;
$smoke-color: #f4f4f4;
$tissue-color: #f2f2f2;
$snow-color: #dadada;

$link-color: #008cd2;

$mail-color: #74aece;
$tel-color: #2b9d53;
$whapp-color: #25d366;

$fb-color: #3b5998;
$ig-color: #e1306c;
$tw-color: #1da1f2;
$li-color: #0077b5;
$gh-color: #24292e;

// #cdcccc
// #cac9c9
// #c0bfbf
// #afaeae
// #979696
// #787777
// #535252
// #4e4d4d
// #cfa0a0

// !! TOPICS COlORS
// #DAA972 Doe-het-zelf
// #A72669 Progressie
// #D3100F Nieuws
// #F6C805 Informatie
// #4648C7 SEO
// #AF6B31 Interne Projecten
// #53A5D8 Tips & Weetjes
// #AAD378 Op reis
// #F7F048 De beste van
// #C2D6D5 Vergelijken
