$primary-color: #656565;
$textbase-color: #323232;

$secondary-color: #f0c410;
$spec-color: #f8e491;

$third-color: #c0c0c0;
$fourth-color: #dadada;
$fifth-color: #a9a9a9;

$link-color: #008cd2;
$hover-color: #1f57ad;
