$primary-color: #595858;
$base-color: #656565;
$textbase-color: #323232;
$button-hover: #333333;
$spectext-color: #827f6e;

$secondary-color: #ffcc00;
$spec-color: #f8e491;
$super-color: #fdfae9;
$very-color: #fdf7de;

$third-color: #c0c0c0;
$fourth-color: #dadada;
$fifth-color: #a9a9a9;
$sixth-color: #f4f4f4;

$link-color: #008cd2;
$hover-color: #1f57ad;

// #cdcccc
// #cac9c9
// #c0bfbf
// #afaeae
// #979696
// #787777
// #535252
// #4e4d4d
// #cfa0a0
