@import url(https://fonts.googleapis.com/css2?family=Alata&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

$alata-font: 'Alata', serif;
$poppins-font: 'Poppins', sans-serif;
$right-font: 'Righteous', cursive;
