@import 'https://fonts.googleapis.com/css2?family=Alata&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Righteous&display=swap';

$alata-font: 'Alata', serif;
$poppins-font: 'Poppins', sans-serif;
$right-font: 'Righteous', cursive;
