@mixin smoothtrans {
  transition: all 0.5s ease-in-out;
}

@mixin fontslg {
  letter-spacing: 0.0325em;
  font-size: 0.9rem;
  line-height: 1.8;
}

@mixin fontsmb {
  letter-spacing: 0.0275em;
  font-size: 0.8rem !important;
  line-height: 1.7;
}

@mixin shadow {
  box-shadow: 1px 3px 7px rgba(209, 209, 209, 0.767);
}

$pocket: 'max-width: 426px';
$mobile: 'max-width: 576px';
$tablet: 'max-width: 768px';
$laptop: 'max-width: 992px';
$desktop: 'max-width: 1200px';
$wide: 'max-width: 1400px';
$massive: 'min-width: 1401px';
