@keyframes scroll-left {
    to {
        transform: translateX(-50%);
    }
}

@keyframes hero-roll {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes footer-roll {
    0% {
        transform: rotate(360deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-down {
    0% {
        transform: translate(0, -20px) rotate(45deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px) rotate(45deg);
        opacity: 0;
    }
}
