@mixin mini {
  @media only screen and (width <= 23em) {
    @content;
  }
}

@mixin compact {
  @media only screen and (width <= 30em) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (width <= 40em) {
    @content;
  }
}

@mixin phablet {
  @media only screen and (width <= 52em) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (width <= 64em) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (width <= 76em) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (width <= 90em) {
    @content;
  }
}

@mixin wide {
  @media only screen and (width <= 120em) {
    @content;
  }
}

@mixin massive {
  @media only screen and (width >= 120.063em) {
    @content;
  }
}

@mixin landscape {
  @media only screen and (width >= 480px) and (width <= 640px) and (orientation: landscape) {
    @content;
  }
}

// $pocket: 'max-width: 426px';
// $mobile: 'max-width: 576px';
// $tablet: 'max-width: 768px';
// $laptop: 'max-width: 992px';
// $desktop: 'max-width: 1200px';
// $wide: 'max-width: 1400px';
// $massive: 'min-width: 1401px';
