@use "sass:color";
@use "sass:math";

@use "colors" as *;
@use "variables" as *;
@use "mediaqueries" as *;
@use "functions" as *;
@use "fonts" as *;
@use "utils" as *;

// CUSTOMS (SPECIFIC) --------------------------------------------

@mixin section-title(
    $align: unset,
    $color: $primary-color,
    $line-color: $secondary-color,
    $space: rem-calc(24)
) {
    text-align: $align;
    text-decoration: underline;
    text-decoration-color: $line-color;
    margin-bottom: $space;
    color: $color;

    @extend %as-h1;
}

@mixin poppins-title {
    font-family: $poppins-font;
    font-weight: 600;
    letter-spacing: normal;
}

@mixin lemon-bg {
    background-color: $ivory-color;
    border-radius: $medium-radius;
    border: 2px solid $lemon-color;
}

@mixin smoke-bg {
    background-color: $smoke-color;
    border-radius: $medium-radius;
    border: 2px solid rgba($dark-color, 33%);
}

// SPACING --------------------------------------------

@mixin container(
    $maxWidth: rem-calc($layout),
    $pt: rem-calc(0),
    $pr: rem-calc(24),
    $pb: rem-calc(0),
    $pl: rem-calc(24),
    $mt: rem-calc(0),
    $mb: rem-calc(0)
) {
    max-width: $maxWidth;
    margin: $mt auto $mb;
    padding: $pt rem-calc(20) $pb;
    width: 100%;

    @include mobile {
        padding: $pt rem-calc(24) $pb;
    }

    @include phablet {
        padding: $pt $pr $pb $pl;
    }
}

@mixin full-width($type: "hero") {
    @if $type == "hero" {
        width: 100vw;
        position: relative;
        left: 0%;
        right: 0%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: rem-calc(48 16);

        @include phablet {
            width: fit-content;
            position: static;
            left: 0;
            right: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }
    } @else {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

@mixin box-padding($type: "normal") {
    @if $type == "spaced" {
        padding: rem-calc(28 24 32);

        @include phablet {
            padding: rem-calc(36 32 48);
        }
    } @else if $type == "normal" {
        padding: rem-calc(24);

        @include phablet {
            padding: rem-calc(32);
        }
    } @else if $type == "special" {
        padding: rem-calc(32 24 24);

        @include phablet {
            padding: rem-calc(44 32 32);
        }
    }
}

// ELEMENTS --------------------------------------------

@mixin box-shadow {
    box-shadow: 1px 3px 7px rgb(66 66 66 / 25%);
}

@mixin border($color: $primary-color, $width: 2.5px) {
    border: $width solid $color;
}

@mixin underline($offset: 5px, $thickness: 2px, $color: $secondary-color) {
    text-decoration-line: underline;
    text-decoration-color: $color;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;
}

// FUNCTIONS --------------------------------------------

@mixin clamp($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin smooth-trans($prop: all, $duration: 0.2s) {
    transition: $prop $duration ease-in-out;
}

// LINKS --------------------------------------------

@mixin underline-link($color: $link-color, $thickness: 2px, $offset: 3px) {
    text-decoration-line: underline;
    text-decoration-color: $color;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;

    &:hover {
        text-decoration-thickness: 4px;
    }
}

@mixin text-link {
    font-weight: 500;
    color: $link-color;

    &:hover {
        color: color.adjust($link-color, $lightness: -5%);
    }
}

// BUTTONS --------------------------------------------

@mixin primary-button($type: 1, $width: fit-content) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    border-radius: $low-radius;
    width: $width;
    height: fit-content;
    min-height: rem-calc(44);
    padding: rem-calc(10 16);
    font-weight: 600;
    letter-spacing: $high-spacing;
    gap: rem-calc(8);

    @include border($snow-color);

    @if $type == 1 {
        background-color: $primary-color;
        color: $smoke-color;

        &:hover {
            background-color: $dark-color;
            border-color: $link-color;
        }
    } @else if $type == 2 {
        background-color: $smoke-color;
        color: $primary-color;

        &:hover {
            border-color: $link-color;
        }
    } @else if $type == 3 {
        background-color: $smoke-color;
        border-color: $secondary-color;
        color: $primary-color;

        &:hover {
            border-color: $link-color;
        }
    }

    @include fluid-typing(13, 15);

    @include phablet {
        padding: rem-calc(12 24);
    }
}

@mixin secondary-button {
    padding: rem-calc(12 16);
    width: 100%;
    min-height: rem-calc(44);
    border-radius: $low-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem-calc(8);
    font-weight: 500;
    text-align: center;

    @extend %as-small;

    @include mini {
        white-space: nowrap;
    }

    &:not([href]) {
        pointer-events: none;
        background-color: $grey-color;
    }
}

@mixin dark-button {
    background-color: $primary-color;
    color: $smoke-color;
    outline: 2px solid $grey-color;

    @include secondary-button;

    &:hover {
        color: $primary-color;
        background-color: $secondary-color;
        outline-color: $primary-color;
    }
}

@mixin light-button {
    background-color: $snow-color;
    color: $primary-color;
    outline: 2px solid $snow-color;

    @include secondary-button;

    &:hover {
        background-color: $secondary-color;
        outline-color: $primary-color;
    }
}

@mixin topic-button {
    display: block;
    border-width: 2px;
    border-style: solid;
    border-radius: $low-radius;
    padding: rem-calc(4 10);
    font-weight: 500;
    background-color: $white-color;
    width: fit-content;

    @extend %as-tiny;

    @include mini {
        white-space: nowrap;
    }

    &:hover {
        background-color: $smoke-color;
    }
}

@mixin more-button {
    display: block;
    border-radius: $low-radius;
    background-color: $secondary-color;
    padding: rem-calc(4 10);
    font-weight: 500;
    width: fit-content;

    @extend %as-tiny;

    @include mini {
        white-space: nowrap;
    }

    &:hover {
        background-color: $snow-color;
    }
}

// COMPONENTS --------------------------------------------

@mixin blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: rem-calc(20);

    @include phablet {
        gap: rem-calc(32);
        flex-direction: row;
    }

    > div {
        &:nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem-calc(12);
            width: 100%;

            > h3 {
                @include poppins-title;
                @include fluid-typing(18, 22);

                @include smooth-trans;
            }

            > p {
                @include clamp(2);
                @extend %as-medium;
            }

            small {
                display: flex;
                gap: rem-calc(8);
                margin-top: rem-calc(8);

                @include fluid-typing(10, 13);

                @include phablet {
                    gap: rem-calc(12);
                }

                span {
                    color: $primary-color;
                    border: 2px solid rgba($lightgrey-color, 0.5);
                    border-radius: $low-radius;
                    padding: rem-calc(2 8);
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: rem-calc(8);
                    width: fit-content;

                    @include smooth-trans;
                }
            }
        }

        &:nth-child(2) {
            outline: 2px solid $snow-color;
            border-radius: $low-radius;
            overflow: hidden;
            max-width: 100%;
            width: 100%;

            @include smooth-trans;

            @include phablet {
                max-width: rem-calc(250);
            }

            > [data-gatsby-image-wrapper] {
                max-height: rem-calc(275);
                width: 100%;

                @include compact {
                    max-height: rem-calc(300);
                }

                @include mobile {
                    max-height: rem-calc(350);
                }

                @include phablet {
                    max-height: rem-calc(400);
                }

                @include tablet {
                    max-height: rem-calc(200);
                }
            }
        }
    }

    &:hover {
        > div {
            &:nth-child(1) {
                h3 {
                    color: $link-color;
                }

                small {
                    span {
                        color: $white-color;
                        background-color: $primary-color;
                    }
                }
            }

            &:nth-child(2) {
                outline-color: $link-color;
            }
        }
    }
}
