@use "sass:color";
@use "sass:math";

@use "colors" as *;
@use "variables" as *;
@use "mediaqueries" as *;
@use "functions" as *;
@use "fonts" as *;
@use "utils" as *;

// CUSTOMS (SPECIFIC) --------------------------------------------

@mixin section-title(
    $align: unset,
    $color: $primary-color,
    $line-color: $secondary-color,
    $space: rem-calc(24)
) {
    text-align: $align;
    text-decoration: underline;
    text-decoration-color: $line-color;
    margin-bottom: $space;
    color: $color;

    @include fluid-typing(36, 40);
}

@mixin poppins-title {
    font-family: $poppins-font;
    font-weight: 600;
    letter-spacing: normal;
}

@mixin lemon-bg {
    background-color: $ivory-color;
    border-radius: $medium-radius;
    border: 2px solid $lemon-color;
}

@mixin smoke-bg {
    background-color: $smoke-color;
    border-radius: $medium-radius;
    border: 2px solid rgba($dark-color, 33%);
}

// SPACING --------------------------------------------

@mixin container(
    $maxWidth: rem-calc($layout),
    $pt: rem-calc(0),
    $pr: rem-calc(24),
    $pb: rem-calc(0),
    $pl: rem-calc(24),
    $mt: rem-calc(0),
    $mb: rem-calc(0)
) {
    max-width: $maxWidth;
    margin: $mt auto $mb;
    padding: $pt rem-calc(16) $pb;
    width: 100%;

    @include mobile {
        padding: $pt rem-calc(24) $pb;
    }

    @include phablet {
        padding: $pt $pr $pb $pl;
    }
}

@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

// ELEMENTS --------------------------------------------

@mixin box-shadow {
    box-shadow: 1px 3px 7px rgb(66 66 66 / 25%);
}

@mixin border($color: $primary-color) {
    border: 2.5px solid $color;
}

@mixin underline($offset: 5px, $thickness: 2px, $color: $secondary-color) {
    text-decoration-line: underline;
    text-decoration-color: $color;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;
}

// FUNCTIONS --------------------------------------------

@mixin clamp($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin smooth-trans($prop: all) {
    transition: $prop 0.2s ease-in-out;
}

// LINKS --------------------------------------------

@mixin link($color: $link-color, $thickness: 2px, $offset: 3px) {
    text-decoration-line: underline;
    text-decoration-color: $color;
    text-decoration-thickness: $thickness;
    text-underline-offset: $offset;

    @include smooth-trans;

    &:hover {
        text-decoration-thickness: 4px;
    }
}

@mixin text-link {
    font-weight: 500;
    color: $link-color;

    @include smooth-trans;

    &:hover {
        color: color.adjust($link-color, $lightness: -10%);
    }
}

// BUTTONS --------------------------------------------

@mixin primary-button($type: 1, $width: fit-content) {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: $low-radius;
    width: $width;
    height: fit-content;
    min-height: rem-calc(44);
    padding: rem-calc(14 24);
    border: 3px solid $lightgrey-color;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: $high-spacing;

    @if $type == 1 {
        background-color: $primary-color;
        color: $smoke-color;

        &:hover {
            background-color: $dark-color;
            border-color: $link-color;
        }
    } @else if $type == 2 {
        background-color: $smoke-color;
        color: $primary-color;

        &:hover {
            border-color: $link-color;
        }
    }

    @include smooth-trans;
    @include fluid-typing(13, 15);
}

@mixin secondary-button {
    padding: rem-calc(12 16);
    width: 100%;
    min-height: rem-calc(44);
    border-radius: $low-radius;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    @include smooth-trans;
    @include fluid-typing(14, 16);

    &:not([href]) {
        pointer-events: none;
        background-color: $grey-color;
    }
}

@mixin dark-button {
    background: $primary-color;
    color: $smoke-color;
    text-align: center;
    outline: 2px solid $grey-color;
    white-space: nowrap;

    @include secondary-button;

    &:hover {
        color: $primary-color;
        background: $secondary-color;
        outline-color: $primary-color;
    }
}

@mixin light-button {
    background: $snow-color;
    color: $primary-color;
    text-align: center;
    outline: 2px solid $snow-color;
    white-space: nowrap;

    @include secondary-button;

    &:hover {
        background: $secondary-color;
        outline-color: $primary-color;
    }
}

@mixin topic-button {
    display: block;
    border-width: 2px;
    border-style: solid;
    border-radius: $low-radius;
    padding: rem-calc(4 10);
    font-weight: 500;
    background: $white-color;
    width: fit-content;
    white-space: nowrap;

    @include smooth-trans;
    @include fluid-typing(12, 14);

    &:hover {
        background: $smoke-color;
    }
}

// COMPONENTS --------------------------------------------

@mixin blog-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem-calc(32);

    @include smooth-trans;

    > div {
        &:first-of-type {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: rem-calc(12);
            width: 100%;

            > h3 {
                @include poppins-title;
                @include fluid-typing(18, 22);
            }

            > p {
                @include clamp(2);
                @include fluid-typing(16, 18);
            }

            small {
                display: flex;
                gap: rem-calc(12);
                margin-top: rem-calc(8);

                span {
                    color: $primary-color;
                    border: 2px solid rgba($lightgrey-color, 0.5);
                    border-radius: $low-radius;
                    padding: rem-calc(2 8);
                    font-style: italic;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: rem-calc(8);
                    width: fit-content;
                }
            }
        }

        &:nth-of-type(2) {
            outline: 2px solid $snow-color;
            border-radius: $low-radius;
            overflow: hidden;
            max-width: rem-calc(250);
            width: 100%;

            @include smooth-trans;
            @include box-shadow;

            > [data-gatsby-image-wrapper] {
                max-height: rem-calc(175);
            }
        }
    }

    &:hover {
        color: $link-color;
        border-color: $link-color;

        > div:nth-of-type(2) {
            outline-color: $link-color;
        }
    }
}
