.whitespace {
  width: 100%;
  height: 75px;
}

.specwhitespace {
  width: 100%;
  height: 50px;
}

.smallwhitespace {
  width: 100%;
  height: 25px;
}

.extrawhitespace {
  width: 100%;
  height: 125px;
}

.clr {
  clear: both;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
  @include smoothtrans;

  &:hover {
    text-decoration: none;
    @include smoothtrans;
  }
}

@media (max-width: 768px) {
  .whitespace {
    height: 50px;
  }

  .extrawhitespace {
    height: 100px;
  }
}
