@use "colors" as *;
@use "utils" as *;
@use "functions" as *;
@use "mediaqueries" as *;
@use "mixins" as *;

%image {
    --border: 5px; /* border thickness */
    --size: 24px; /* size of the corner */
    --gap: 14px; /* the gap */
    --color: #{$secondary-color}; /* color of the border */
    --color-two: #{$primary-color}; /* color of the border */

    padding: calc(var(--border) + var(--gap));
    background-image: conic-gradient(
            from 90deg at top var(--border) left var(--border),
            #0000 25%,
            var(--color) 0
        ),
        conic-gradient(
            from -90deg at bottom var(--border) right var(--border),
            #0000 25%,
            var(--color-two) 0
        );
    background-position: var(--position, 0%) var(--position, 0%),
        calc(100% - var(--position, 0%)) calc(100% - var(--position, 0%));
    background-size: var(--size) var(--size);
    background-repeat: no-repeat;
    transition: background-position 0.3s var(--transition, 0.3s),
        background-size 0.3s calc(0.3s - var(--transition, 0.3s));

    &:hover {
        background-size: calc(100% - var(--gap)) calc(100% - var(--gap));

        --position: calc(var(--gap) / 2);
        --transition: 0s;
    }
}

%as-h1 {
    @include fluid-typing(36, 40);
}

%as-h2 {
    @include fluid-typing(32, 36);
}

%as-h3 {
    @include fluid-typing(28, 32);
}

%as-h4 {
    @include fluid-typing(24, 28);
}

%as-h5 {
    @include fluid-typing(20, 24);
}

%as-h6 {
    @include fluid-typing(16, 20);
}

%as-p {
    @include fluid-typing(18, 20);
}

%as-medium {
    @include fluid-typing(16, 18);
}

%as-small {
    @include fluid-typing(14, 16);
}

%as-tiny {
    @include fluid-typing(12, 14);
}

%recaptcha {
    display: block;
    margin-top: rem-calc(16);
    color: rgba($primary-color, 50%);
    background: $white-color;
    padding: rem-calc(12 16);
    border: 1px solid rgba($primary-color, 25%);

    > a {
        @include text-link;
    }
}
