@use "sass:color";

@use "../../customs" as *;

.smart-form {
    $smart-form: &;

    &-container {
        @include container;

        #{$smart-form}-wrapper {
            display: flex;
            border-radius: $high-radius;
            overflow: hidden;
            flex-direction: column;
            min-height: rem-calc(400);

            @include tablet {
                flex-direction: row;
            }

            #{$smart-form}-content {
                @include box-padding;
            }

            #{$smart-form}-content {
                flex: 50%;
                background-color: $lemon-color;

                @include laptop {
                    flex: 45%;
                }

                > h3 {
                    @include underline($thickness: 3px, $color: $white-color);
                }

                > p {
                    margin-top: rem-calc(12);

                    @extend %as-medium;
                }

                > ul:has(li) {
                    margin-top: rem-calc(24);
                    padding: rem-calc(12 16);
                    background-color: $white-color;
                    border-radius: $low-radius;
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(4);

                    li {
                        line-height: 1.2;

                        > small > button {
                            margin-left: rem-calc(4);

                            @include text-link;
                        }
                    }
                }

                #{$smart-form}-progress {
                    height: rem-calc(5);
                    width: 100%;
                    background: $lightgrey-color;
                    margin-top: rem-calc(8);
                    border-radius: $low-radius;
                    overflow: hidden;

                    > div {
                        height: 100%;
                        width: 0%;
                        background: $link-color;
                        transition: width 0.3s ease-in-out;
                    }
                }
            }

            > form {
                background-color: $smoke-color;
                display: flex;
                flex-direction: column;
                flex: 50%;

                @include laptop {
                    flex: 55%;
                }

                #{$smart-form}-advice,
                #{$smart-form}-success,
                #{$smart-form}-question {
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    @include box-padding("special");
                }

                #{$smart-form}-question {
                    > label,
                    > p {
                        font-weight: 600;
                        margin-bottom: rem-calc(12);
                        display: block;

                        @extend %as-h6;
                    }

                    input {
                        display: block;
                        margin-bottom: rem-calc(12);
                    }

                    select {
                        margin-top: rem-calc(12);
                        margin-bottom: rem-calc(12);
                    }

                    textarea {
                        display: block;
                        min-height: rem-calc(150);
                        height: 100%;
                    }

                    > div {
                        margin-top: rem-calc(8);

                        > label {
                            @extend %as-p;
                        }
                    }

                    #{$smart-form}-buttons {
                        padding-top: rem-calc(32);
                        margin-top: auto;
                        display: flex;
                        justify-content: space-between;

                        > button {
                            &[type="submit"] {
                                margin-left: auto;

                                @include primary-button;
                            }

                            &:not([type="submit"]) {
                                @include primary-button(2);
                            }
                        }
                    }
                }

                #{$smart-form}-advice {
                    > h4 {
                        margin-bottom: rem-calc(18);

                        @extend %as-h5;

                        > span {
                            background-color: $primary-color;
                            color: $white-color;
                            border-radius: $low-radius;
                            padding: rem-calc(2 6);
                            vertical-align: super;

                            @extend %as-tiny;
                        }
                    }

                    > p {
                        margin-bottom: rem-calc(16);
                        font-weight: 500;
                    }

                    > em {
                        margin-bottom: rem-calc(18);

                        @extend %as-small;
                    }

                    > span {
                        color: $error-color;
                        margin-bottom: rem-calc(18);

                        @extend %as-small;
                    }

                    > a {
                        display: block;
                        margin-top: auto;

                        @include text-link;
                    }

                    > button {
                        color: $grey-color;
                        margin-top: rem-calc(12);

                        @include smooth-trans;

                        &:hover {
                            color: color.adjust($grey-color, $lightness: -15%);
                        }
                    }

                    > div {
                        display: flex;
                        justify-content: space-between;
                        padding-top: rem-calc(32);

                        > button {
                            &[type="submit"] {
                                margin-left: auto;

                                @include primary-button;
                            }

                            &:not([type="submit"]) {
                                @include primary-button(2);
                            }
                        }
                    }
                }

                #{$smart-form}-success {
                    h4 {
                        margin-bottom: rem-calc(16);
                    }

                    button {
                        margin-top: auto;
                        color: $grey-color;
                    }
                }
            }
        }
    }
}
