@use "sass:color";

@use "../../customs" as *;

.smart-form {
    $smart-form: &;

    &-container {
        @include container;

        #{$smart-form}-wrapper {
            display: flex;
            border-radius: $high-radius;
            overflow: hidden;
            flex-direction: column;
            min-height: rem-calc(400);

            @include tablet {
                flex-direction: row;
            }

            #{$smart-form}-content {
                flex: 50%;
                background-color: $lemon-color;

                @include box-padding;

                @include laptop {
                    flex: 45%;
                }

                > h3 {
                    @include underline($thickness: 3px, $color: $white-color);
                }

                > p {
                    margin-top: rem-calc(12);

                    @extend %as-medium;
                }

                > ul:has(li) {
                    margin-top: rem-calc(24);
                    padding: rem-calc(12 16);
                    background-color: $white-color;
                    border-radius: $low-radius;
                    display: flex;
                    flex-direction: column;
                    gap: rem-calc(4);

                    li {
                        line-height: 1.2;

                        > small > button {
                            margin-left: rem-calc(6);

                            @include text-link;
                        }
                    }
                }

                #{$smart-form}-progress {
                    height: rem-calc(5);
                    width: 100%;
                    background: $lightgrey-color;
                    margin-top: rem-calc(8);
                    border-radius: $low-radius;
                    overflow: hidden;

                    > div {
                        height: 100%;
                        width: 0%;
                        background: $link-color;
                        transition: width 0.3s ease-in-out;
                    }
                }
            }

            > form {
                background-color: $smoke-color;
                display: flex;
                flex-direction: column;
                flex: 50%;

                @include laptop {
                    flex: 55%;
                }

                #{$smart-form}-advice,
                #{$smart-form}-success,
                #{$smart-form}-question {
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    @include box-padding("special");
                }

                #{$smart-form}-question {
                    position: relative;

                    #{$smart-form}-header {
                        margin-bottom: rem-calc(12);

                        &:has(svg) {
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;
                            gap: rem-calc(16);

                            svg {
                                @include smooth-trans;

                                &:hover {
                                    color: $link-color;
                                }
                            }

                            > div {
                                position: absolute;
                                display: flex;
                                justify-content: space-between;
                                gap: rem-calc(16);
                                align-items: baseline;
                                background: $primary-color;
                                color: $white-color;
                                right: rem-calc(24);
                                left: rem-calc(24);
                                top: rem-calc(32);
                                padding: rem-calc(16);
                                border-radius: $low-radius;
                                border: 3px solid $lightgrey-color;
                                z-index: 1;

                                > p {
                                    @extend %as-small;
                                }

                                @include phablet {
                                    right: rem-calc(32);
                                    left: rem-calc(32);
                                    top: rem-calc(44);
                                }

                                > button {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: $white-color;
                                    color: $primary-color;
                                    border-radius: $low-radius;
                                    width: rem-calc(20);
                                    height: rem-calc(20);
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }

                    #{$smart-form}-label {
                        font-weight: 600;

                        @extend %as-h6;
                    }

                    #{$smart-form}-select {
                        margin-top: rem-calc(8);

                        > label {
                            @extend %as-p;
                        }
                    }

                    input {
                        display: block;
                        margin-bottom: rem-calc(12);
                    }

                    select {
                        margin-top: rem-calc(12);
                        margin-bottom: rem-calc(12);
                    }

                    textarea {
                        display: block;
                        min-height: rem-calc(150);
                        height: 100%;
                    }

                    #{$smart-form}-buttons {
                        padding-top: rem-calc(32);
                        margin-top: auto;
                        display: flex;
                        justify-content: space-between;

                        > button {
                            &:first-of-type {
                                @include primary-button(2);
                            }

                            &:last-of-type {
                                margin-left: auto;

                                @include primary-button;
                            }
                        }
                    }
                }

                #{$smart-form}-advice {
                    > h4 {
                        margin-bottom: rem-calc(18);

                        @extend %as-h5;

                        > span {
                            background-color: $primary-color;
                            color: $white-color;
                            border-radius: $low-radius;
                            padding: rem-calc(2 6);
                            vertical-align: super;
                            white-space: nowrap;

                            @extend %as-tiny;
                        }
                    }

                    > p {
                        margin-bottom: rem-calc(16);
                    }

                    > em {
                        margin-bottom: rem-calc(18);

                        @extend %as-small;
                    }

                    > span {
                        color: $error-color;
                        margin-bottom: rem-calc(18);

                        @extend %as-small;
                    }

                    > a {
                        display: block;
                        margin-top: auto;

                        @include text-link;
                    }

                    > button {
                        color: $grey-color;
                        margin-top: rem-calc(12);

                        @include smooth-trans;

                        &:hover {
                            color: color.adjust($grey-color, $lightness: -15%);
                        }
                    }

                    > div:has(input) {
                        margin-top: rem-calc(24);
                        min-height: rem-calc(25);
                        position: relative;
                        display: flex;
                        border-top: 1px solid $snow-color;
                        border-bottom: 1px solid $snow-color;
                        padding: rem-calc(16 0);

                        label {
                            font-weight: 500;
                        }
                    }

                    > div:has(button) {
                        display: flex;
                        justify-content: space-between;
                        padding-top: rem-calc(32);

                        > button {
                            &:first-of-type {
                                @include primary-button(2);
                            }

                            &:last-of-type {
                                margin-left: auto;

                                @include primary-button;
                            }

                            &:disabled {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }
                    }
                }

                #{$smart-form}-success {
                    h4 {
                        margin-bottom: rem-calc(16);

                        @extend %as-h5;
                    }

                    button {
                        margin-top: auto;
                        color: $grey-color;
                    }
                }
            }
        }
    }
}
