@use "../../customs" as *;

.biography {
    $biography: &;

    h3 {
        @include section-title;
    }

    &-container {
        @include container;

        #{$biography}-wrapper {
            padding: rem-calc(20 24);

            @include border($grey-color);

            @include phablet {
                padding: rem-calc(36 48);
            }

            > p {
                a {
                    @include text-link;
                }
            }

            > div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    &:first-of-type {
                        color: $primary-color;
                        font-size: rem-calc(32);

                        &:hover {
                            color: $link-color;
                        }
                    }

                    &.meerover {
                        @include primary-button;
                    }
                }
            }

            #{$biography}-text {
                margin-bottom: rem-calc(40);
            }
        }
    }
}
