@use "../../customs" as *;

.faq {
    $faq: &;

    &-container {
        @include container;

        > div {
            display: flex;
            flex-direction: column;
            gap: rem-calc(32);

            @include phablet {
                flex-direction: row;
            }

            #{$faq}-image {
                min-width: rem-calc(300);
                max-width: rem-calc(450);
                width: 100%;
                margin: 0 auto;
                background-color: $smoke-color;
                border-radius: $high-radius;

                @include phablet {
                    margin: unset;
                }

                img {
                    border-radius: $high-radius;
                    filter: opacity(0.9) brightness(1.1);

                    @include border($white-color, 4px);
                }
            }

            #{$faq}-content {
                > span {
                    margin-bottom: rem-calc(36);
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: rem-calc(12 16);

                    > h3 {
                        @include section-title($space: rem-calc(0));

                        @extend %as-h2;
                    }

                    > a {
                        @include more-button;
                    }
                }

                #{$faq}-item {
                    margin-bottom: rem-calc(8);

                    #{$faq}-question {
                        padding-bottom: rem-calc(12);

                        > h4 {
                            @extend %as-h6;
                            @include smooth-trans;
                            @include underline($color: $smoke-color);
                        }

                        &:hover {
                            > h4 {
                                text-decoration-color: $link-color;
                            }
                        }
                    }

                    #{$faq}-answer {
                        max-height: 0;
                        opacity: 0;
                        overflow: hidden;
                        transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                            opacity 0.4s;
                        display: flex;
                        gap: rem-calc(12);

                        > svg {
                            color: $secondary-color;
                            padding-top: rem-calc(2);

                            @include mobile {
                                padding-top: rem-calc(3);
                            }
                        }

                        > p {
                            padding-bottom: rem-calc(16);

                            @extend %as-medium;

                            a {
                                @include text-link;
                            }
                        }

                        &.open {
                            max-height: rem-calc(200);
                            opacity: 1;
                            transition: max-height 0.5s
                                    cubic-bezier(0.4, 0, 0.2, 1),
                                opacity 0.5s;
                        }
                    }
                }
            }
        }
    }
}
