@use "sass:color";

@use "../../customs" as *;

.info {
    $info: &;

    padding: rem-calc(32);
    background: linear-gradient(145deg, $primary-color, $dark-color);
    outline: 2px solid $primary-color;
    border-radius: $medium-radius;
    color: $white-color;

    &-location {
        margin-bottom: rem-calc(24);
    }

    &-availability {
        margin-bottom: rem-calc(24);
    }

    &-times {
        margin-bottom: rem-calc(36);

        > li > span {
            color: $secondary-color;
            min-width: rem-calc(140);
            display: inline-block;
        }
    }

    &-details {
        margin-bottom: rem-calc(48);

        @include fluid-typing(14, 16);
    }

    &-communication {
        display: flex;
        justify-content: space-around;
        gap: rem-calc(16);
        flex-wrap: wrap;
        margin-bottom: rem-calc(36);

        #{$info}-tel,
        #{$info}-mail {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem-calc(8);

            > a {
                font-weight: 500;

                @include smooth-trans;

                i {
                    font-size: rem-calc(16);
                }
            }
        }

        #{$info}-tel {
            > a {
                color: #2b9d53;

                &:hover {
                    color: color.adjust(#2b9d53, $lightness: 10%);
                }
            }
        }

        #{$info}-mail {
            > a {
                color: #84bcde;

                &:hover {
                    color: color.adjust(#84bcde, $lightness: 10%);
                }
            }
        }
    }

    &-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        > p {
            text-align: center;
        }

        > ul {
            display: flex;
            gap: rem-calc(14);
            justify-content: center;
            flex-wrap: wrap;
            margin-top: rem-calc(20);

            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    border-radius: $medium-radius;
                    padding: rem-calc(6);

                    @include smooth-trans;

                    > i {
                        font-size: rem-calc(26);
                    }

                    &:hover {
                        background-color: $white-color;
                        transform: scale(1.125);
                    }

                    &.fb:hover i {
                        color: #4064ad;
                    }

                    &.ig:hover i {
                        color: #dd2a7b;
                    }

                    &.tw:hover i {
                        color: #55acee;
                    }

                    &.li:hover i {
                        color: #0177b5;
                    }

                    &.gh:hover i {
                        color: #24292e;
                    }

                    &.rss:hover i {
                        color: #fa9b3b;
                    }

                    &.patr:hover i {
                        color: #f26451;
                    }

                    &.sky:hover i {
                        color: #05aae8;
                    }

                    &.sp:hover i {
                        color: #1db954;
                    }

                    &.wa:hover i {
                        color: #1ca111;
                    }
                }
            }
        }
    }
}
