@use "sass:color";

@use "../../customs" as *;

.info {
    $info: &;

    background: linear-gradient(145deg, $primary-color, $dark-color);
    outline: 2px solid $primary-color;
    border-radius: $medium-radius;
    color: $white-color;

    @include box-padding("spaced");

    &-location {
        margin-bottom: rem-calc(24);
    }

    &-availability {
        margin-bottom: rem-calc(24);
    }

    &-times {
        margin-bottom: rem-calc(36);

        > li > span {
            color: $secondary-color;
            min-width: rem-calc(140);
            display: inline-block;
        }
    }

    &-details {
        margin-bottom: rem-calc(48);

        @extend %as-small;
    }

    &-communication {
        display: flex;
        justify-content: center;
        gap: rem-calc(32);
        flex-wrap: wrap;
        margin-bottom: rem-calc(48);

        #{$info}-tel,
        #{$info}-mail,
        #{$info}-whapp {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: rem-calc(8);
            padding: rem-calc(8 16);
            border-radius: $low-radius;
            font-weight: 500;
            border: 3px solid rgba($white-color, 0.25);
            color: $white-color;
            width: 100%;

            @include mobile {
                width: fit-content;
            }

            @include phablet {
                padding: rem-calc(8 24);
            }

            > span {
                padding-right: rem-calc(4);

                @include fluid-typing(16, 18);
            }
        }

        #{$info}-tel,
        #{$info}-mail {
            > svg {
                font-size: rem-calc(18);
            }
        }

        #{$info}-whapp {
            > svg {
                font-size: rem-calc(24);
            }
        }

        #{$info}-tel {
            background-color: color.adjust($tel-color, $lightness: -2.5%);

            &:hover {
                background-color: color.adjust($tel-color, $lightness: -7.5%);
            }
        }

        #{$info}-mail {
            background-color: color.adjust($mail-color, $lightness: -2.5%);

            &:hover {
                background-color: color.adjust($mail-color, $lightness: -10%);
            }
        }

        #{$info}-whapp {
            background-color: $smoke-color;
            color: color.adjust($whapp-color, $lightness: -2.5%);

            &:hover {
                background-color: color.adjust($smoke-color, $lightness: -10%);
            }
        }
    }

    &-socials {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: rem-calc(16);

        > p {
            text-align: center;
            margin-bottom: rem-calc(8);
        }

        > ul {
            display: flex;
            gap: rem-calc(12);
            justify-content: center;
            flex-wrap: wrap;
            margin-top: rem-calc(20);

            li {
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border-radius: $medium-radius;
                    aspect-ratio: 1 / 1;
                    padding: rem-calc(2);

                    > svg {
                        font-size: rem-calc(26);

                        @include smooth-trans;
                    }

                    &:hover {
                        background-color: $white-color;
                        transform: scale(1.125);
                    }

                    &.fb:hover svg {
                        color: #4064ad;
                    }

                    &.ig:hover svg {
                        color: #dd2a7b;
                    }

                    &.tw:hover svg {
                        color: #55acee;
                    }

                    &.li:hover svg {
                        color: #0177b5;
                    }

                    &.gh:hover svg {
                        color: #24292e;
                    }

                    &.rss:hover svg {
                        color: #fa9b3b;
                    }

                    &.patr:hover svg {
                        color: #f26451;
                    }

                    &.sky:hover svg {
                        color: #05aae8;
                    }

                    &.sp:hover svg {
                        color: #1db954;
                    }
                }
            }
        }
    }
}
