@use "../../customs" as *;

.notes {
    height: fit-content;

    @include lemon-bg;

    h3 {
        margin-bottom: rem-calc(16);
    }

    p:not(:last-child) {
        margin-bottom: rem-calc(16);

        @include fluid-typing(17, 19);
    }

    a {
        @include text-link;
    }
}
