@use "../../customs" as *;

.prices {
    display: flex;
    gap: 1.5em;
    justify-content: space-evenly;

    > * {
    }

    > li {
        padding: 1.5em 1em;
        gap: 1em;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        background: linear-gradient(to bottom, $spec-color, $secondary-color);
        border-radius: 25px;

        @include smooth-trans;
        @include box-shadow;

        h3 {
            font-family: $right-font;
            text-align: center;
            text-decoration: underline;
            text-decoration-color: $super-color;
            font-weight: 700;
        }

        &:hover {
            transform: scale(1.0125);
            @include smooth-trans;
        }

        .price {
            text-align: center;
            font-weight: 700;
            opacity: 0.8;
            margin: 0 0 0.5em;

            @include fluid-typing(24, 26);

            > data {
                color: $primary-color;
            }

            > span {
                text-decoration: line-through;

                @include fluid-typing(13, 14);
            }

            > sup {
                font-weight: 500;
                display: block;
                top: 0.5em;

                @include fluid-typing(12, 13);
            }

            &-action {
                text-align: center;
                font-weight: bolder;
                opacity: 0.5;

                @include fluid-typing(12, 13);
            }

            &-contains {
                text-align: center;
                font-weight: bold;
                margin: 0.25em 0 1em;
                text-decoration: underline;
                text-decoration-color: $super-color;

                @include fluid-typing(12, 13);
            }

            &-feat {
                font-style: italic;
                font-weight: bold;
                color: white;

                @include fluid-typing(12, 13);
            }

            &-bold {
                font-weight: 700;
                font-style: oblique;
                background: rgba(245 245 245 / 37.5%);
                border-radius: 2.5px;
            }
        }

        > ul {
            margin-bottom: 2em;

            > li {
                list-style: none;
                text-align: center;
                border-bottom: 1px $spec-color solid;
                padding: 0.875em 0.5em;

                @include fluid-typing(14, 16);
            }
        }

        button {
            margin: auto auto 0;
            display: block;

            @include tertiary-button;

            &:hover {
                transform: scale(1);
            }
        }
    }
}

.callme {
    color: #1ca111;
    font-weight: 500;
    box-shadow: none;

    @include smooth-trans;

    &:hover {
        color: #187710;
    }
}

.contactus {
    font-weight: 500;
    box-shadow: none;

    @include text-link;
}
