@use "../../customs" as *;

.price {
    $price: &;

    &-container {
        display: grid;
        gap: rem-calc(24);
        grid-template-columns: 1fr;

        @include container;

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
        }

        @include laptop {
            grid-template-columns: repeat(4, 1fr);
        }

        #{$price}-table {
            display: flex;
            flex-direction: column;
            border: 2px $primary-color solid;
            border-radius: $high-radius;
            background: $white-color;
            overflow: hidden;
            flex: 1;

            @include smooth-trans;

            > h3 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: rem-calc(5);
                text-decoration-thickness: 2px;
                text-decoration-color: $ivory-color;
                padding: rem-calc(8 0);
                background: linear-gradient(
                    to bottom,
                    $secondary-color,
                    $secondary-color
                );

                @include fluid-typing(28, 28);
            }

            > div {
                background: rgba($primary-color, 1);
                color: $white-color;
                padding: rem-calc(16 0 24);

                #{$price}-main {
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: rem-calc(24);

                    > data {
                        @include fluid-typing(24, 26);
                    }

                    > span {
                        text-decoration: line-through;

                        @include fluid-typing(13, 14);
                    }

                    > sup {
                        font-weight: 500;
                        display: block;
                        top: 0.5em;

                        @include fluid-typing(12, 13);
                    }
                }

                #{$price}-action {
                    text-align: center;
                    font-weight: bolder;
                    color: $link-color;
                    background-color: $white-color;
                    width: fit-content;
                    margin: 0 auto rem-calc(24);
                    padding: rem-calc(2 8);
                    border-radius: $low-radius;

                    @include fluid-typing(12, 13);
                }

                #{$price}-contains {
                    text-align: center;
                    font-weight: bold;
                    text-decoration: underline;
                    text-decoration-color: $ivory-color;

                    @include fluid-typing(12, 13);
                }
            }

            > ul {
                margin-bottom: rem-calc(32);

                > li {
                    text-align: center;
                    border-bottom: 1px $lightgrey-color solid;
                    padding: rem-calc(14 12);

                    @include fluid-typing(15, 16);
                }

                #{$price}-feat {
                    font-style: italic;
                    font-weight: 600;
                    color: $grey-color;

                    @include fluid-typing(13, 14);
                }

                #{$price}-bold {
                    font-weight: 700;
                    font-style: oblique;
                    background: $smoke-color;
                }
            }

            > button {
                margin: auto auto rem-calc(16);

                @include primary-button(1, 90%);
            }

            &:hover {
                transform: scale(1.0125);
            }
        }
    }
}
