@use "../../customs" as *;

.prices {
    &-container {
        display: flex;
        gap: rem-calc(24);
        justify-content: space-evenly;

        @include container;

        > div {
            display: flex;
            flex-direction: column;
            border: 2px $primary-color solid;
            border-radius: $high-radius;
            background: $white-color;
            overflow: hidden;
            flex: 1;

            @include smooth-trans;

            > h3 {
                text-align: center;
                text-decoration: underline;
                text-decoration-color: $ivory-color;
                padding: rem-calc(8 0);
                background: linear-gradient(
                    to bottom,
                    $secondary-color,
                    $secondary-color
                );

                @include fluid-typing(24, 28);
            }

            > div {
                background: rgba($primary-color, 1);
                color: $white-color;
                padding: rem-calc(16 0 24);
            }

            &:hover {
                transform: scale(1.01);

                @include smooth-trans;
            }

            .price {
                $price: &;

                &-main {
                    text-align: center;
                    font-weight: 600;
                    margin-bottom: rem-calc(24);

                    > data {
                        @include fluid-typing(24, 26);
                    }

                    > span {
                        text-decoration: line-through;

                        @include fluid-typing(13, 14);
                    }

                    > sup {
                        font-weight: 500;
                        display: block;
                        top: 0.5em;

                        @include fluid-typing(12, 13);
                    }
                }

                &-action {
                    text-align: center;
                    font-weight: bolder;
                    color: $link-color;
                    background-color: $white-color;
                    width: fit-content;
                    margin: 0 auto rem-calc(24);
                    padding: rem-calc(2 8);
                    border-radius: $low-radius;

                    @include fluid-typing(12, 13);
                }

                &-contains {
                    text-align: center;
                    font-weight: bold;
                    text-decoration: underline;
                    text-decoration-color: $ivory-color;

                    @include fluid-typing(12, 13);
                }

                &-feat {
                    font-style: italic;
                    font-weight: 600;
                    color: $grey-color;

                    @include fluid-typing(12, 13);
                }

                &-bold {
                    font-weight: 700;
                    font-style: oblique;
                    background: $smoke-color;
                }
            }

            > ul {
                margin-bottom: rem-calc(32);

                > li {
                    text-align: center;
                    border-bottom: 1px $lightgrey-color solid;
                    padding: rem-calc(14 12);

                    @include fluid-typing(14, 16);
                }
            }

            > button {
                margin: auto auto rem-calc(16);

                @include primary-button(1, 90%);

                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}
