@use "../../customs" as *;

.projects {
    $projects: &;

    &-container {
        @include container;

        > div:first-child {
            margin-bottom: rem-calc(36);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: rem-calc(12 16);

            > h3 {
                @include section-title($align: center, $space: rem-calc(0));
            }

            > a {
                @include more-button;
            }
        }

        #{$projects}-wrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: rem-calc(32);

            @include tablet {
                flex-direction: row;
                gap: rem-calc(64);
            }

            #{$projects}-content {
                flex: 1 1 32.5%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                min-width: rem-calc(360);
                min-height: rem-calc(430);
                height: fit-content;
                border-left: 5px solid $smoke-color;
                padding-left: rem-calc(36);

                @include compact {
                    min-height: rem-calc(440);
                }

                @include mobile {
                    min-height: rem-calc(390);
                }

                @include phablet {
                    min-height: rem-calc(370);
                }

                @include tablet {
                    min-height: rem-calc(460);
                }

                #{$projects}-logo {
                    width: fit-content;
                    margin-bottom: rem-calc(24);
                    padding: rem-calc(8);

                    @include border(rgba($smoke-color, 0.5));
                }

                > h4 {
                    margin-bottom: rem-calc(16);

                    @include fluid-typing(22, 26);
                }

                > p {
                    margin-bottom: rem-calc(16);

                    @extend %as-medium;
                }

                > span {
                    font-weight: 700;
                    margin-bottom: rem-calc(8);
                }

                > ul {
                    display: flex;
                    gap: rem-calc(6);
                    flex-wrap: wrap;
                    margin-bottom: rem-calc(36);

                    > li {
                        background: linear-gradient(
                            145deg,
                            $primary-color,
                            $dark-color
                        );
                        border-radius: $low-radius;
                        padding: rem-calc(2 12);
                        width: fit-content;
                        color: $smoke-color;
                        white-space: nowrap;

                        @include fluid-typing(10, 11);
                    }
                }

                #{$projects}-buttons {
                    display: flex;
                    gap: rem-calc(16);

                    > a {
                        &[target="_blank"] {
                            @include primary-button(2);
                        }

                        &:not([target="_blank"]) {
                            @include primary-button(1);
                        }
                    }
                }
            }

            #{$projects}-slider {
                flex: 1 1 67.5%;
                min-width: 0;

                div [data-gatsby-image-wrapper],
                a [data-gatsby-image-wrapper] {
                    img {
                        border-radius: $medium-radius;
                        aspect-ratio: 16 / 9;

                        @include border($smoke-color);
                    }
                }

                a [data-gatsby-image-wrapper] {
                    img {
                        @include smooth-trans;
                    }

                    &:hover {
                        img {
                            border-color: $link-color;
                        }
                    }
                }

                #{$projects}-navigation {
                    margin-top: rem-calc(24);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > div {
                        width: fit-content;
                    }

                    > button {
                        background-color: #00000020;
                        border-radius: $low-radius;
                        width: rem-calc(32);
                        height: rem-calc(32);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: $lightgrey-color;
                        }
                    }
                }
            }
        }
    }

    &-no-image {
        p {
            display: block;
            max-height: rem-calc(500);
            height: 100%;
        }
    }
}
