@use "../../customs" as *;

.service {
    $service: &;

    background: $smoke-color;

    &-container {
        display: grid;
        grid-template:
            "overlay title title" 1fr
            "overlay intro intro" auto
            "overlay websites webapps" auto
            "overlay webshops seo" auto
            "overlay maintenance optimization" auto
            / auto 1fr 1fr;
        gap: rem-calc(24);

        @include container;

        > h3 {
            grid-area: title;
            margin-top: auto;

            @include section-title($space: 0);
        }

        > p {
            grid-area: intro;
            margin-bottom: rem-calc(24);
        }

        #{$service}-overlay {
            grid-area: overlay;
            padding: rem-calc(36 32);
            min-height: rem-calc(700);
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            > i {
                position: absolute;
                top: rem-calc(-45);
                right: rem-calc(-45);
                font-size: rem-calc(48);
                min-width: rem-calc(100);
                min-height: rem-calc(100);
                display: flex;
                justify-content: center;
                align-items: center;
                background: $secondary-color;
                border-radius: 50%;
            }

            > h4 {
                margin-bottom: rem-calc(24);
            }

            > p {
                margin-bottom: rem-calc(28);

                @include fluid-typing(18, 19);
            }

            > span {
                font-weight: 700;

                @include fluid-typing(17, 18);
            }

            > ul {
                margin-top: rem-calc(8);
                margin-bottom: rem-calc(24);
                font-weight: 400;

                > li {
                    @include fluid-typing(15, 17);

                    &::before {
                        content: "\203B";
                        color: $secondary-color;
                        font-weight: bold;
                        font-size: rem-calc(20);
                        margin-right: rem-calc(8);
                    }
                }
            }

            > a {
                margin-top: auto;

                @include primary-button($width: 100%);
            }
        }

        #{$service}-websites {
            grid-area: websites;
        }

        #{$service}-webapps {
            grid-area: webapps;
        }

        #{$service}-webshops {
            grid-area: webshops;
        }

        #{$service}-seo {
            grid-area: seo;
        }

        #{$service}-maintenance {
            grid-area: maintenance;
        }

        #{$service}-optimization {
            grid-area: optimization;
        }

        #{$service}-overlay,
        #{$service}-websites,
        #{$service}-webapps,
        #{$service}-webshops,
        #{$service}-seo,
        #{$service}-maintenance,
        #{$service}-optimization {
            background-color: $white-color;
            border-radius: $medium-radius;

            @include border($color: $lightgrey-color);
        }

        #{$service}-websites,
        #{$service}-webapps,
        #{$service}-webshops,
        #{$service}-seo,
        #{$service}-maintenance,
        #{$service}-optimization {
            display: flex;
            align-items: center;
            gap: rem-calc(16);
            letter-spacing: $medium-spacing;
            padding: rem-calc(20 24);

            span {
                display: block;
                font-weight: 600;
                white-space: nowrap;

                @include fluid-typing(17, 17);
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: rem-calc(24);
                color: $secondary-color;
                outline: 2px solid white;
                border-radius: 50%;
                min-width: rem-calc(45);
                min-height: rem-calc(45);
                background: #5b5a5a;

                @include box-shadow;
            }

            &:hover {
                border-color: $link-color;
                background: $primary-color;
                color: $white-color;
            }
        }
    }
}
