@use "../../customs" as *;

.service {
    $service: &;

    background-color: $smoke-color;

    &-container {
        display: grid;
        gap: rem-calc(24);
        grid-template:
            "title" auto
            "intro" auto
            "websites" auto
            "webapps" auto
            "webshops" auto
            "seo" auto
            "maintenance" auto
            "optimizations" auto
            "overlay" 1fr
            / 1fr;

        @include container;

        @include phablet {
            grid-template:
                "title title" 1fr
                "intro intro" auto
                "overlay websites" auto
                "overlay webapps" auto
                "overlay webshops" auto
                "overlay seo" auto
                "overlay maintenance" auto
                "overlay optimizations" auto
                / auto 1fr;
        }

        @include desktop {
            grid-template:
                "overlay title title" 1fr
                "overlay intro intro" auto
                "overlay websites webapps" auto
                "overlay webshops seo" auto
                "overlay maintenance optimizations" auto
                / auto 1fr 1fr;
        }

        > span {
            grid-area: title;
            margin-top: auto;
            justify-content: space-between;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: rem-calc(12 16);

            > h3 {
                @include section-title($space: 0);
            }

            a {
                @include more-button;
            }
        }

        > p {
            grid-area: intro;
            margin-bottom: rem-calc(24);
            max-width: 75ch;
        }

        #{$service}-overlay {
            grid-area: overlay;
            position: relative;
            display: flex;
            flex-direction: column;
            scroll-margin-top: rem-calc(130);
            margin-top: rem-calc(32);

            @include box-padding("spaced");

            @include mobile {
                scroll-margin-top: rem-calc(140);
            }

            @include phablet {
                scroll-margin-top: rem-calc(155);
                min-height: rem-calc(700);
                margin-top: unset;
            }

            @include laptop {
                scroll-margin-top: rem-calc(165);
            }

            @include desktop {
                scroll-margin-top: rem-calc(175);
            }

            > div {
                position: absolute;
                top: rem-calc(-40);
                right: rem-calc(10);
                width: rem-calc(67.5);
                height: rem-calc(67.5);
                background-color: $secondary-color;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include phablet {
                    width: rem-calc(87.5);
                    height: rem-calc(87.5);
                }

                @include desktop {
                    top: rem-calc(-45);
                    right: rem-calc(-45);
                    width: rem-calc(100);
                    height: rem-calc(100);
                }

                > svg {
                    @include fluid-typing(36, 48);
                }
            }

            > h4 {
                margin-bottom: rem-calc(24);
            }

            > p {
                margin-bottom: rem-calc(28);

                @include fluid-typing(18, 19);
            }

            > span {
                font-weight: 700;

                @include fluid-typing(17, 18);
            }

            > ul {
                margin-top: rem-calc(8);
                margin-bottom: rem-calc(24);
                font-weight: 400;

                > li {
                    @include fluid-typing(15, 17);

                    &::before {
                        content: "\203B";
                        color: $secondary-color;
                        font-weight: bold;
                        font-size: rem-calc(20);
                        margin-right: rem-calc(8);
                    }
                }
            }

            > a {
                margin-top: auto;

                @include primary-button($width: 100%);
            }
        }

        #{$service}-websites {
            grid-area: websites;
        }

        #{$service}-webapps {
            grid-area: webapps;
        }

        #{$service}-webshops {
            grid-area: webshops;
        }

        #{$service}-seo {
            grid-area: seo;
        }

        #{$service}-maintenance {
            grid-area: maintenance;
        }

        #{$service}-optimizations {
            grid-area: optimizations;
        }

        #{$service}-overlay,
        #{$service}-websites,
        #{$service}-webapps,
        #{$service}-webshops,
        #{$service}-seo,
        #{$service}-maintenance,
        #{$service}-optimizations {
            background-color: $white-color;
            border-radius: $medium-radius;

            @include border($lightgrey-color);
        }

        #{$service}-websites,
        #{$service}-webapps,
        #{$service}-webshops,
        #{$service}-seo,
        #{$service}-maintenance,
        #{$service}-optimizations {
            display: flex;
            align-items: center;
            gap: rem-calc(16);
            letter-spacing: $medium-spacing;
            padding: rem-calc(20 24);
            overflow-wrap: break-word;
            min-width: 0;

            @include mini {
                min-width: max-content;
            }

            &.is-active {
                background-color: $snow-color;
            }

            > div {
                color: $secondary-color;
                outline: 2px solid $white-color;
                border-radius: 50%;
                width: rem-calc(45);
                height: rem-calc(45);
                background-color: $primary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1 / 1;

                @include smooth-trans;

                svg {
                    font-size: rem-calc(24);
                }
            }

            > span {
                display: block;
                font-weight: 600;
                overflow-wrap: break-word;
                min-width: 0;

                @include fluid-typing(16, 17);
            }

            &:not(.is-active) {
                &:hover {
                    border-color: $link-color;
                    background-color: rgba($primary-color, 0.95);
                    color: $white-color;

                    > div {
                        background-color: $white-color;
                        outline-color: $snow-color;
                    }
                }
            }
        }
    }
}
