@use "../../customs" as *;

.service {
    &-container {
        background: linear-gradient(145deg, $sixth-color, $fourth-color);

        @include full-width;
    }

    &-wrapper {
        @include container;

        > div:nth-child(1) {
            display: flex;
            justify-content: space-between;

            > div {
                flex: 1;
                padding: 1.5em 2em;
                border-left: 5px groove rgba($white-color, 0.125);

                &:last-of-type {
                    border-right: 5px groove rgba($white-color, 0.125);
                    padding-right: 2.5em;
                }

                span {
                    font-weight: 700;

                    @include fluid-typing(17, 18);
                }

                p {
                    min-height: 325px;
                    max-width: 95%;
                    margin: 2.5em 0 2em;
                }

                ul {
                    margin-top: 1em;
                    list-style: none;
                    font-weight: 400;

                    li {
                        @include fluid-typing(15, 16);

                        &::before {
                            content: "\203B";
                            color: $secondary-color;
                            font-weight: bold;
                            font-size: 1.25em;
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }

        > div:nth-child(2) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 5em;
            gap: 1.5em;

            > a {
                @include primary-button;

                &:nth-of-type(2) {
                    @include primary-button(2);
                }
            }
        }

        .thick {
            width: 25%;
            border: 3px solid $third-color;
        }

        .thin {
            width: 75%;
            border: 1px solid $secondary-color;
            opacity: 0.5;
            margin-bottom: 2em;
        }

        .endline {
            border-width: 5px;
            background: $secondary-color;
            opacity: 0.5;
            display: none;
        }
    }

    &-title {
        display: flex;
        align-items: center;
        gap: 1em;
        min-height: 75px;
        margin-bottom: 1em;

        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            color: $secondary-color;
            outline: 2px solid white;
            border-radius: 50%;
            min-width: 55px;
            min-height: 55px;
            background: #5b5a5a;

            @include box-shadow;
        }

        h4 {
            font-weight: 600;

            @include fluid-typing(20, 22);
        }
    }
}
