@use "../../customs" as *;

.slider {
    &-wrapper {
        overflow: hidden;
        border-radius: 15px 15px 5px 5px;

        --swiper-navigation-sides-offset: 20px;
        --swiper-navigation-size: 30px;
        --swiper-scrollbar-drag-bg-color: #008cd2;
        --swiper-theme-color: #008cd2;
    }

    &-container {
        border-top: 3px solid $fourth-color;
        border-right: 3px solid $fourth-color;
        border-left: 3px solid $fourth-color;
        border-bottom: 5px solid $secondary-color;
        overflow: hidden;
        border-radius: 15px 15px 5px 5px;
        max-height: 700px;

        img {
            object-position: top;
        }
    }

    &-info {
        z-index: 1;
        position: absolute;
        background: #fff;
        opacity: 0.95;
        right: 20px;
        bottom: 30px;
        max-width: 500px;
        border: 2.5px solid $fifth-color;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1.5em;

        > div {
            display: flex;
            justify-content: space-between;
            gap: 2em;

            > a[target="_blank"] {
                @include primary-button;
            }
        }

        a > h5 {
            font-family: $right-font;
            text-decoration: underline;
            text-decoration-color: $secondary-color;
            text-align: right;

            @include fluid-typing(20, 24);
        }

        > p {
            color: $primary-color;
            text-align: right;
            max-width: 70ch;
            margin-left: auto;

            @include fluid-typing(15, 16);
        }

        > ul {
            display: flex;
            gap: 0.25em;
            justify-content: flex-end;

            > li {
                background: linear-gradient(
                    145deg,
                    $primary-color,
                    $button-hover
                );
                border-radius: $low-radius;
                padding: 0 0.75em;
                width: fit-content;
                color: $sixth-color;
                white-space: nowrap;

                @include box-shadow;

                @include fluid-typing(10, 12);
            }
        }
    }
}
