@use "../../customs" as *;

.smallbio {
    &-container {
        background: linear-gradient(145deg, $spec-color, $white-color);
        opacity: 0.95;

        @include full-width;
    }

    &-wrapper {
        @include container;

        .thick-hr {
            margin: 0;
            width: 15%;
            border: 3px solid $white-color;
        }

        .thin-hr {
            border: 2px solid $white-color;
        }

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2em;

            i {
                color: $primary-color;
                font-size: 2em;

                @include smooth-trans;

                &:hover {
                    color: $link-color;
                }
            }
        }
    }

    &-text {
        margin: 2em 0;
        max-width: 87.5%;

        a {
            @include text-link;
        }
    }
}

.meerover {
    @include primary-button;
}
