@use "../../customs" as *;

.spotify {
    text-align: center;
    width: fit-content;
    height: fit-content;

    @include lemon-bg;

    p {
        margin-bottom: rem-calc(32);

        @include fluid-typing(14, 16);
    }

    iframe {
        height: rem-calc(650);
        border: none;
    }
}
