@use "../../customs" as *;

.usp {
    $usp: &;

    &-container {
        @include container;

        > ul {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            gap: rem-calc(32);
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }

            > li {
                flex: 0 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: rem-calc(225);
                scroll-snap-align: start;

                > svg {
                    color: $primary-color;
                    font-size: xx-large;
                    background: $secondary-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: $low-radius;
                    width: fit-content;
                    padding: rem-calc(8);
                    text-align: center;
                }

                > p {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: rem-calc(220);
                    padding: rem-calc(16);
                    border-radius: $medium-radius;
                    margin-top: rem-calc(20);
                    text-align: center;

                    @include fluid-typing(17, 19);

                    > svg {
                        color: $snow-color;

                        &:first-child {
                            align-self: flex-start;
                        }

                        &:last-child {
                            align-self: flex-end;
                        }
                    }
                }

                &:nth-child(odd) {
                    > p {
                        background-color: $ivory-color;
                    }
                }

                &:nth-child(even) {
                    p {
                        background-color: $smoke-color;
                    }
                }
            }
        }
    }
}
