@use "../../customs" as *;

.desktop-menu {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: linear-gradient(
        to bottom,
        $white-color,
        rgba($white-color, 90%)
    );
    padding: rem-calc(16 0);
    z-index: 7;
    border-top: 7.5px solid $secondary-color;
    border-bottom: 1px solid rgba($white-color, 100%);

    @include phablet {
        padding: rem-calc(20 0);
    }

    @include laptop {
        padding: rem-calc(24 0);
    }

    > nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include container($pt: rem-calc(0), $pb: rem-calc(0));

        .logo {
            display: flex;
            width: rem-calc(175);

            @include mobile {
                width: rem-calc(200);
            }

            @include phablet {
                width: rem-calc(250);
            }
        }

        > ul {
            display: none;
            align-items: center;
            gap: rem-calc(16);
            border: 2px solid rgba($dark-color, 0.75);
            padding: rem-calc(0 16);
            border-radius: $medium-radius;

            @include laptop {
                display: flex;
            }

            > li {
                &:has(.whapp) {
                    padding: rem-calc(0 12);
                    border-left: 2px solid rgba($dark-color, 0.75);
                    border-right: 2px solid rgba($dark-color, 0.75);
                }

                > a {
                    font-weight: 600;
                    font-family: $wdxl-font;
                    text-transform: lowercase;

                    @include smooth-trans;

                    @extend %as-h5;

                    &:hover {
                        color: $dark-color;

                        @include smooth-trans;
                    }

                    > span {
                        color: $secondary-color;
                    }

                    &.whapp {
                        font-size: rem-calc(28);

                        @include smooth-trans;

                        &:hover {
                            color: $whapp-color;
                        }
                    }

                    &.active-page {
                        color: $dark-color;

                        @include smooth-trans;
                    }
                }
            }
        }
    }

    .language {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem-calc(8);

        > button {
            width: rem-calc(28);
            height: rem-calc(28);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $low-radius;
            border: 2px solid rgba($lightgrey-color, 1);
            aspect-ratio: 1;

            @include smooth-trans;
            @extend %as-tiny;

            &:hover {
                background-color: $lemon-color;
            }

            &.active {
                background-color: $primary-color;
                color: $white-color;
                pointer-events: none;
            }
        }

        > span {
            font-size: rem-calc(24);
        }
    }

    .lang-and-hamburger {
        display: flex;
        align-items: center;
        gap: rem-calc(24);

        @include laptop {
            display: none;
        }
    }
}
