@use "../../customs" as *;

.footer {
    $footer: &;

    &-quote,
    &-container {
        @include container;
    }

    &-quote {
        blockquote {
            margin-bottom: rem-calc(32);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: rem-calc(12 8);

            @include fluid-typing(14, 18);

            br {
                display: none;
            }

            cite {
                display: inline-block;
                font-weight: 500;
                font-style: italic;
                background: $smoke-color;
                padding: rem-calc(8 16);
                border-radius: $low-radius;
                text-align: end;
            }
        }
    }

    &-main {
        background: linear-gradient(145deg, $dark-color, $black-color);
        border-top: 7.5px solid $secondary-color;

        #{$footer}-container {
            padding-top: rem-calc(48);
            padding-bottom: rem-calc(16);

            @include laptop {
                padding-top: rem-calc(64);
            }

            #{$footer}-info {
                display: flex;
                justify-content: space-between;
                flex-flow: column wrap;
                gap: rem-calc(36);

                @include phablet {
                    flex-direction: row;

                    &__contact,
                    &__services,
                    &__about,
                    &__socials {
                        flex: 1 1 calc(50% - #{rem-calc(18)});
                        min-width: calc(50% - #{rem-calc(18)});
                    }
                }

                @include laptop {
                    gap: rem-calc(48);
                    flex-wrap: nowrap;

                    &__contact,
                    &__services,
                    &__about,
                    &__socials {
                        flex: 1 1 auto;
                        min-width: auto;
                    }
                }

                &__contact,
                &__services,
                &__about,
                &__socials {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        color: $grey-color;
                        margin-bottom: rem-calc(12);

                        @extend %as-h5;
                    }

                    a {
                        @include smooth-trans;

                        &:not(:has(> svg)) {
                            &:hover {
                                color: $link-color;
                            }
                        }
                    }

                    a,
                    p {
                        color: $white-color;
                    }

                    a:not(:has(> svg)),
                    p {
                        @include fluid-typing(16, 17);
                    }
                }

                &__contact {
                    gap: rem-calc(36);

                    > div {
                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: rem-calc(12);

                            .mail {
                                color: $mail-color;
                            }

                            .tel {
                                color: $tel-color;
                            }
                        }
                    }

                    .amsterdam {
                        color: #d4121a;
                        font-weight: 700;
                    }
                }

                &__services,
                &__about {
                    > ul {
                        display: flex;
                        flex-direction: column;
                        gap: rem-calc(12);
                    }
                }

                &__socials {
                    align-items: center;

                    @include mobile {
                        align-items: flex-start;
                    }

                    > ul {
                        display: flex;
                        gap: rem-calc(16);
                        margin-bottom: rem-calc(36);

                        li {
                            font-size: unset;

                            a {
                                width: rem-calc(32);
                                height: rem-calc(32);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: $medium-radius;

                                &:hover {
                                    background: $white-color;
                                }

                                &.fb:hover {
                                    svg {
                                        color: $fb-color;
                                    }
                                }

                                &.ig:hover {
                                    svg {
                                        color: $ig-color;
                                    }
                                }

                                &.tw:hover {
                                    svg {
                                        color: $tw-color;
                                    }
                                }

                                &.li:hover {
                                    svg {
                                        color: $li-color;
                                    }
                                }

                                &.gh:hover {
                                    svg {
                                        color: $gh-color;
                                    }
                                }
                            }
                        }
                    }

                    > div {
                        width: rem-calc(340);
                        height: rem-calc(130);
                        border-radius: $less-radius;
                        overflow: hidden;
                        align-self: center;
                        margin-bottom: rem-calc(36);

                        @include mobile {
                            align-self: flex-start;
                        }
                    }

                    > a {
                        max-width: rem-calc(175);
                        display: block;

                        img {
                            outline: 2px solid transparent;
                            border-radius: $medium-radius;
                        }

                        &:hover {
                            img {
                                outline-color: $link-color;
                            }
                        }
                    }
                }

                > hr {
                    height: 2px;
                    width: 100%;
                    margin: 0 auto;
                    background: $dark-color;

                    @include mobile {
                        display: none;
                    }
                }
            }

            #{$footer}-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: rem-calc(64) auto;
                padding: rem-calc(4);
                background: $smoke-color;
                border-radius: 50%;
                width: fit-content;

                img {
                    width: rem-calc(75);
                    animation: roll 45s infinite;
                    transform: rotate(30deg);

                    @include smooth-trans;

                    @keyframes roll {
                        0% {
                            transform: rotate(360deg);
                        }

                        25% {
                            transform: rotate(180deg);
                        }

                        50% {
                            transform: rotate(360deg);
                        }

                        75% {
                            transform: rotate(0deg);
                        }

                        100% {
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            #{$footer}-credits {
                display: block;
                text-align: center;
                color: $smoke-color;
                padding-bottom: rem-calc(20);
                max-width: 77.5ch;
                margin: 0 auto;

                @extend %as-tiny;

                a {
                    @include text-link;
                }

                span {
                    color: $secondary-color;
                    margin: rem-calc(0 4);
                }
            }
        }
    }
}
