@use "../../customs" as *;

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: rem-calc(35);
    width: rem-calc(37.5);
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    z-index: 6;
    position: inherit;
    cursor: pointer;

    @include smooth-trans;

    > div {
        width: 100%;
        height: rem-calc(6);
        background: $primary-color;
        border-radius: $low-radius;
    }

    &:hover {
        > div {
            background-color: $grey-color;
        }
    }
}
