@use "../../customs" as *;

.hero {
    $hero: &;

    position: relative;

    #{$hero}-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: rem-calc(60);

        @include container;

        #{$hero}-visual {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: rem-calc(50);
            width: 100%;

            @include tablet {
                flex-direction: row;
            }

            @include laptop {
                gap: rem-calc(62.5);
            }

            @include desktop {
                gap: rem-calc(75);
            }

            #{$hero}-content {
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: rem-calc(16);

                #{$hero}-logo {
                    position: relative;
                    width: fit-content;
                    margin-left: auto;

                    img {
                        width: rem-calc(75);
                        height: rem-calc(75);
                        animation: hero-roll 60s infinite;
                        transform: rotate(180deg);
                        margin-bottom: rem-calc(24);
                        border-radius: 50%;

                        @include smooth-trans;

                        @include mobile {
                            width: rem-calc(87.5);
                            height: rem-calc(87.5);
                        }

                        @include phablet {
                            width: rem-calc(100);
                            height: rem-calc(100);
                        }

                        @include laptop {
                            width: rem-calc(125);
                            height: rem-calc(125);
                        }
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: rem-calc(150);
                        height: rem-calc(10);
                        border-radius: 5px;
                        border: 4px solid $primary-color;
                        outline: 2px solid $dark-color;
                        bottom: 0;
                        right: rem-calc(5);
                        background-color: $secondary-color;

                        @include phablet {
                            width: rem-calc(200);
                        }
                    }
                }

                > h1 {
                    margin-top: rem-calc(4);

                    @include fluid-typing(21, 28);
                }

                > h2 {
                    text-align: right;
                    max-width: rem-calc(750);
                    color: $smoke-color;
                    background: linear-gradient(
                        145deg,
                        rgba($grey-color, 0.825),
                        rgba($dark-color, 0.825)
                    );
                    padding: rem-calc(18);
                    border-radius: $high-radius;
                    opacity: 0.95;

                    @include border($primary-color);

                    @include fluid-typing(19, 26);

                    @include phablet {
                        padding: rem-calc(28 32);
                    }

                    @include tablet {
                        background: linear-gradient(
                            145deg,
                            $grey-color,
                            $dark-color
                        );
                    }

                    > span {
                        color: $secondary-color;
                    }
                }

                > div:has(> a) {
                    display: flex;
                    gap: rem-calc(16);
                    margin-top: rem-calc(20);

                    > a {
                        &:nth-child(1) {
                            @include primary-button(3);
                        }

                        &:nth-child(2) {
                            @include primary-button(1);
                        }
                    }
                }

                > ul {
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    margin-right: rem-calc(6);
                    gap: rem-calc(8);

                    @include phablet {
                        gap: rem-calc(16);
                    }

                    li {
                        display: flex;
                        align-items: center;
                        gap: rem-calc(4);

                        svg {
                            path {
                                fill: $secondary-color;
                            }
                        }

                        span {
                            font-weight: 500;

                            @include fluid-typing(12, 17);
                        }
                    }
                }
            }

            // > hr {
            //     display: none;
            //     width: rem-calc(3);
            //     height: rem-calc(150);
            //     border-radius: 5px;
            //     opacity: 0.25;
            //     background: linear-gradient(
            //         145deg,
            //         $primary-color,
            //         $secondary-color
            //     );

            //     @include tablet {
            //         display: block;
            //     }
            // }

            > div:has([data-gatsby-image-wrapper]) {
                display: none;
                background-color: $smoke-color;
                border-radius: $low-radius;

                @include full-width("hero");

                @include tablet {
                    display: block;
                    padding: rem-calc(16);
                }

                #{$hero}-image {
                    max-width: rem-calc(375);
                    opacity: 0.95;

                    @extend %image;

                    @include phablet {
                        min-width: rem-calc(350);
                    }

                    img {
                        border-radius: $medium-radius;
                        filter: opacity(0.9) brightness(1.1);

                        @include border($smoke-color, 7px);
                    }
                }
            }
        }

        #{$hero}-cta {
            display: flex;
            flex-direction: column;
            gap: rem-calc(75);
            margin-top: rem-calc(48);

            #{$hero}-scroll {
                position: relative;
                bottom: 0;
                margin: 0 auto;
                width: rem-calc(25);
                height: rem-calc(25);
                border-bottom: 7.5px solid $secondary-color;
                border-right: 7.5px solid $primary-color;
                transform: translate(-50%, 0) rotate(45deg);
                animation: fade-down 1.5s cubic-bezier(0.19, 1, 0.22, 1)
                    infinite;
                cursor: pointer;
            }

            #{$hero}-buttons {
                display: flex;
                align-items: center;
                gap: rem-calc(8);

                @include mini {
                    gap: rem-calc(16);
                }

                > a {
                    font-weight: 600;

                    @extend %as-h6;

                    &:hover {
                        color: $link-color;
                    }
                }

                > span {
                    color: $secondary-color;
                    pointer-events: none;
                }
            }
        }
    }

    #{$hero}-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        opacity: 0.375;
        background-image: url("../../../images/mf.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        will-change: transform;

        @include tablet {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 25%;
            pointer-events: none;
            background: linear-gradient(
                to bottom,
                rgba($white-color, 0) 0%,
                rgba($white-color, 1) 100%
            );
        }

        // Disable parallax on mobile/tablet devices (background-attachment: fixed issues)
        @media only screen and (device-width <= 1366px) {
            background-attachment: scroll;
        }
    }
}
