@use "../../customs" as *;

.hero {
    $hero: &;

    #{$hero}-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: rem-calc(100);

        @include container;

        #{$hero}-visual {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            gap: rem-calc(50);
            width: 100%;

            @include phablet {
                flex-direction: row;
                gap: rem-calc(37.5);
            }

            @include tablet {
                gap: rem-calc(75);
            }

            #{$hero}-content {
                text-align: right;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: rem-calc(16);
                max-width: rem-calc(750);
                color: $smoke-color;
                background: linear-gradient(145deg, $grey-color, $dark-color);
                border: 3px solid $primary-color;
                padding: rem-calc(18);
                border-radius: 10px;

                @include phablet {
                    padding: rem-calc(28 32);
                }

                #{$hero}-logo {
                    position: relative;
                    width: fit-content;
                    margin-left: auto;

                    img {
                        width: rem-calc(75);
                        height: rem-calc(75);
                        animation: hero-roll 60s infinite;
                        transform: rotate(180deg);
                        margin-bottom: rem-calc(24);
                        padding: rem-calc(4);
                        background-color: $smoke-color;
                        border-radius: 50%;

                        @include smooth-trans;

                        @include mobile {
                            width: rem-calc(87.5);
                            height: rem-calc(87.5);
                        }

                        @include phablet {
                            width: rem-calc(100);
                            height: rem-calc(100);
                        }

                        @include laptop {
                            width: rem-calc(125);
                            height: rem-calc(125);
                        }
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        width: rem-calc(150);
                        height: rem-calc(10);
                        border-radius: 5px;
                        border: 4px solid $primary-color;
                        outline: 2px solid $dark-color;
                        bottom: 0;
                        right: rem-calc(5);
                        background-color: $secondary-color;

                        @include phablet {
                            width: rem-calc(200);
                        }
                    }
                }

                > h1 {
                    margin-top: rem-calc(4);

                    @include fluid-typing(21, 28);
                }

                > h2 {
                    color: $snow-color;
                    text-align: right;

                    @include fluid-typing(19, 26);

                    > span {
                        color: $secondary-color;
                    }
                }

                > div:has(> a) {
                    display: flex;
                    gap: rem-calc(16);
                    margin-top: rem-calc(20);

                    > a {
                        &:nth-child(1) {
                            @include primary-button(2);
                        }

                        &:nth-child(2) {
                            @include primary-button(1);
                        }
                    }
                }
            }

            > div > ul {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                margin-top: rem-calc(16);
                margin-right: rem-calc(6);
                gap: rem-calc(8);

                @include phablet {
                    gap: rem-calc(16);
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: rem-calc(4);

                    svg {
                        path {
                            fill: $secondary-color;
                        }
                    }

                    span {
                        font-weight: 500;

                        @include fluid-typing(12, 17);
                    }
                }
            }

            > hr {
                display: block;
                height: rem-calc(3);
                width: 100%;
                border-radius: 5px;
                background: linear-gradient(
                    145deg,
                    $primary-color,
                    $secondary-color
                );

                @include phablet {
                    width: rem-calc(3);
                    height: rem-calc(200);
                }
            }

            #{$hero}-image {
                max-width: rem-calc(400);

                @extend %image;

                img {
                    border: 2px solid $primary-color;
                }
            }
        }

        #{$hero}-cta {
            display: flex;
            flex-direction: column;
            gap: rem-calc(75);

            #{$hero}-scroll {
                position: relative;
                bottom: 0;
                margin: 0 auto;
                width: rem-calc(25);
                height: rem-calc(25);
                border-bottom: 7.5px solid $secondary-color;
                border-right: 7.5px solid $primary-color;
                transform: translate(-50%, 0) rotate(45deg);
                animation: fade-down 1.5s cubic-bezier(0.19, 1, 0.22, 1)
                    infinite;
                cursor: pointer;
            }

            #{$hero}-buttons {
                display: flex;
                align-items: center;
                gap: rem-calc(8);

                @include mini {
                    gap: rem-calc(16);
                }

                > a {
                    font-weight: 600;

                    @extend %as-h6;

                    &:hover {
                        color: $link-color;
                    }
                }

                > span {
                    color: $secondary-color;
                    pointer-events: none;
                }
            }
        }
    }
}
