@use "../../customs" as *;

.mobile-menu {
    height: 100%;
    opacity: 0.95;
    background: linear-gradient(145deg, white, $lightgrey-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    overflow-y: scroll;

    &.open {
        transform: translateY(0);
    }

    @include laptop {
        display: none;
    }

    ul {
        display: block;
        text-align: center;
        padding-top: rem-calc(144);
        height: 100%;

        @include phablet {
            padding-top: rem-calc(144);
        }

        li {
            margin-bottom: rem-calc(16);

            &:last-of-type {
                border-top: 3px solid $snow-color;
                padding-top: rem-calc(16);
                margin-top: rem-calc(16);
                padding-bottom: rem-calc(36);
            }

            a {
                color: $primary-color;
                text-shadow: -5px 0 #ccc, 0 5px #ccc, 5px 0 #ccc, 0 -5px #ccc;
                font-weight: 600;
                text-transform: lowercase;

                @extend %as-h5;

                &:hover:not(.active-page) {
                    text-shadow: -15px 0 $lightgrey-color,
                        0 15px $lightgrey-color, 15px 0 $lightgrey-color,
                        0 -15px $lightgrey-color;
                }

                .dots {
                    color: $secondary-color;
                    font-size: rem-calc(24);
                }

                &.whapp {
                    @extend %as-h6;

                    > svg {
                        margin-right: 0.5em;
                        font-size: rem-calc(20);
                        color: $whapp-color;
                    }
                }

                &.active-page {
                    text-shadow: -10px 0 $secondary-color,
                        0 10px $secondary-color, 10px 0 $secondary-color,
                        0 -10px $secondary-color;

                    @extend %as-h4;

                    .dots {
                        color: $lightgrey-color;
                    }
                }
            }
        }
    }
}
