@use "../../customs" as *;

.tpwriter {
    font-family: $poppins-font;
    margin: 0 auto;
    letter-spacing: -0.5px;
    font-size: 2rem;
    font-weight: 600;

    .dot {
        color: $secondary-color;
    }

    .welkom {
    }

    span {
        color: $base-color;
    }

    br {
        display: none;
    }

    &.anim-typewriter {
        &-nl {
            animation: typewriter 6s steps(50) 1.5s 1 normal both,
                blink-text-cursor 1300ms steps(60) infinite normal;
            max-width: 590px;

            @keyframes typewriter {
                from {
                    width: 0;
                }

                to {
                    width: 590px;
                }
            }

            @keyframes blink-text-cursor {
                from {
                    border-right-color: $secondary-color;
                }

                to {
                    border-right-color: transparent;
                }
            }
        }

        &-en {
            animation: typewriter 6s steps(50) 1.5s 1 normal both,
                blink-text-cursor 1300ms steps(60) infinite normal;
            max-width: 685px;

            @keyframes typewriter {
                from {
                    width: 0;
                }

                to {
                    width: 685px;
                }
            }

            @keyframes blink-text-cursor {
                from {
                    border-right-color: $secondary-color;
                }

                to {
                    border-right-color: transparent;
                }
            }
        }
    }

    &.line {
        margin: auto;
        border-right: 3px solid $secondary-color;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
    }
}
